In [1]:
import arcgis.gis

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

In [36]:
df1 = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\SegmentsJoinPennDOT_Points.xlsx')
df1.head()

,OBJECTID,SplittedByAllPoints_ROUTE_NAME,SplittedByAllPoints_RoadClass,SplittedByAllPoints_SegmentID,PDpointsNearAllSegments_OBJECTID,PDpointsNearAllSegments_RouteName,PDpointsNearAllSegments_ADT,PDpointsNearAllSegments_ADTT,PDpointsNearAllSegments_CountYear,PDpointsNearAllSegments_TruckPercent,PDpointsNearAllSegments_TruckPercentage,PDpointsNearAllSegments_NewADT,PDpointsNearAllSegments_NewADTT,PDpointsNearAllSegments_RoadClass,PDpointsNearAllSegments_NEAR_FID,PDpointsNearAllSegments_NEAR_DIST,Shape_Length
0,1,I-476,Interstate Highway,1,48.0,I-476,45645.0,7373.0,NaN,16.0,16%,"45,645","7,373",Interstate Highway,1.0,21.809373,33340.952702
1,2,I-476,Interstate Highway,2,49.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,2.0,22.404899,102058.490077
2,3,I-476,Interstate Highway,2,50.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,2.0,7.730144,102058.490077
3,4,I-476,Interstate Highway,2,51.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,2.0,10.150263,102058.490077
4,5,I-476,Interstate Highway,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33327.782830

In [24]:
titles = df1.columns
titles[1:5]

Index(['ADT average value', 'count', 'ROUTE_NAME', 'SegmentID'], dtype='object')

In [38]:
df1.columns = df1.columns.str.replace("SplittedByAllPoints_", "")

In [39]:
df1.columns = df1.columns.str.replace('PDpointsNearAllSegments_', '')

In [7]:
df1.columns

Index(['OBJECTID', 'ROUTE_NAME', 'RoadClass', 'SegmentID', 'OBJECTID',
       'RouteName', 'ADT', 'ADTT', 'CountYear', 'TruckPercent',
       'TruckPercentage', 'NewADT', 'NewADTT', 'RoadClass', 'NEAR_FID',
       'NEAR_DIST', 'Shape_Length'],
      dtype='object')

In [8]:
df1.columns = ['OBJECTID', 'ROUTE_NAME', 'RoadClass', 'SegmentID', 'PointID',
       'RouteName', 'ADT', 'ADTT', 'CountYear', 'TruckPercent',
       'TruckPercentage', 'NewADT', 'NewADTT', 'RoadClass', 'NEAR_FID',
       'NEAR_DIST', 'Shape_Length']

In [10]:
df1.tail()

,OBJECTID,ROUTE_NAME,RoadClass,SegmentID,PointID,RouteName,ADT,ADTT,CountYear,TruckPercent,TruckPercentage,NewADT,NewADTT,RoadClass,NEAR_FID,NEAR_DIST,Shape_Length
191,192,STATE HWY 33,Major Road,183,32.0,33,32352.0,3882.0,2017.0,12.0,12%,"32,352","3,882",Major Road,183.0,5.326212,69616.717596
192,193,STATE HWY 33,Major Road,183,33.0,33,25448.0,2544.0,2014.0,10.0,10%,"25,448","2,544",Major Road,183.0,1.379405,69616.717596
193,194,STATE HWY 33,Major Road,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11437.586610
194,195,STATE HWY 33,Major Road,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1513.009021
195,196,T413,Major Road,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2409.604747

In [39]:
df_join = df1[['SegmentID', 'ROUTE_NAME']].drop_duplicates()
df_join

     SegmentID    ROUTE_NAME
0            1         I-476
1            2         I-476
4            3         I-476
5            4         I-476
6            5           I78
7            6           I78
8            7           I78
9            8           I78
10           9           I78
11          10           I78
12          11           I78
13          12           I78
15          13           I78
16          14           I78
17          15           I78
18          16           I78
19          17           I78
20          18           I78
21          19     PA RT 145
22          20     PA RT 145
23          21     PA RT 145
24          22     PA RT 145
25          23     PA RT 191
26          24     PA RT 191
27          25     PA RT 191
28          26     PA RT 191
29          27     PA RT 191
30          28     PA RT 191
31          29     PA RT 191
32          30     PA RT 248
..         ...           ...
164        157       SR 1002
166        158       SR 1002
167        159       SR 1003
168        160       SR 1003
169        161  STATE HWY 22
170        162  STATE HWY 22
171        163  STATE HWY 22
172        164  STATE HWY 22
173        165  STATE HWY 22
174        166  STATE HWY 22
175        167  STATE HWY 22
176        168  STATE HWY 22
177        169  STATE HWY 33
178        170  STATE HWY 33
179        171  STATE HWY 33
180        172  STATE HWY 33
181        173  STATE HWY 33
182        174  STATE HWY 33
183        175  STATE HWY 33
184        176  STATE HWY 33
185        177  STATE HWY 33
186        178  STATE HWY 33
187        179  STATE HWY 33
188        180  STATE HWY 33
189        181  STATE HWY 33
190        182  STATE HWY 33
191        183  STATE HWY 33
193        184  STATE HWY 33
194        185  STATE HWY 33
195        186          T413

[186 rows x 2 columns]

In [38]:
df_r1 = (pd.DataFrame(df1.groupby(['SegmentID'])['ADT'].agg(['mean', 'count'])).
         reset_index().rename(columns = {'mean': 'ADT average value'}))
df_r1

     SegmentID  ADT average value  count
0            1            45645.0      1
1            2            30240.0      3
2            3                NaN      0
3            4                NaN      0
4            5                NaN      0
5            6                NaN      0
6            7                NaN      0
7            8                NaN      0
8            9                NaN      0
9           10                NaN      0
10          11                NaN      0
11          12            33822.5      2
12          13                NaN      0
13          14                NaN      0
14          15                NaN      0
15          16                NaN      0
16          17                NaN      0
17          18                NaN      0
18          19                NaN      0
19          20             5496.0      1
20          21                NaN      0
21          22             8492.0      1
22          23            13680.0      1
23          24                NaN      0
24          25                NaN      0
25          26             7609.0      1
26          27                NaN      0
27          28                NaN      0
28          29             2446.0      1
29          30                NaN      0
..         ...                ...    ...
156        157            10772.0      2
157        158                NaN      0
158        159                NaN      0
159        160            14102.0      1
160        161                NaN      0
161        162                NaN      0
162        163                NaN      0
163        164                NaN      0
164        165                NaN      0
165        166                NaN      0
166        167                NaN      0
167        168                NaN      0
168        169                NaN      0
169        170                NaN      0
170        171                NaN      0
171        172                NaN      0
172        173                NaN      0
173        174            25269.0      1
174        175                NaN      0
175        176                NaN      0
176        177                NaN      0
177        178                NaN      0
178        179                NaN      0
179        180                NaN      0
180        181                NaN      0
181        182                NaN      0
182        183            28900.0      2
183        184                NaN      0
184        185                NaN      0
185        186                NaN      0

[186 rows x 3 columns]

In [12]:
pd.pivot_table(df1, index = 'SegmentID', values = 'ADT', aggfunc = [len, np.mean]).reset_index()

    SegmentID  len     mean
               ADT      ADT
0           1  1.0  45645.0
1           2  3.0  30240.0
2           3  1.0      NaN
3           4  1.0      NaN
4           5  1.0      NaN
5           6  1.0      NaN
6           7  1.0      NaN
7           8  1.0      NaN
8           9  1.0      NaN
9          10  1.0      NaN
10         11  1.0      NaN
11         12  2.0  33822.5
12         13  1.0      NaN
13         14  1.0      NaN
14         15  1.0      NaN
15         16  1.0      NaN
16         17  1.0      NaN
17         18  1.0      NaN
18         19  1.0      NaN
19         20  1.0   5496.0
20         21  1.0      NaN
21         22  1.0   8492.0
22         23  1.0  13680.0
23         24  1.0      NaN
24         25  1.0      NaN
25         26  1.0   7609.0
26         27  1.0      NaN
27         28  1.0      NaN
28         29  1.0   2446.0
29         30  1.0      NaN
..        ...  ...      ...
156       157  2.0  10772.0
157       158  1.0      NaN
158       159  1.0      NaN
159       160  1.0  14102.0
160       161  1.0      NaN
161       162  1.0      NaN
162       163  1.0      NaN
163       164  1.0      NaN
164       165  1.0      NaN
165       166  1.0      NaN
166       167  1.0      NaN
167       168  1.0      NaN
168       169  1.0      NaN
169       170  1.0      NaN
170       171  1.0      NaN
171       172  1.0      NaN
172       173  1.0      NaN
173       174  1.0  25269.0
174       175  1.0      NaN
175       176  1.0      NaN
176       177  1.0      NaN
177       178  1.0      NaN
178       179  1.0      NaN
179       180  1.0      NaN
180       181  1.0      NaN
181       182  1.0      NaN
182       183  2.0  28900.0
183       184  1.0      NaN
184       185  1.0      NaN
185       186  1.0      NaN

[186 rows x 3 columns]

In [41]:
#Join the groupby result and the road name
df_1 = pd.merge(df_r1, df_join, on = 'SegmentID', how = 'left')
df_1

     SegmentID  ADT average value  count    ROUTE_NAME
0            1            45645.0      1         I-476
1            2            30240.0      3         I-476
2            3                NaN      0         I-476
3            4                NaN      0         I-476
4            5                NaN      0           I78
5            6                NaN      0           I78
6            7                NaN      0           I78
7            8                NaN      0           I78
8            9                NaN      0           I78
9           10                NaN      0           I78
10          11                NaN      0           I78
11          12            33822.5      2           I78
12          13                NaN      0           I78
13          14                NaN      0           I78
14          15                NaN      0           I78
15          16                NaN      0           I78
16          17                NaN      0           I78
17          18                NaN      0           I78
18          19                NaN      0     PA RT 145
19          20             5496.0      1     PA RT 145
20          21                NaN      0     PA RT 145
21          22             8492.0      1     PA RT 145
22          23            13680.0      1     PA RT 191
23          24                NaN      0     PA RT 191
24          25                NaN      0     PA RT 191
25          26             7609.0      1     PA RT 191
26          27                NaN      0     PA RT 191
27          28                NaN      0     PA RT 191
28          29             2446.0      1     PA RT 191
29          30                NaN      0     PA RT 248
..         ...                ...    ...           ...
156        157            10772.0      2       SR 1002
157        158                NaN      0       SR 1002
158        159                NaN      0       SR 1003
159        160            14102.0      1       SR 1003
160        161                NaN      0  STATE HWY 22
161        162                NaN      0  STATE HWY 22
162        163                NaN      0  STATE HWY 22
163        164                NaN      0  STATE HWY 22
164        165                NaN      0  STATE HWY 22
165        166                NaN      0  STATE HWY 22
166        167                NaN      0  STATE HWY 22
167        168                NaN      0  STATE HWY 22
168        169                NaN      0  STATE HWY 33
169        170                NaN      0  STATE HWY 33
170        171                NaN      0  STATE HWY 33
171        172                NaN      0  STATE HWY 33
172        173                NaN      0  STATE HWY 33
173        174            25269.0      1  STATE HWY 33
174        175                NaN      0  STATE HWY 33
175        176                NaN      0  STATE HWY 33
176        177                NaN      0  STATE HWY 33
177        178                NaN      0  STATE HWY 33
178        179                NaN      0  STATE HWY 33
179        180                NaN      0  STATE HWY 33
180        181                NaN      0  STATE HWY 33
181        182                NaN      0  STATE HWY 33
182        183            28900.0      2  STATE HWY 33
183        184                NaN      0  STATE HWY 33
184        185                NaN      0  STATE HWY 33
185        186                NaN      0          T413

[186 rows x 4 columns]

In [42]:
df2 = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\SegmentsJoinBrian_Points.xlsx')
df2.head()

,OBJECTID,SplittedByAllPoints_ROUTE_NAME,SplittedByAllPoints_RoadClass,SplittedByAllPoints_SegmentID,BrianPoints4NearAllSegments_OBJECTID,BrianPoints4NearAllSegments_NC17_F2017_Trial,BrianPoints4NearAllSegments_Site_Number,BrianPoints4NearAllSegments_Site_No,BrianPoints4NearAllSegments_County,BrianPoints4NearAllSegments_Route,...,BrianPoints4NearAllSegments_FinalData2014_csv_Field11,BrianPoints4NearAllSegments_LC17_F2017_Trial,BrianPoints4NearAllSegments_LC17_TMS_SITE_N,BrianPoints4NearAllSegments__csv_New_Truck_Percent,BrianPoints4NearAllSegments_RouteB,BrianPoints4NearAllSegments_LC15_STATION_ID,BrianPoints4NearAllSegments_LC15_TMS_SITE_N,BrianPoints4NearAllSegments_NEAR_FID,BrianPoints4NearAllSegments_NEAR_DIST,Shape_Length
0,1,I-476,Interstate Highway,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33340.952702
1,2,I-476,Interstate Highway,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102058.490077
2,3,I-476,Interstate Highway,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33327.782830
3,4,I-476,Interstate Highway,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102018.128689
4,5,I78,Interstate Highway,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,746.614931

In [44]:
df2.columns

Index(['OBJECTID', 'SplittedByAllPoints_ROUTE_NAME',
       'SplittedByAllPoints_RoadClass', 'SplittedByAllPoints_SegmentID',
       'BrianPoints4NearAllSegments_OBJECTID',
       'BrianPoints4NearAllSegments_NC17_F2017_Trial',
       'BrianPoints4NearAllSegments_Site_Number',
       'BrianPoints4NearAllSegments_Site_No',
       'BrianPoints4NearAllSegments_County',
       'BrianPoints4NearAllSegments_Route',
       'BrianPoints4NearAllSegments_Street_Name',
       'BrianPoints4NearAllSegments_Municipality',
       'BrianPoints4NearAllSegments_AADT', 'BrianPoints4NearAllSegments_ADTT',
       'BrianPoints4NearAllSegments_Truck_Percent',
       'BrianPoints4NearAllSegments_Count_Date',
       'BrianPoints4NearAllSegments_FinalData2017_csv_Field10',
       'BrianPoints4NearAllSegments_NewAADT',
       'BrianPoints4NearAllSegments_NewADTT',
       'BrianPoints4NearAllSegments_New_Truck_Percent',
       'BrianPoints4NearAllSegments_FinalData2017_csv_Field14',
       'BrianPoints4NearAllSegments_FinalData2017_csv_Field15',
       'BrianPoints4NearAllSegments_Location',
       'BrianPoints4NearAllSegments_CountYear',
       'BrianPoints4NearAllSegments_ORIG_FID',
       'BrianPoints4NearAllSegments_TMS_SITE_N',
       'BrianPoints4NearAllSegments_FinalData2015_csv_Field11',
       'BrianPoints4NearAllSegments_NC14_CUR_AADT',
       'BrianPoints4NearAllSegments_NC14_TRUCK_PERC',
       'BrianPoints4NearAllSegments_SiteNo',
       'BrianPoints4NearAllSegments_Route_Backup',
       'BrianPoints4NearAllSegments_FinalData2014_csv_Field11',
       'BrianPoints4NearAllSegments_LC17_F2017_Trial',
       'BrianPoints4NearAllSegments_LC17_TMS_SITE_N',
       'BrianPoints4NearAllSegments__csv_New_Truck_Percent',
       'BrianPoints4NearAllSegments_RouteB',
       'BrianPoints4NearAllSegments_LC15_STATION_ID',
       'BrianPoints4NearAllSegments_LC15_TMS_SITE_N',
       'BrianPoints4NearAllSegments_NEAR_FID',
       'BrianPoints4NearAllSegments_NEAR_DIST', 'Shape_Length'],
      dtype='object')

In [45]:
df2.columns = df2.columns.str.replace("SplittedByAllPoints_", "")
df2.columns = df2.columns.str.replace('BrianPoints4NearAllSegments_', '')
df2.columns

Index(['OBJECTID', 'ROUTE_NAME', 'RoadClass', 'SegmentID', 'OBJECTID',
       'NC17_F2017_Trial', 'Site_Number', 'Site_No', 'County', 'Route',
       'Street_Name', 'Municipality', 'AADT', 'ADTT', 'Truck_Percent',
       'Count_Date', 'FinalData2017_csv_Field10', 'NewAADT', 'NewADTT',
       'New_Truck_Percent', 'FinalData2017_csv_Field14',
       'FinalData2017_csv_Field15', 'Location', 'CountYear', 'ORIG_FID',
       'TMS_SITE_N', 'FinalData2015_csv_Field11', 'NC14_CUR_AADT',
       'NC14_TRUCK_PERC', 'SiteNo', 'Route_Backup',
       'FinalData2014_csv_Field11', 'LC17_F2017_Trial', 'LC17_TMS_SITE_N',
       '_csv_New_Truck_Percent', 'RouteB', 'LC15_STATION_ID',
       'LC15_TMS_SITE_N', 'NEAR_FID', 'NEAR_DIST', 'Shape_Length'],
      dtype='object')

In [46]:
df2.head()

,OBJECTID,ROUTE_NAME,RoadClass,SegmentID,OBJECTID,NC17_F2017_Trial,Site_Number,Site_No,County,Route,...,FinalData2014_csv_Field11,LC17_F2017_Trial,LC17_TMS_SITE_N,_csv_New_Truck_Percent,RouteB,LC15_STATION_ID,LC15_TMS_SITE_N,NEAR_FID,NEAR_DIST,Shape_Length
0,1,I-476,Interstate Highway,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33340.952702
1,2,I-476,Interstate Highway,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102058.490077
2,3,I-476,Interstate Highway,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33327.782830
3,4,I-476,Interstate Highway,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102018.128689
4,5,I78,Interstate Highway,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,746.614931

In [47]:
df_r2 = (pd.DataFrame(df2.groupby(['SegmentID'])['AADT'].agg(['mean', 'count'])).
         reset_index().rename(columns = {'mean': 'ADT average value'}))
df_r2

     SegmentID  ADT average value  count
0            1                NaN      0
1            2                NaN      0
2            3                NaN      0
3            4                NaN      0
4            5                NaN      0
5            6                NaN      0
6            7                NaN      0
7            8                NaN      0
8            9                NaN      0
9           10                NaN      0
10          11                NaN      0
11          12                NaN      0
12          13                NaN      0
13          14                NaN      0
14          15                NaN      0
15          16                NaN      0
16          17                NaN      0
17          18                NaN      0
18          19                NaN      0
19          20        5442.000000      1
20          21                NaN      0
21          22                NaN      0
22          23                NaN      0
23          24                NaN      0
24          25       10260.333333      3
25          26                NaN      0
26          27        5104.000000      1
27          28        4036.000000      1
28          29        3242.000000      1
29          30                NaN      0
..         ...                ...    ...
156        157                NaN      0
157        158                NaN      0
158        159                NaN      0
159        160                NaN      0
160        161       39215.000000      1
161        162       16848.000000      2
162        163                NaN      0
163        164                NaN      0
164        165                NaN      0
165        166                NaN      0
166        167                NaN      0
167        168                NaN      0
168        169       24106.000000      1
169        170                NaN      0
170        171                NaN      0
171        172                NaN      0
172        173                NaN      0
173        174                NaN      0
174        175                NaN      0
175        176                NaN      0
176        177                NaN      0
177        178       31402.000000      1
178        179                NaN      0
179        180                NaN      0
180        181                NaN      0
181        182                NaN      0
182        183                NaN      0
183        184                NaN      0
184        185                NaN      0
185        186                NaN      0

[186 rows x 3 columns]

In [48]:
df_2 = pd.merge(df_r2, df_join, on = 'SegmentID', how = 'left')
df_2

     SegmentID  ADT average value  count    ROUTE_NAME
0            1                NaN      0         I-476
1            2                NaN      0         I-476
2            3                NaN      0         I-476
3            4                NaN      0         I-476
4            5                NaN      0           I78
5            6                NaN      0           I78
6            7                NaN      0           I78
7            8                NaN      0           I78
8            9                NaN      0           I78
9           10                NaN      0           I78
10          11                NaN      0           I78
11          12                NaN      0           I78
12          13                NaN      0           I78
13          14                NaN      0           I78
14          15                NaN      0           I78
15          16                NaN      0           I78
16          17                NaN      0           I78
17          18                NaN      0           I78
18          19                NaN      0     PA RT 145
19          20        5442.000000      1     PA RT 145
20          21                NaN      0     PA RT 145
21          22                NaN      0     PA RT 145
22          23                NaN      0     PA RT 191
23          24                NaN      0     PA RT 191
24          25       10260.333333      3     PA RT 191
25          26                NaN      0     PA RT 191
26          27        5104.000000      1     PA RT 191
27          28        4036.000000      1     PA RT 191
28          29        3242.000000      1     PA RT 191
29          30                NaN      0     PA RT 248
..         ...                ...    ...           ...
156        157                NaN      0       SR 1002
157        158                NaN      0       SR 1002
158        159                NaN      0       SR 1003
159        160                NaN      0       SR 1003
160        161       39215.000000      1  STATE HWY 22
161        162       16848.000000      2  STATE HWY 22
162        163                NaN      0  STATE HWY 22
163        164                NaN      0  STATE HWY 22
164        165                NaN      0  STATE HWY 22
165        166                NaN      0  STATE HWY 22
166        167                NaN      0  STATE HWY 22
167        168                NaN      0  STATE HWY 22
168        169       24106.000000      1  STATE HWY 33
169        170                NaN      0  STATE HWY 33
170        171                NaN      0  STATE HWY 33
171        172                NaN      0  STATE HWY 33
172        173                NaN      0  STATE HWY 33
173        174                NaN      0  STATE HWY 33
174        175                NaN      0  STATE HWY 33
175        176                NaN      0  STATE HWY 33
176        177                NaN      0  STATE HWY 33
177        178       31402.000000      1  STATE HWY 33
178        179                NaN      0  STATE HWY 33
179        180                NaN      0  STATE HWY 33
180        181                NaN      0  STATE HWY 33
181        182                NaN      0  STATE HWY 33
182        183                NaN      0  STATE HWY 33
183        184                NaN      0  STATE HWY 33
184        185                NaN      0  STATE HWY 33
185        186                NaN      0          T413

[186 rows x 4 columns]

In [49]:
#Save results to excel
writer = pd.ExcelWriter('H:\lvpcprojects\evoLVe\GIS\TrafficX\SegmentSummaryPreliminary.xlsx')
df_1.to_excel(writer,'PennDOT')
df_2.to_excel(writer,'Brian')
writer.save()

In [54]:
#This time I will get the Count Year
df_g1 = df1.groupby(['SegmentID', 'CountYear']).size()
df_g1
df_g1.to_clipboard()
df_g2 = df2.groupby(['SegmentID', 'CountYear']).size()
df_g2

SegmentID  CountYear
12         2017.0       1
           2018.0       1
20         2015.0       1
22         2017.0       1
23         2014.0       1
26         2015.0       1
29         2017.0       1
35         2015.0       1
           2017.0       1
37         2017.0       1
45         2015.0       1
46         2016.0       1
47         2017.0       1
48         2016.0       1
51         2017.0       1
53         2016.0       1
59         2016.0       1
65         2017.0       1
74         2015.0       1
79         2015.0       1
82         2018.0       1
86         2016.0       1
94         2017.0       2
95         2017.0       1
103        2015.0       1
           2016.0       1
           2017.0       1
108        2018.0       1
109        2016.0       1
112        2017.0       1
116        2017.0       1
121        2017.0       1
125        2017.0       1
126        2016.0       1
134        2017.0       1
135        2017.0       1
136        2016.0       1
139        2014.0       1
           2018.0       1
141        2016.0       1
151        2016.0       1
156        2018.0       1
157        2017.0       2
160        2017.0       1
161        2017.0       1
162        2017.0       1
167        2017.0       1
174        2017.0       1
183        2014.0       1
           2017.0       1
dtype: int64

SegmentID  CountYear
20         2015.0       1
25         2014.0       1
           2016.0       1
           2017.0       1
27         2016.0       1
28         2014.0       1
29         2014.0       1
32         2015.0       2
33         2014.0       1
           2016.0       1
           2017.0       1
35         2014.0       2
           2015.0       1
           2017.0       3
36         2015.0       1
           2016.0       1
39         2014.0       1
           2016.0       1
43         2016.0       1
45         2015.0       1
48         2016.0       1
           2017.0       1
53         2015.0       1
56         2014.0       1
57         2014.0       1
58         2016.0       1
65         2014.0       2
           2017.0       1
70         2017.0       1
73         2016.0       1
                       ..
103        2017.0       1
105        2014.0       1
109        2017.0       1
112        2014.0       1
           2015.0       1
           2017.0       1
114        2014.0       1
115        2014.0       2
           2016.0       1
           2017.0       3
121        2016.0       1
128        2014.0       1
           2017.0       2
134        2014.0       1
           2015.0       1
           2017.0       1
135        2014.0       1
           2017.0       1
136        2016.0       1
           2017.0       1
137        2014.0       1
           2016.0       2
           2017.0       1
139        2016.0       1
141        2014.0       1
161        2017.0       1
162        2015.0       1
           2017.0       1
169        2017.0       1
178        2017.0       1
Length: 64, dtype: int64

In [78]:
df_g1 = pd.DataFrame(df1.groupby(['SegmentID', 'CountYear']).size()).reset_index()

df_c1 = pd.merge(df_g1, df_join, on = 'SegmentID', how = 'left')
df_c1

df_g2 = pd.DataFrame(df2.groupby(['SegmentID', 'CountYear']).size()).reset_index()

df_c2 = pd.merge(df_g2, df_join, on = 'SegmentID', how = 'left')
df_c2

df_c = pd.concat([df_c1, df_c2], axis = 0).sort_values('SegmentID')
df_c

#Save results to excel
writer = pd.ExcelWriter('H:\lvpcprojects\evoLVe\GIS\TrafficX\SegmentSummaryOfYear.xlsx')
df_c1.to_excel(writer,'PennDOT')
df_c2.to_excel(writer,'Brian')
df_c.to_excel(writer, 'Total')
writer.save()

    SegmentID  CountYear  0           ROUTE_NAME
0          12     2017.0  1                  I78
1          12     2018.0  1                  I78
2          20     2015.0  1            PA RT 145
3          22     2017.0  1            PA RT 145
4          23     2014.0  1            PA RT 191
5          26     2015.0  1            PA RT 191
6          29     2017.0  1            PA RT 191
7          35     2015.0  1            PA RT 248
8          35     2017.0  1            PA RT 248
9          37     2017.0  1            PA RT 248
10         45     2015.0  1        PA RT 329/987
11         46     2016.0  1            PA RT 378
12         47     2017.0  1            PA RT 378
13         48     2016.0  1            PA RT 412
14         51     2017.0  1            PA RT 412
15         53     2016.0  1            PA RT 512
16         59     2016.0  1            PA RT 512
17         65     2017.0  1            PA RT 611
18         74     2015.0  1            PA RT 611
19         79     2015.0  1            PA RT 611
20         82     2018.0  1            PA RT 987
21         86     2016.0  1              SR 0022
22         94     2017.0  2              SR 0029
23         95     2017.0  1  SR 0029     SR 0100
24        103     2015.0  1              SR 0100
25        103     2016.0  1              SR 0100
26        103     2017.0  1              SR 0100
27        108     2018.0  1              SR 0100
28        109     2016.0  1              SR 0100
29        112     2017.0  1              SR 0145
30        116     2017.0  1              SR 0145
31        121     2017.0  1              SR 0222
32        125     2017.0  1              SR 0222
33        126     2016.0  1     SR 0222  SR 0100
34        134     2017.0  1              SR 0309
35        135     2017.0  1              SR 0309
36        136     2016.0  1              SR 0309
37        139     2014.0  1              SR 0329
38        139     2018.0  1              SR 0329
39        141     2016.0  1              SR 0378
40        151     2016.0  1              SR 0987
41        156     2018.0  1              SR 1002
42        157     2017.0  2              SR 1002
43        160     2017.0  1              SR 1003
44        161     2017.0  1         STATE HWY 22
45        162     2017.0  1         STATE HWY 22
46        167     2017.0  1         STATE HWY 22
47        174     2017.0  1         STATE HWY 33
48        183     2014.0  1         STATE HWY 33
49        183     2017.0  1         STATE HWY 33

    SegmentID  CountYear  0           ROUTE_NAME
0          20     2015.0  1            PA RT 145
1          25     2014.0  1            PA RT 191
2          25     2016.0  1            PA RT 191
3          25     2017.0  1            PA RT 191
4          27     2016.0  1            PA RT 191
5          28     2014.0  1            PA RT 191
6          29     2014.0  1            PA RT 191
7          32     2015.0  2            PA RT 248
8          33     2014.0  1            PA RT 248
9          33     2016.0  1            PA RT 248
10         33     2017.0  1            PA RT 248
11         35     2014.0  2            PA RT 248
12         35     2015.0  1            PA RT 248
13         35     2017.0  3            PA RT 248
14         36     2015.0  1            PA RT 248
15         36     2016.0  1            PA RT 248
16         39     2014.0  1            PA RT 248
17         39     2016.0  1            PA RT 248
18         43     2016.0  1            PA RT 329
19         45     2015.0  1        PA RT 329/987
20         48     2016.0  1            PA RT 412
21         48     2017.0  1            PA RT 412
22         53     2015.0  1            PA RT 512
23         56     2014.0  1            PA RT 512
24         57     2014.0  1            PA RT 512
25         58     2016.0  1            PA RT 512
26         65     2014.0  2            PA RT 611
27         65     2017.0  1            PA RT 611
28         70     2017.0  1            PA RT 611
29         73     2016.0  1            PA RT 611
..        ...        ... ..                  ...
34        103     2017.0  1              SR 0100
35        105     2014.0  1              SR 0100
36        109     2017.0  1              SR 0100
37        112     2014.0  1              SR 0145
38        112     2015.0  1              SR 0145
39        112     2017.0  1              SR 0145
40        114     2014.0  1              SR 0145
41        115     2014.0  2              SR 0145
42        115     2016.0  1              SR 0145
43        115     2017.0  3              SR 0145
44        121     2016.0  1              SR 0222
45        128     2014.0  1              SR 0309
46        128     2017.0  2              SR 0309
47        134     2014.0  1              SR 0309
48        134     2015.0  1              SR 0309
49        134     2017.0  1              SR 0309
50        135     2014.0  1              SR 0309
51        135     2017.0  1              SR 0309
52        136     2016.0  1              SR 0309
53        136     2017.0  1              SR 0309
54        137     2014.0  1  SR 0309     SR 0078
55        137     2016.0  2  SR 0309     SR 0078
56        137     2017.0  1  SR 0309     SR 0078
57        139     2016.0  1              SR 0329
58        141     2014.0  1              SR 0378
59        161     2017.0  1         STATE HWY 22
60        162     2015.0  1         STATE HWY 22
61        162     2017.0  1         STATE HWY 22
62        169     2017.0  1         STATE HWY 33
63        178     2017.0  1         STATE HWY 33

[64 rows x 4 columns]

    SegmentID  CountYear  0           ROUTE_NAME
0          12     2017.0  1                  I78
1          12     2018.0  1                  I78
2          20     2015.0  1            PA RT 145
0          20     2015.0  1            PA RT 145
3          22     2017.0  1            PA RT 145
4          23     2014.0  1            PA RT 191
3          25     2017.0  1            PA RT 191
2          25     2016.0  1            PA RT 191
1          25     2014.0  1            PA RT 191
5          26     2015.0  1            PA RT 191
4          27     2016.0  1            PA RT 191
5          28     2014.0  1            PA RT 191
6          29     2014.0  1            PA RT 191
6          29     2017.0  1            PA RT 191
7          32     2015.0  2            PA RT 248
8          33     2014.0  1            PA RT 248
9          33     2016.0  1            PA RT 248
10         33     2017.0  1            PA RT 248
13         35     2017.0  3            PA RT 248
8          35     2017.0  1            PA RT 248
7          35     2015.0  1            PA RT 248
11         35     2014.0  2            PA RT 248
12         35     2015.0  1            PA RT 248
14         36     2015.0  1            PA RT 248
15         36     2016.0  1            PA RT 248
9          37     2017.0  1            PA RT 248
16         39     2014.0  1            PA RT 248
17         39     2016.0  1            PA RT 248
18         43     2016.0  1            PA RT 329
10         45     2015.0  1        PA RT 329/987
..        ...        ... ..                  ...
47        134     2014.0  1              SR 0309
50        135     2014.0  1              SR 0309
35        135     2017.0  1              SR 0309
51        135     2017.0  1              SR 0309
53        136     2017.0  1              SR 0309
52        136     2016.0  1              SR 0309
36        136     2016.0  1              SR 0309
56        137     2017.0  1  SR 0309     SR 0078
55        137     2016.0  2  SR 0309     SR 0078
54        137     2014.0  1  SR 0309     SR 0078
38        139     2018.0  1              SR 0329
57        139     2016.0  1              SR 0329
37        139     2014.0  1              SR 0329
58        141     2014.0  1              SR 0378
39        141     2016.0  1              SR 0378
40        151     2016.0  1              SR 0987
41        156     2018.0  1              SR 1002
42        157     2017.0  2              SR 1002
43        160     2017.0  1              SR 1003
59        161     2017.0  1         STATE HWY 22
44        161     2017.0  1         STATE HWY 22
45        162     2017.0  1         STATE HWY 22
61        162     2017.0  1         STATE HWY 22
60        162     2015.0  1         STATE HWY 22
46        167     2017.0  1         STATE HWY 22
62        169     2017.0  1         STATE HWY 33
47        174     2017.0  1         STATE HWY 33
63        178     2017.0  1         STATE HWY 33
48        183     2014.0  1         STATE HWY 33
49        183     2017.0  1         STATE HWY 33

[114 rows x 4 columns]

In [81]:
pd.pivot_table(df1, index = 'SegmentID', values = 'ADT', aggfunc = [len, np.mean]).reset_index()

    SegmentID  len     mean
               ADT      ADT
0           1  1.0  45645.0
1           2  3.0  30240.0
2           3  1.0      NaN
3           4  1.0      NaN
4           5  1.0      NaN
5           6  1.0      NaN
6           7  1.0      NaN
7           8  1.0      NaN
8           9  1.0      NaN
9          10  1.0      NaN
10         11  1.0      NaN
11         12  2.0  33822.5
12         13  1.0      NaN
13         14  1.0      NaN
14         15  1.0      NaN
15         16  1.0      NaN
16         17  1.0      NaN
17         18  1.0      NaN
18         19  1.0      NaN
19         20  1.0   5496.0
20         21  1.0      NaN
21         22  1.0   8492.0
22         23  1.0  13680.0
23         24  1.0      NaN
24         25  1.0      NaN
25         26  1.0   7609.0
26         27  1.0      NaN
27         28  1.0      NaN
28         29  1.0   2446.0
29         30  1.0      NaN
..        ...  ...      ...
156       157  2.0  10772.0
157       158  1.0      NaN
158       159  1.0      NaN
159       160  1.0  14102.0
160       161  1.0      NaN
161       162  1.0      NaN
162       163  1.0      NaN
163       164  1.0      NaN
164       165  1.0      NaN
165       166  1.0      NaN
166       167  1.0      NaN
167       168  1.0      NaN
168       169  1.0      NaN
169       170  1.0      NaN
170       171  1.0      NaN
171       172  1.0      NaN
172       173  1.0      NaN
173       174  1.0  25269.0
174       175  1.0      NaN
175       176  1.0      NaN
176       177  1.0      NaN
177       178  1.0      NaN
178       179  1.0      NaN
179       180  1.0      NaN
180       181  1.0      NaN
181       182  1.0      NaN
182       183  2.0  28900.0
183       184  1.0      NaN
184       185  1.0      NaN
185       186  1.0      NaN

[186 rows x 3 columns]

In [57]:
df_g2.to_clipboard(excel = True)

In [12]:
#Try to do it again with the new tables

df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct26\SegmentsJoinPennDOT.xlsx')



df.columns = df.columns.str.replace("CenterlineSplit.", "")
df.columns = df.columns.str.replace("PennDOTNearCenterline.", "")

df.head()

df_r1 = (pd.DataFrame(df.groupby(['SegmentID'])['ADT'].agg(['mean', 'count'])).
         reset_index().rename(columns = {'mean': 'ADT average value'}))

df_join = df[['SegmentID', 'ROUTE_NAME']].drop_duplicates()

#Join the groupby result and the road name
df_1 = pd.merge(df_r1, df_join, on = 'SegmentID', how = 'left')
df_1

#Getting a separate dataframe with segment ID, year and count numbers
df_g1 = pd.DataFrame(df.groupby(['SegmentID', 'CountYear']).size()).reset_index()

df_c1 = pd.merge(df_g1, df_join, on = 'SegmentID', how = 'left')
df_c1

df1 = pd.concat([df_1, df_c1], axis = 1)
df1

,OBJECTID,ROUTE_NAME,RoadClass,Shape_Length,SegmentID,OBJECTID,RouteName,ADT,ADTT,CountYear,TruckPercent,TruckPercentage,NewADT,NewADTT,RoadClass,NEAR_FID,NEAR_DIST,NEAR_X,NEAR_Y
0,1,I-476,Interstate Highway,102035.798833,1,49.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,36.930515,2.587595e+06,445029.284318
1,1,I-476,Interstate Highway,102035.798833,1,50.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,22.429148,2.551949e+06,528706.985759
2,1,I-476,Interstate Highway,102035.798833,1,51.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,4.010490,2.569780e+06,484624.911910
3,2,I-476,Interstate Highway,33333.947191,2,48.0,I-476,45645.0,7373.0,NaN,16.0,16%,"45,645","7,373",Interstate Highway,2.0,36.219431,2.598246e+06,431557.833522
4,3,I78,Interstate Highway,15173.736443,3,54.0,I-78,17544.0,5546.0,2013.0,32.0,32%,"17,544","5,546",Interstate Highway,3.0,24.879722,2.574831e+06,462165.926248

    SegmentID  ADT average value  count           ROUTE_NAME
0           1       30240.000000      3                I-476
1           2       45645.000000      1                I-476
2           3       17544.000000      1                  I78
3           4       33822.500000      2                  I78
4           5                NaN      0                  I78
5           6        6994.000000      2            PA RT 145
6           7        7911.666667      3            PA RT 191
7           8                NaN      0            PA RT 248
8           9                NaN      0            PA RT 248
9          10        8667.500000      2            PA RT 248
10         11       10434.000000      1            PA RT 248
11         12                NaN      0            PA RT 248
12         13       11011.000000      1        PA RT 329/987
13         14        8250.500000      2            PA RT 412
14         15        9736.000000      2            PA RT 512
15         16        3465.000000      1            PA RT 611
16         17                NaN      0            PA RT 611
17         18        6589.000000      1            PA RT 611
18         19        8813.000000      1            PA RT 611
19         20                NaN      0              SR 0022
20         21                NaN      0              SR 0022
21         22                NaN      0  SR 0022     SR 0078
22         23                NaN      0  SR 0022     SR 0078
23         24       15278.000000      2              SR 0029
24         25       13063.000000      1  SR 0029     SR 0100
25         26                NaN      0   SR 0078    SR 0309
26         27        8284.000000      3              SR 0100
27         28                NaN      0              SR 0100
28         29                NaN      0              SR 0145
29         30       13889.000000      2              SR 0145
30         31       24233.000000      1              SR 0222
31         32       15812.000000      1              SR 0222
32         33       13752.000000      1     SR 0222  SR 0100
33         34                NaN      0              SR 0309
34         35                NaN      0              SR 0309
35         36                NaN      0              SR 0309
36         37                NaN      0              SR 0309
37         38                NaN      0              SR 0309
38         39        7686.333333      3              SR 0309
39         40                NaN      0              SR 0329
40         41       12922.500000      2              SR 0329
41         42                NaN      0              SR 0378
42         43       18664.333333      3              SR 0378
43         44       11489.500000      2              SR 0987
44         45                NaN      0              SR 0987
45         46        9618.333333      3              SR 1002
46         47       14102.000000      1              SR 1003
47         48       28900.000000      2         STATE HWY 33
48         49       25269.000000      1         STATE HWY 33
49         50                NaN      0                 T413

    SegmentID  CountYear  0           ROUTE_NAME
0           3     2013.0  1                  I78
1           4     2017.0  1                  I78
2           4     2018.0  1                  I78
3           6     2015.0  1            PA RT 145
4           6     2017.0  1            PA RT 145
5           7     2014.0  1            PA RT 191
6           7     2015.0  1            PA RT 191
7           7     2017.0  1            PA RT 191
8          10     2015.0  1            PA RT 248
9          10     2017.0  1            PA RT 248
10         11     2017.0  1            PA RT 248
11         13     2015.0  1        PA RT 329/987
12         14     2016.0  1            PA RT 412
13         14     2017.0  1            PA RT 412
14         15     2016.0  2            PA RT 512
15         16     2017.0  1            PA RT 611
16         18     2015.0  1            PA RT 611
17         19     2015.0  1            PA RT 611
18         20     2016.0  1              SR 0022
19         21     2017.0  3              SR 0022
20         24     2017.0  2              SR 0029
21         25     2017.0  1  SR 0029     SR 0100
22         27     2015.0  1              SR 0100
23         27     2016.0  1              SR 0100
24         27     2017.0  1              SR 0100
25         28     2016.0  1              SR 0100
26         28     2018.0  1              SR 0100
27         30     2017.0  2              SR 0145
28         31     2017.0  1              SR 0222
29         32     2017.0  1              SR 0222
30         33     2016.0  1     SR 0222  SR 0100
31         39     2016.0  1              SR 0309
32         39     2017.0  2              SR 0309
33         41     2014.0  1              SR 0329
34         41     2018.0  1              SR 0329
35         43     2016.0  2              SR 0378
36         43     2017.0  1              SR 0378
37         44     2016.0  1              SR 0987
38         44     2018.0  1              SR 0987
39         46     2017.0  2              SR 1002
40         46     2018.0  1              SR 1002
41         47     2017.0  1              SR 1003
42         48     2014.0  1         STATE HWY 33
43         48     2017.0  1         STATE HWY 33
44         49     2017.0  1         STATE HWY 33

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,30240.000000,3,I-476,3.0,2013.0,1.0,I78
1,2,45645.000000,1,I-476,4.0,2017.0,1.0,I78
2,3,17544.000000,1,I78,4.0,2018.0,1.0,I78
3,4,33822.500000,2,I78,6.0,2015.0,1.0,PA RT 145
4,5,NaN,0,I78,6.0,2017.0,1.0,PA RT 145
5,6,6994.000000,2,PA RT 145,7.0,2014.0,1.0,PA RT 191
6,7,7911.666667,3,PA RT 191,7.0,2015.0,1.0,PA RT 191
7,8,NaN,0,PA RT 248,7.0,2017.0,1.0,PA RT 191
8,9,NaN,0,PA RT 248,10.0,2015.0,1.0,PA RT 248
9,10,8667.500000,2,PA RT 248,10.0,2017.0,1.0,PA RT 248
10,11,10434.000000,1,PA RT 248,11.0,2017.0,1.0,PA RT 248
11,12,NaN,0,PA RT 248,13.0,2015.0,1.0,PA RT 329/987
12,13,11011.000000,1,PA RT 329/987,14.0,2016.0,1.0,PA RT 412
13,14,8250.500000,2,PA RT 412,14.0,2017.0,1.0,PA RT 412
14,15,9736.000000,2,PA RT 512,15.0,2016.0,2.0,PA RT 512
15,16,3465.000000,1,PA RT 611,16.0,2017.0,1.0,PA RT 611
16,17,NaN,0,PA RT 611,18.0,2015.0,1.0,PA RT 611
17,18,6589.000000,1,PA RT 611,19.0,2015.0,1.0,PA RT 611
18,19,8813.000000,1,PA RT 611,20.0,2016.0,1.0,SR 0022
19,20,NaN,0,SR 0022,21.0,2017.0,3.0,SR 0022
20,21,NaN,0,SR 0022,24.0,2017.0,2.0,SR 0029
21,22,NaN,0,SR 0022 SR 0078,25.0,2017.0,1.0,SR 0029 SR 0100
22,23,NaN,0,SR 0022 SR 0078,27.0,2015.0,1.0,SR 0100
23,24,15278.000000,2,SR 0029,27.0,2016.0,1.0,SR 0100
24,25,13063.000000,1,SR 0029 SR 0100,27.0,2017.0,1.0,SR 0100
25,26,NaN,0,SR 0078 SR 0309,28.0,2016.0,1.0,SR 0100
26,27,8284.000000,3,SR 0100,28.0,2018.0,1.0,SR 0100
27,28,NaN,0,SR 0100,30.0,2017.0,2.0,SR 0145
28,29,NaN,0,SR 0145,31.0,2017.0,1.0,SR 0222
29,30,13889.000000,2,SR 0145,32.0,2017.0,1.0,SR 0222
30,31,24233.000000,1,SR 0222,33.0,2016.0,1.0,SR 0222 SR 0100
31,32,15812.000000,1,SR 0222,39.0,2016.0,1.0,SR 0309
32,33,13752.000000,1,SR 0222 SR 0100,39.0,2017.0,2.0,SR 0309
33,34,NaN,0,SR 0309,41.0,2014.0,1.0,SR 0329
34,35,NaN,0,SR 0309,41.0,2018.0,1.0,SR 0329
35,36,NaN,0,SR 0309,43.0,2016.0,2.0,SR 0378
36,37,NaN,0,SR 0309,43.0,2017.0,1.0,SR 0378
37,38,NaN,0,SR 0309,44.0,2016.0,1.0,SR 0987
38,39,7686.333333,3,SR 0309,44.0,2018.0,1.0,SR 0987
39,40,NaN,0,SR 0329,46.0,2017.0,2.0,SR 1002
40,41,12922.500000,2,SR 0329,46.0,2018.0,1.0,SR 1002
41,42,NaN,0,SR 0378,47.0,2017.0,1.0,SR 1003
42,43,18664.333333,3,SR 0378,48.0,2014.0,1.0,STATE HWY 33
43,44,11489.500000,2,SR 0987,48.0,2017.0,1.0,STATE HWY 33
44,45,NaN,0,SR 0987,49.0,2017.0,1.0,STATE HWY 33
45,46,9618.333333,3,SR 1002,NaN,NaN,NaN,NaN
46,47,14102.000000,1,SR 1003,NaN,NaN,NaN,NaN
47,48,28900.000000,2,STATE HWY 33,NaN,NaN,NaN,NaN
48,49,25269.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
49,50,NaN,0,T413,NaN,NaN,NaN,NaN

In [13]:
df1

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,30240.000000,3,I-476,3.0,2013.0,1.0,I78
1,2,45645.000000,1,I-476,4.0,2017.0,1.0,I78
2,3,17544.000000,1,I78,4.0,2018.0,1.0,I78
3,4,33822.500000,2,I78,6.0,2015.0,1.0,PA RT 145
4,5,NaN,0,I78,6.0,2017.0,1.0,PA RT 145
5,6,6994.000000,2,PA RT 145,7.0,2014.0,1.0,PA RT 191
6,7,7911.666667,3,PA RT 191,7.0,2015.0,1.0,PA RT 191
7,8,NaN,0,PA RT 248,7.0,2017.0,1.0,PA RT 191
8,9,NaN,0,PA RT 248,10.0,2015.0,1.0,PA RT 248
9,10,8667.500000,2,PA RT 248,10.0,2017.0,1.0,PA RT 248
10,11,10434.000000,1,PA RT 248,11.0,2017.0,1.0,PA RT 248
11,12,NaN,0,PA RT 248,13.0,2015.0,1.0,PA RT 329/987
12,13,11011.000000,1,PA RT 329/987,14.0,2016.0,1.0,PA RT 412
13,14,8250.500000,2,PA RT 412,14.0,2017.0,1.0,PA RT 412
14,15,9736.000000,2,PA RT 512,15.0,2016.0,2.0,PA RT 512
15,16,3465.000000,1,PA RT 611,16.0,2017.0,1.0,PA RT 611
16,17,NaN,0,PA RT 611,18.0,2015.0,1.0,PA RT 611
17,18,6589.000000,1,PA RT 611,19.0,2015.0,1.0,PA RT 611
18,19,8813.000000,1,PA RT 611,20.0,2016.0,1.0,SR 0022
19,20,NaN,0,SR 0022,21.0,2017.0,3.0,SR 0022
20,21,NaN,0,SR 0022,24.0,2017.0,2.0,SR 0029
21,22,NaN,0,SR 0022 SR 0078,25.0,2017.0,1.0,SR 0029 SR 0100
22,23,NaN,0,SR 0022 SR 0078,27.0,2015.0,1.0,SR 0100
23,24,15278.000000,2,SR 0029,27.0,2016.0,1.0,SR 0100
24,25,13063.000000,1,SR 0029 SR 0100,27.0,2017.0,1.0,SR 0100
25,26,NaN,0,SR 0078 SR 0309,28.0,2016.0,1.0,SR 0100
26,27,8284.000000,3,SR 0100,28.0,2018.0,1.0,SR 0100
27,28,NaN,0,SR 0100,30.0,2017.0,2.0,SR 0145
28,29,NaN,0,SR 0145,31.0,2017.0,1.0,SR 0222
29,30,13889.000000,2,SR 0145,32.0,2017.0,1.0,SR 0222
30,31,24233.000000,1,SR 0222,33.0,2016.0,1.0,SR 0222 SR 0100
31,32,15812.000000,1,SR 0222,39.0,2016.0,1.0,SR 0309
32,33,13752.000000,1,SR 0222 SR 0100,39.0,2017.0,2.0,SR 0309
33,34,NaN,0,SR 0309,41.0,2014.0,1.0,SR 0329
34,35,NaN,0,SR 0309,41.0,2018.0,1.0,SR 0329
35,36,NaN,0,SR 0309,43.0,2016.0,2.0,SR 0378
36,37,NaN,0,SR 0309,43.0,2017.0,1.0,SR 0378
37,38,NaN,0,SR 0309,44.0,2016.0,1.0,SR 0987
38,39,7686.333333,3,SR 0309,44.0,2018.0,1.0,SR 0987
39,40,NaN,0,SR 0329,46.0,2017.0,2.0,SR 1002
40,41,12922.500000,2,SR 0329,46.0,2018.0,1.0,SR 1002
41,42,NaN,0,SR 0378,47.0,2017.0,1.0,SR 1003
42,43,18664.333333,3,SR 0378,48.0,2014.0,1.0,STATE HWY 33
43,44,11489.500000,2,SR 0987,48.0,2017.0,1.0,STATE HWY 33
44,45,NaN,0,SR 0987,49.0,2017.0,1.0,STATE HWY 33
45,46,9618.333333,3,SR 1002,NaN,NaN,NaN,NaN
46,47,14102.000000,1,SR 1003,NaN,NaN,NaN,NaN
47,48,28900.000000,2,STATE HWY 33,NaN,NaN,NaN,NaN
48,49,25269.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
49,50,NaN,0,T413,NaN,NaN,NaN,NaN

In [19]:
df.columns

Index(['OBJECTID', 'ROUTE_NAME', 'RoadClass', 'Shape_Length', 'SegmentID',
       'OBJECTID', 'NC17_F2017_Trial', 'Site_Number', 'Site_No', 'County',
       'Route', 'Street_Name', 'Municipality', 'AADT', 'ADTT', 'Truck_Percent',
       'Count_Date', 'FinalData2017_csv_Field10', 'NewAADT', 'NewADTT',
       'New_Truck_Percent', 'FinalData2017_csv_Field14',
       'FinalData2017_csv_Field15', 'Location', 'CountYear', 'ORIG_FID',
       'TMS_SITE_N', 'FinalData2015_csv_Field11', 'NC14_CUR_AADT',
       'NC14_TRUCK_PERC', 'SiteNo', 'Route_Backup',
       'FinalData2014_csv_Field11', 'LC17_F2017_Trial', 'LC17_TMS_SITE_N',
       '_csv_New_Truck_Percent', 'RouteB', 'LC15_STATION_ID',
       'LC15_TMS_SITE_N', 'NEAR_FID', 'NEAR_DIST'],
      dtype='object')

In [20]:
#Do the same for the next one
df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct26\SegmentsJoinBrian.xlsx')



df.columns = df.columns.str.replace("CenterlineSplit.", "")
df.columns = df.columns.str.replace("BrianNearCenterline.", "")

df.head()

df_r1 = (pd.DataFrame(df.groupby(['SegmentID'])['AADT'].agg(['mean', 'count'])).
         reset_index().rename(columns = {'mean': 'ADT average value'}))

df_join = df[['SegmentID', 'ROUTE_NAME']].drop_duplicates()

#Join the groupby result and the road name
df_1 = pd.merge(df_r1, df_join, on = 'SegmentID', how = 'left')
df_1

#Getting a separate dataframe with segment ID, year and count numbers
df_g1 = pd.DataFrame(df.groupby(['SegmentID', 'CountYear']).size()).reset_index()

df_c1 = pd.merge(df_g1, df_join, on = 'SegmentID', how = 'left')
df_c1

df2 = pd.concat([df_1, df_c1], axis = 1)
df2

,OBJECTID,ROUTE_NAME,RoadClass,Shape_Length,SegmentID,OBJECTID,NC17_F2017_Trial,Site_Number,Site_No,County,...,Route_Backup,FinalData2014_csv_Field11,LC17_F2017_Trial,LC17_TMS_SITE_N,_csv_New_Truck_Percent,RouteB,LC15_STATION_ID,LC15_TMS_SITE_N,NEAR_FID,NEAR_DIST
0,1,I-476,Interstate Highway,102035.798833,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I-476,Interstate Highway,33333.947191,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,I78,Interstate Highway,15173.736443,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,I78,Interstate Highway,89942.344577,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,I78,Interstate Highway,5265.055588,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    SegmentID  ADT average value  count           ROUTE_NAME
0           1                NaN      0                I-476
1           2                NaN      0                I-476
2           3                NaN      0                  I78
3           4                NaN      0                  I78
4           5                NaN      0                  I78
5           6        5442.000000      1            PA RT 145
6           7        7193.833333      6            PA RT 191
7           8        5938.000000      3            PA RT 248
8           9       16198.500000      2            PA RT 248
9          10        9537.250000      4            PA RT 248
10         11        7419.000000      6            PA RT 248
11         12                NaN      0            PA RT 248
12         13       10948.000000      1        PA RT 329/987
13         14        9070.500000      2            PA RT 412
14         15       11149.000000      4            PA RT 512
15         16        3606.666667      3            PA RT 611
16         17                NaN      0            PA RT 611
17         18        4377.500000      2            PA RT 611
18         19                NaN      0            PA RT 611
19         20                NaN      0              SR 0022
20         21       28144.000000      4              SR 0022
21         22                NaN      0  SR 0022     SR 0078
22         23                NaN      0  SR 0022     SR 0078
23         24                NaN      0              SR 0029
24         25       18081.000000      1  SR 0029     SR 0100
25         26       12499.750000      4   SR 0078    SR 0309
26         27       10151.000000      3              SR 0100
27         28       15715.500000      2              SR 0100
28         29                NaN      0              SR 0145
29         30       10879.300000     10              SR 0145
30         31        9643.000000      1              SR 0222
31         32                NaN      0              SR 0222
32         33                NaN      0     SR 0222  SR 0100
33         34                NaN      0              SR 0309
34         35       17640.000000      1              SR 0309
35         36                NaN      0              SR 0309
36         37       15355.500000      2              SR 0309
37         38                NaN      0              SR 0309
38         39       11695.857143      7              SR 0309
39         40                NaN      0              SR 0329
40         41        8688.500000      2              SR 0329
41         42                NaN      0              SR 0378
42         43       12450.000000      1              SR 0378
43         44                NaN      0              SR 0987
44         45                NaN      0              SR 0987
45         46                NaN      0              SR 1002
46         47                NaN      0              SR 1003
47         48       31402.000000      1         STATE HWY 33
48         49       24106.000000      1         STATE HWY 33
49         50                NaN      0                 T413

    SegmentID  CountYear  0           ROUTE_NAME
0           6     2015.0  1            PA RT 145
1           7     2014.0  3            PA RT 191
2           7     2016.0  2            PA RT 191
3           7     2017.0  1            PA RT 191
4           8     2014.0  1            PA RT 248
5           8     2016.0  1            PA RT 248
6           8     2017.0  1            PA RT 248
7           9     2015.0  2            PA RT 248
8          10     2014.0  1            PA RT 248
9          10     2015.0  1            PA RT 248
10         10     2017.0  2            PA RT 248
11         11     2014.0  2            PA RT 248
12         11     2015.0  1            PA RT 248
13         11     2016.0  2            PA RT 248
14         11     2017.0  1            PA RT 248
15         13     2015.0  1        PA RT 329/987
16         14     2016.0  1            PA RT 412
17         14     2017.0  1            PA RT 412
18         15     2014.0  2            PA RT 512
19         15     2015.0  1            PA RT 512
20         15     2016.0  1            PA RT 512
21         16     2014.0  2            PA RT 611
22         16     2017.0  1            PA RT 611
23         18     2016.0  1            PA RT 611
24         18     2017.0  1            PA RT 611
25         21     2014.0  1              SR 0022
26         21     2015.0  1              SR 0022
27         21     2017.0  2              SR 0022
28         25     2017.0  1  SR 0029     SR 0100
29         26     2014.0  1   SR 0078    SR 0309
30         26     2016.0  2   SR 0078    SR 0309
31         26     2017.0  1   SR 0078    SR 0309
32         27     2014.0  1              SR 0100
33         27     2016.0  1              SR 0100
34         27     2017.0  1              SR 0100
35         28     2014.0  1              SR 0100
36         28     2017.0  1              SR 0100
37         30     2014.0  4              SR 0145
38         30     2015.0  1              SR 0145
39         30     2016.0  1              SR 0145
40         30     2017.0  4              SR 0145
41         31     2016.0  1              SR 0222
42         35     2017.0  1              SR 0309
43         37     2014.0  1              SR 0309
44         37     2017.0  1              SR 0309
45         39     2014.0  2              SR 0309
46         39     2015.0  1              SR 0309
47         39     2016.0  1              SR 0309
48         39     2017.0  3              SR 0309
49         41     2016.0  2              SR 0329
50         43     2014.0  1              SR 0378
51         48     2017.0  1         STATE HWY 33
52         49     2017.0  1         STATE HWY 33

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1.0,NaN,0.0,I-476,6,2015.0,1,PA RT 145
1,2.0,NaN,0.0,I-476,7,2014.0,3,PA RT 191
2,3.0,NaN,0.0,I78,7,2016.0,2,PA RT 191
3,4.0,NaN,0.0,I78,7,2017.0,1,PA RT 191
4,5.0,NaN,0.0,I78,8,2014.0,1,PA RT 248
5,6.0,5442.000000,1.0,PA RT 145,8,2016.0,1,PA RT 248
6,7.0,7193.833333,6.0,PA RT 191,8,2017.0,1,PA RT 248
7,8.0,5938.000000,3.0,PA RT 248,9,2015.0,2,PA RT 248
8,9.0,16198.500000,2.0,PA RT 248,10,2014.0,1,PA RT 248
9,10.0,9537.250000,4.0,PA RT 248,10,2015.0,1,PA RT 248
10,11.0,7419.000000,6.0,PA RT 248,10,2017.0,2,PA RT 248
11,12.0,NaN,0.0,PA RT 248,11,2014.0,2,PA RT 248
12,13.0,10948.000000,1.0,PA RT 329/987,11,2015.0,1,PA RT 248
13,14.0,9070.500000,2.0,PA RT 412,11,2016.0,2,PA RT 248
14,15.0,11149.000000,4.0,PA RT 512,11,2017.0,1,PA RT 248
15,16.0,3606.666667,3.0,PA RT 611,13,2015.0,1,PA RT 329/987
16,17.0,NaN,0.0,PA RT 611,14,2016.0,1,PA RT 412
17,18.0,4377.500000,2.0,PA RT 611,14,2017.0,1,PA RT 412
18,19.0,NaN,0.0,PA RT 611,15,2014.0,2,PA RT 512
19,20.0,NaN,0.0,SR 0022,15,2015.0,1,PA RT 512
20,21.0,28144.000000,4.0,SR 0022,15,2016.0,1,PA RT 512
21,22.0,NaN,0.0,SR 0022 SR 0078,16,2014.0,2,PA RT 611
22,23.0,NaN,0.0,SR 0022 SR 0078,16,2017.0,1,PA RT 611
23,24.0,NaN,0.0,SR 0029,18,2016.0,1,PA RT 611
24,25.0,18081.000000,1.0,SR 0029 SR 0100,18,2017.0,1,PA RT 611
25,26.0,12499.750000,4.0,SR 0078 SR 0309,21,2014.0,1,SR 0022
26,27.0,10151.000000,3.0,SR 0100,21,2015.0,1,SR 0022
27,28.0,15715.500000,2.0,SR 0100,21,2017.0,2,SR 0022
28,29.0,NaN,0.0,SR 0145,25,2017.0,1,SR 0029 SR 0100
29,30.0,10879.300000,10.0,SR 0145,26,2014.0,1,SR 0078 SR 0309
30,31.0,9643.000000,1.0,SR 0222,26,2016.0,2,SR 0078 SR 0309
31,32.0,NaN,0.0,SR 0222,26,2017.0,1,SR 0078 SR 0309
32,33.0,NaN,0.0,SR 0222 SR 0100,27,2014.0,1,SR 0100
33,34.0,NaN,0.0,SR 0309,27,2016.0,1,SR 0100
34,35.0,17640.000000,1.0,SR 0309,27,2017.0,1,SR 0100
35,36.0,NaN,0.0,SR 0309,28,2014.0,1,SR 0100
36,37.0,15355.500000,2.0,SR 0309,28,2017.0,1,SR 0100
37,38.0,NaN,0.0,SR 0309,30,2014.0,4,SR 0145
38,39.0,11695.857143,7.0,SR 0309,30,2015.0,1,SR 0145
39,40.0,NaN,0.0,SR 0329,30,2016.0,1,SR 0145
40,41.0,8688.500000,2.0,SR 0329,30,2017.0,4,SR 0145
41,42.0,NaN,0.0,SR 0378,31,2016.0,1,SR 0222
42,43.0,12450.000000,1.0,SR 0378,35,2017.0,1,SR 0309
43,44.0,NaN,0.0,SR 0987,37,2014.0,1,SR 0309
44,45.0,NaN,0.0,SR 0987,37,2017.0,1,SR 0309
45,46.0,NaN,0.0,SR 1002,39,2014.0,2,SR 0309
46,47.0,NaN,0.0,SR 1003,39,2015.0,1,SR 0309
47,48.0,31402.000000,1.0,STATE HWY 33,39,2016.0,1,SR 0309
48,49.0,24106.000000,1.0,STATE HWY 33,39,2017.0,3,SR 0309
49,50.0,NaN,0.0,T413,41,2016.0,2,SR 0329
50,NaN,NaN,NaN,NaN,43,2014.0,1,SR 0378
51,NaN,NaN,NaN,NaN,48,2017.0,1,STATE HWY 33
52,NaN,NaN,NaN,NaN,49,2017.0,1,STATE HWY 33

In [22]:
df1.head()
df2.head()

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,30240.0,3,I-476,3.0,2013.0,1.0,I78
1,2,45645.0,1,I-476,4.0,2017.0,1.0,I78
2,3,17544.0,1,I78,4.0,2018.0,1.0,I78
3,4,33822.5,2,I78,6.0,2015.0,1.0,PA RT 145
4,5,NaN,0,I78,6.0,2017.0,1.0,PA RT 145

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1.0,NaN,0.0,I-476,6,2015.0,1,PA RT 145
1,2.0,NaN,0.0,I-476,7,2014.0,3,PA RT 191
2,3.0,NaN,0.0,I78,7,2016.0,2,PA RT 191
3,4.0,NaN,0.0,I78,7,2017.0,1,PA RT 191
4,5.0,NaN,0.0,I78,8,2014.0,1,PA RT 248

In [23]:
writer = pd.ExcelWriter('H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct26\SegmentSummaryResult.xlsx')
df1.to_excel(writer,'PennDOT')
df2.to_excel(writer,'Brian')
writer.save()

In [29]:
df5.columns

Index(['OBJECTID', 'ROUTE_NAME', 'RoadClass', 'Shape_Length', 'SegmentID',
       'OBJECTID'],
      dtype='object')

In [34]:
l1 = df5.columns
list(l1) + list('ABCD')

['OBJECTID',
 'ROUTE_NAME',
 'RoadClass',
 'Shape_Length',
 'SegmentID',
 'OBJECTID',
 'A',
 'B',
 'C',
 'D']

In [36]:
#Learning to add multiple empty columns in a dataframe 
df5 = df.iloc[:, :6]

df5.reindex(columns=(list(l1) + list('ABCD')))

ValueError: cannot reindex from a duplicate axis

In [7]:
df.head()

,OBJECTID,ROUTE_NAME,RoadClass,Shape_Length,SegmentID,OBJECTID,RouteName,ADT,ADTT,CountYear,TruckPercent,TruckPercentage,NewADT,NewADTT,RoadClass,NEAR_FID,NEAR_DIST,NEAR_X,NEAR_Y
0,1,I-476,Interstate Highway,102035.798833,1,49.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,36.930515,2.587595e+06,445029.284318
1,1,I-476,Interstate Highway,102035.798833,1,50.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,22.429148,2.551949e+06,528706.985759
2,1,I-476,Interstate Highway,102035.798833,1,51.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,4.010490,2.569780e+06,484624.911910
3,2,I-476,Interstate Highway,33333.947191,2,48.0,I-476,45645.0,7373.0,NaN,16.0,16%,"45,645","7,373",Interstate Highway,2.0,36.219431,2.598246e+06,431557.833522
4,3,I78,Interstate Highway,15173.736443,3,54.0,I-78,17544.0,5546.0,2013.0,32.0,32%,"17,544","5,546",Interstate Highway,3.0,24.879722,2.574831e+06,462165.926248

In [32]:
df = pd.DataFrame(np.random.rand(10, 5))
df['mean'] = df.mean(1)
df

          0         1         2         3         4      mean
0  0.401951  0.862305  0.915041  0.448412  0.590463  0.643634
1  0.600867  0.924069  0.577132  0.108517  0.112412  0.464599
2  0.942154  0.517300  0.408652  0.456824  0.596942  0.584374
3  0.852369  0.668441  0.228210  0.152742  0.408499  0.462052
4  0.729530  0.494036  0.727662  0.796025  0.549634  0.659377
5  0.520639  0.638478  0.328350  0.376173  0.077476  0.388223
6  0.284895  0.245194  0.263510  0.137528  0.929411  0.372108
7  0.075390  0.607625  0.715204  0.428097  0.654314  0.496126
8  0.720070  0.474032  0.695262  0.109529  0.852346  0.570248
9  0.862877  0.519235  0.954243  0.583705  0.398035  0.663619

In [5]:
#Try to do it again with the new tables Oct 29

df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct29\SegmentsJoinPennDOT.xlsx')



df.columns = df.columns.str.replace("Oct29_SplitCenterlines.", "")
df.columns = df.columns.str.replace("PennDOTNearCenterline.", "")

df.head()

df_r1 = (pd.DataFrame(df.groupby(['SegmentID'])['ADT'].agg(['mean', 'count'])).
         reset_index().rename(columns = {'mean': 'ADT average value'}))

df_join = df[['SegmentID', 'ROUTE_NAME']].drop_duplicates()

#Join the groupby result and the road name
df_1 = pd.merge(df_r1, df_join, on = 'SegmentID', how = 'left')
df_1

#Getting a separate dataframe with segment ID, year and count numbers
df_g1 = pd.DataFrame(df.groupby(['SegmentID', 'CountYear']).size()).reset_index()

df_c1 = pd.merge(df_g1, df_join, on = 'SegmentID', how = 'left')
df_c1

df1 = pd.concat([df_1, df_c1], axis = 1)
df1

,OBJECTID,ROUTE_NAME,RoadClass,Shape_Length,SegmentID,OBJECTID,RouteName,ADT,ADTT,CountYear,TruckPercent,TruckPercentage,NewADT,NewADTT,RoadClass,NEAR_FID,NEAR_DIST,NEAR_X,NEAR_Y
0,1,I-476,Interstate Highway,37536.516964,1,50.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,22.429148,2.551949e+06,528706.985759
1,2,I-476,Interstate Highway,33333.947191,2,48.0,I-476,45645.0,7373.0,NaN,16.0,16%,"45,645","7,373",Interstate Highway,2.0,36.219431,2.598246e+06,431557.833522
2,3,I-476,Interstate Highway,19473.363414,3,49.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,3.0,36.930515,2.587595e+06,445029.284318
3,4,I-476,Interstate Highway,3504.731106,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,I-476,Interstate Highway,4647.527245,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

     SegmentID  ADT average value  count     ROUTE_NAME
0            1            30240.0      1          I-476
1            2            45645.0      1          I-476
2            3            30240.0      1          I-476
3            4                NaN      0          I-476
4            5                NaN      0          I-476
5            6                NaN      0          I-476
6            7                NaN      0          I-476
7            8            30240.0      1          I-476
8            9            17544.0      1            I78
9           10                NaN      0            I78
10          11                NaN      0            I78
11          12                NaN      0            I78
12          13                NaN      0            I78
13          14                NaN      0            I78
14          15            33822.5      2            I78
15          16             6994.0      2      PA RT 145
16          17            13680.0      1      PA RT 191
17          18                NaN      0      PA RT 191
18          19                NaN      0      PA RT 191
19          20             7609.0      1      PA RT 191
20          21             2446.0      1      PA RT 191
21          22                NaN      0      PA RT 248
22          23                NaN      0      PA RT 248
23          24                NaN      0      PA RT 248
24          25             8667.5      2      PA RT 248
25          26            10434.0      1      PA RT 248
26          27                NaN      0      PA RT 248
27          28            11011.0      1  PA RT 329/987
28          29             5172.0      1      PA RT 412
29          30            11329.0      1      PA RT 412
..         ...                ...    ...            ...
72          73                NaN      0        SR 0309
73          74                NaN      0        SR 0309
74          75                NaN      0        SR 0309
75          76                NaN      0        SR 0309
76          77                NaN      0        SR 0309
77          78                NaN      0        SR 0309
78          79                NaN      0        SR 0309
79          80                NaN      0        SR 0309
80          81            10525.0      1        SR 0309
81          82             5063.0      1        SR 0309
82          83             7471.0      1        SR 0309
83          84                NaN      0        SR 0329
84          85             9296.0      1        SR 0329
85          86            16549.0      1        SR 0329
86          87                NaN      0        SR 0378
87          88            19301.5      2        SR 0378
88          89            17390.0      1        SR 0378
89          90            11489.5      2        SR 0987
90          91                NaN      0        SR 0987
91          92             9896.0      1        SR 1002
92          93             7311.0      1        SR 1002
93          94                NaN      0        SR 1002
94          95                NaN      0        SR 1002
95          96            11648.0      1        SR 1002
96          97            14102.0      1        SR 1003
97          98                NaN      0   STATE HWY 33
98          99            25269.0      1   STATE HWY 33
99         100            32352.0      1   STATE HWY 33
100        101            25448.0      1   STATE HWY 33
101        102                NaN      0   STATE HWY 33

[102 rows x 4 columns]

    SegmentID  CountYear  0           ROUTE_NAME
0           9     2013.0  1                  I78
1          15     2017.0  1                  I78
2          15     2018.0  1                  I78
3          16     2015.0  1            PA RT 145
4          16     2017.0  1            PA RT 145
5          17     2014.0  1            PA RT 191
6          20     2015.0  1            PA RT 191
7          21     2017.0  1            PA RT 191
8          25     2015.0  1            PA RT 248
9          25     2017.0  1            PA RT 248
10         26     2017.0  1            PA RT 248
11         28     2015.0  1        PA RT 329/987
12         29     2016.0  1            PA RT 412
13         30     2017.0  1            PA RT 412
14         31     2016.0  1            PA RT 512
15         34     2016.0  1            PA RT 512
16         35     2017.0  1            PA RT 611
17         37     2015.0  1            PA RT 611
18         38     2015.0  1            PA RT 611
19         39     2016.0  1              SR 0022
20         45     2017.0  1              SR 0022
21         47     2017.0  1              SR 0022
22         49     2017.0  1              SR 0022
23         52     2017.0  1              SR 0029
24         53     2017.0  1              SR 0029
25         54     2017.0  1  SR 0029     SR 0100
26         58     2015.0  1              SR 0100
27         58     2016.0  1              SR 0100
28         58     2017.0  1              SR 0100
29         59     2018.0  1              SR 0100
30         61     2016.0  1              SR 0100
31         64     2017.0  1              SR 0145
32         66     2017.0  1              SR 0145
33         68     2017.0  1              SR 0222
34         69     2017.0  1              SR 0222
35         71     2016.0  1     SR 0222  SR 0100
36         81     2017.0  1              SR 0309
37         82     2017.0  1              SR 0309
38         83     2016.0  1              SR 0309
39         85     2014.0  1              SR 0329
40         86     2018.0  1              SR 0329
41         88     2016.0  2              SR 0378
42         89     2017.0  1              SR 0378
43         90     2016.0  1              SR 0987
44         90     2018.0  1              SR 0987
45         92     2017.0  1              SR 1002
46         93     2018.0  1              SR 1002
47         96     2017.0  1              SR 1002
48         97     2017.0  1              SR 1003
49         99     2017.0  1         STATE HWY 33
50        100     2017.0  1         STATE HWY 33
51        101     2014.0  1         STATE HWY 33

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,30240.0,1,I-476,9.0,2013.0,1.0,I78
1,2,45645.0,1,I-476,15.0,2017.0,1.0,I78
2,3,30240.0,1,I-476,15.0,2018.0,1.0,I78
3,4,NaN,0,I-476,16.0,2015.0,1.0,PA RT 145
4,5,NaN,0,I-476,16.0,2017.0,1.0,PA RT 145
5,6,NaN,0,I-476,17.0,2014.0,1.0,PA RT 191
6,7,NaN,0,I-476,20.0,2015.0,1.0,PA RT 191
7,8,30240.0,1,I-476,21.0,2017.0,1.0,PA RT 191
8,9,17544.0,1,I78,25.0,2015.0,1.0,PA RT 248
9,10,NaN,0,I78,25.0,2017.0,1.0,PA RT 248
10,11,NaN,0,I78,26.0,2017.0,1.0,PA RT 248
11,12,NaN,0,I78,28.0,2015.0,1.0,PA RT 329/987
12,13,NaN,0,I78,29.0,2016.0,1.0,PA RT 412
13,14,NaN,0,I78,30.0,2017.0,1.0,PA RT 412
14,15,33822.5,2,I78,31.0,2016.0,1.0,PA RT 512
15,16,6994.0,2,PA RT 145,34.0,2016.0,1.0,PA RT 512
16,17,13680.0,1,PA RT 191,35.0,2017.0,1.0,PA RT 611
17,18,NaN,0,PA RT 191,37.0,2015.0,1.0,PA RT 611
18,19,NaN,0,PA RT 191,38.0,2015.0,1.0,PA RT 611
19,20,7609.0,1,PA RT 191,39.0,2016.0,1.0,SR 0022
20,21,2446.0,1,PA RT 191,45.0,2017.0,1.0,SR 0022
21,22,NaN,0,PA RT 248,47.0,2017.0,1.0,SR 0022
22,23,NaN,0,PA RT 248,49.0,2017.0,1.0,SR 0022
23,24,NaN,0,PA RT 248,52.0,2017.0,1.0,SR 0029
24,25,8667.5,2,PA RT 248,53.0,2017.0,1.0,SR 0029
25,26,10434.0,1,PA RT 248,54.0,2017.0,1.0,SR 0029 SR 0100
26,27,NaN,0,PA RT 248,58.0,2015.0,1.0,SR 0100
27,28,11011.0,1,PA RT 329/987,58.0,2016.0,1.0,SR 0100
28,29,5172.0,1,PA RT 412,58.0,2017.0,1.0,SR 0100
29,30,11329.0,1,PA RT 412,59.0,2018.0,1.0,SR 0100
...,...,...,...,...,...,...,...,...
72,73,NaN,0,SR 0309,NaN,NaN,NaN,NaN
73,74,NaN,0,SR 0309,NaN,NaN,NaN,NaN
74,75,NaN,0,SR 0309,NaN,NaN,NaN,NaN
75,76,NaN,0,SR 0309,NaN,NaN,NaN,NaN
76,77,NaN,0,SR 0309,NaN,NaN,NaN,NaN
77,78,NaN,0,SR 0309,NaN,NaN,NaN,NaN
78,79,NaN,0,SR 0309,NaN,NaN,NaN,NaN
79,80,NaN,0,SR 0309,NaN,NaN,NaN,NaN
80,81,10525.0,1,SR 0309,NaN,NaN,NaN,NaN
81,82,5063.0,1,SR 0309,NaN,NaN,NaN,NaN
82,83,7471.0,1,SR 0309,NaN,NaN,NaN,NaN
83,84,NaN,0,SR 0329,NaN,NaN,NaN,NaN
84,85,9296.0,1,SR 0329,NaN,NaN,NaN,NaN
85,86,16549.0,1,SR 0329,NaN,NaN,NaN,NaN
86,87,NaN,0,SR 0378,NaN,NaN,NaN,NaN
87,88,19301.5,2,SR 0378,NaN,NaN,NaN,NaN
88,89,17390.0,1,SR 0378,NaN,NaN,NaN,NaN
89,90,11489.5,2,SR 0987,NaN,NaN,NaN,NaN
90,91,NaN,0,SR 0987,NaN,NaN,NaN,NaN
91,92,9896.0,1,SR 1002,NaN,NaN,NaN,NaN
92,93,7311.0,1,SR 1002,NaN,NaN,NaN,NaN
93,94,NaN,0,SR 1002,NaN,NaN,NaN,NaN
94,95,NaN,0,SR 1002,NaN,NaN,NaN,NaN
95,96,11648.0,1,SR 1002,NaN,NaN,NaN,NaN
96,97,14102.0,1,SR 1003,NaN,NaN,NaN,NaN
97,98,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN
98,99,25269.0,1,STATE HWY 33,NaN,NaN,NaN,NaN
99,100,32352.0,1,STATE HWY 33,NaN,NaN,NaN,NaN
100,101,25448.0,1,STATE HWY 33,NaN,NaN,NaN,NaN
101,102,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN

In [13]:
df1

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,30240.000000,3,I-476,3.0,2013.0,1.0,I78
1,2,45645.000000,1,I-476,4.0,2017.0,1.0,I78
2,3,17544.000000,1,I78,4.0,2018.0,1.0,I78
3,4,33822.500000,2,I78,6.0,2015.0,1.0,PA RT 145
4,5,NaN,0,I78,6.0,2017.0,1.0,PA RT 145
5,6,6994.000000,2,PA RT 145,7.0,2014.0,1.0,PA RT 191
6,7,7911.666667,3,PA RT 191,7.0,2015.0,1.0,PA RT 191
7,8,NaN,0,PA RT 248,7.0,2017.0,1.0,PA RT 191
8,9,NaN,0,PA RT 248,10.0,2015.0,1.0,PA RT 248
9,10,8667.500000,2,PA RT 248,10.0,2017.0,1.0,PA RT 248
10,11,10434.000000,1,PA RT 248,11.0,2017.0,1.0,PA RT 248
11,12,NaN,0,PA RT 248,13.0,2015.0,1.0,PA RT 329/987
12,13,11011.000000,1,PA RT 329/987,14.0,2016.0,1.0,PA RT 412
13,14,8250.500000,2,PA RT 412,14.0,2017.0,1.0,PA RT 412
14,15,9736.000000,2,PA RT 512,15.0,2016.0,2.0,PA RT 512
15,16,3465.000000,1,PA RT 611,16.0,2017.0,1.0,PA RT 611
16,17,NaN,0,PA RT 611,18.0,2015.0,1.0,PA RT 611
17,18,6589.000000,1,PA RT 611,19.0,2015.0,1.0,PA RT 611
18,19,8813.000000,1,PA RT 611,20.0,2016.0,1.0,SR 0022
19,20,NaN,0,SR 0022,21.0,2017.0,3.0,SR 0022
20,21,NaN,0,SR 0022,24.0,2017.0,2.0,SR 0029
21,22,NaN,0,SR 0022 SR 0078,25.0,2017.0,1.0,SR 0029 SR 0100
22,23,NaN,0,SR 0022 SR 0078,27.0,2015.0,1.0,SR 0100
23,24,15278.000000,2,SR 0029,27.0,2016.0,1.0,SR 0100
24,25,13063.000000,1,SR 0029 SR 0100,27.0,2017.0,1.0,SR 0100
25,26,NaN,0,SR 0078 SR 0309,28.0,2016.0,1.0,SR 0100
26,27,8284.000000,3,SR 0100,28.0,2018.0,1.0,SR 0100
27,28,NaN,0,SR 0100,30.0,2017.0,2.0,SR 0145
28,29,NaN,0,SR 0145,31.0,2017.0,1.0,SR 0222
29,30,13889.000000,2,SR 0145,32.0,2017.0,1.0,SR 0222
30,31,24233.000000,1,SR 0222,33.0,2016.0,1.0,SR 0222 SR 0100
31,32,15812.000000,1,SR 0222,39.0,2016.0,1.0,SR 0309
32,33,13752.000000,1,SR 0222 SR 0100,39.0,2017.0,2.0,SR 0309
33,34,NaN,0,SR 0309,41.0,2014.0,1.0,SR 0329
34,35,NaN,0,SR 0309,41.0,2018.0,1.0,SR 0329
35,36,NaN,0,SR 0309,43.0,2016.0,2.0,SR 0378
36,37,NaN,0,SR 0309,43.0,2017.0,1.0,SR 0378
37,38,NaN,0,SR 0309,44.0,2016.0,1.0,SR 0987
38,39,7686.333333,3,SR 0309,44.0,2018.0,1.0,SR 0987
39,40,NaN,0,SR 0329,46.0,2017.0,2.0,SR 1002
40,41,12922.500000,2,SR 0329,46.0,2018.0,1.0,SR 1002
41,42,NaN,0,SR 0378,47.0,2017.0,1.0,SR 1003
42,43,18664.333333,3,SR 0378,48.0,2014.0,1.0,STATE HWY 33
43,44,11489.500000,2,SR 0987,48.0,2017.0,1.0,STATE HWY 33
44,45,NaN,0,SR 0987,49.0,2017.0,1.0,STATE HWY 33
45,46,9618.333333,3,SR 1002,NaN,NaN,NaN,NaN
46,47,14102.000000,1,SR 1003,NaN,NaN,NaN,NaN
47,48,28900.000000,2,STATE HWY 33,NaN,NaN,NaN,NaN
48,49,25269.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
49,50,NaN,0,T413,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Oct29_SplitCenterlines.OBJECTID', 'Oct29_SplitCenterlines.ROUTE_NAME',
       'Oct29_SplitCenterlines.RoadClass',
       'Oct29_SplitCenterlines.Shape_Length',
       'Oct29_SplitCenterlines.SegmentID', 'OBJECTID', 'RouteName', 'ADT',
       'ADTT', 'CountYear', 'TruckPercent', 'TruckPercentage', 'NewADT',
       'NewADTT', 'RoadClass', 'NEAR_FID', 'NEAR_DIST', 'NEAR_X', 'NEAR_Y'],
      dtype='object')

In [6]:
#Do the same for the next one Oct29
df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct29\SegmentsJoinBrian.xlsx')



df.columns = df.columns.str.replace("Oct29_SplitCenterlines.", "")
df.columns = df.columns.str.replace("BrianNearCenterline.", "")

df.head()

df_r1 = (pd.DataFrame(df.groupby(['SegmentID'])['AADT'].agg(['mean', 'count'])).
         reset_index().rename(columns = {'mean': 'ADT average value'}))

df_join = df[['SegmentID', 'ROUTE_NAME']].drop_duplicates()

#Join the groupby result and the road name
df_1 = pd.merge(df_r1, df_join, on = 'SegmentID', how = 'left')
df_1

#Getting a separate dataframe with segment ID, year and count numbers
df_g1 = pd.DataFrame(df.groupby(['SegmentID', 'CountYear']).size()).reset_index()

df_c1 = pd.merge(df_g1, df_join, on = 'SegmentID', how = 'left')
df_c1

df2 = pd.concat([df_1, df_c1], axis = 1)
df2

,OBJECTID,ROUTE_NAME,RoadClass,Shape_Length,SegmentID,OBJECTID,NC17_F2017_Trial,Site_Number,Site_No,County,...,Route_Backup,FinalData2014_csv_Field11,LC17_F2017_Trial,LC17_TMS_SITE_N,_csv_New_Truck_Percent,RouteB,LC15_STATION_ID,LC15_TMS_SITE_N,NEAR_FID,NEAR_DIST
0,1,I-476,Interstate Highway,37536.516964,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I-476,Interstate Highway,33333.947191,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,I-476,Interstate Highway,19473.363414,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,I-476,Interstate Highway,3504.731106,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,I-476,Interstate Highway,4647.527245,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

     SegmentID  ADT average value  count     ROUTE_NAME
0            1                NaN      0          I-476
1            2                NaN      0          I-476
2            3                NaN      0          I-476
3            4                NaN      0          I-476
4            5                NaN      0          I-476
5            6                NaN      0          I-476
6            7                NaN      0          I-476
7            8                NaN      0          I-476
8            9                NaN      0            I78
9           10                NaN      0            I78
10          11                NaN      0            I78
11          12                NaN      0            I78
12          13                NaN      0            I78
13          14                NaN      0            I78
14          15                NaN      0            I78
15          16        5442.000000      1      PA RT 145
16          17                NaN      0      PA RT 191
17          18                NaN      0      PA RT 191
18          19       10260.333333      3      PA RT 191
19          20        5104.000000      1      PA RT 191
20          21        3639.000000      2      PA RT 191
21          22        5938.000000      3      PA RT 248
22          23       16198.500000      2      PA RT 248
23          24                NaN      0      PA RT 248
24          25        9537.250000      4      PA RT 248
25          26        7419.000000      6      PA RT 248
26          27                NaN      0      PA RT 248
27          28       10948.000000      1  PA RT 329/987
28          29        9070.500000      2      PA RT 412
29          30                NaN      0      PA RT 412
..         ...                ...    ...            ...
72          73                NaN      0        SR 0309
73          74       17640.000000      1        SR 0309
74          75                NaN      0        SR 0309
75          76       15355.500000      2        SR 0309
76          77                NaN      0        SR 0309
77          78                NaN      0        SR 0309
78          79                NaN      0        SR 0309
79          80       23528.000000      1        SR 0309
80          81                NaN      0        SR 0309
81          82       10079.250000      4        SR 0309
82          83        9013.000000      2        SR 0309
83          84                NaN      0        SR 0329
84          85                NaN      0        SR 0329
85          86        8688.500000      2        SR 0329
86          87                NaN      0        SR 0378
87          88       12450.000000      1        SR 0378
88          89                NaN      0        SR 0378
89          90                NaN      0        SR 0987
90          91                NaN      0        SR 0987
91          92                NaN      0        SR 1002
92          93                NaN      0        SR 1002
93          94                NaN      0        SR 1002
94          95                NaN      0        SR 1002
95          96                NaN      0        SR 1002
96          97                NaN      0        SR 1003
97          98                NaN      0   STATE HWY 33
98          99       24106.000000      1   STATE HWY 33
99         100       31402.000000      1   STATE HWY 33
100        101                NaN      0   STATE HWY 33
101        102                NaN      0   STATE HWY 33

[102 rows x 4 columns]

    SegmentID  CountYear  0           ROUTE_NAME
0          16     2015.0  1            PA RT 145
1          19     2014.0  1            PA RT 191
2          19     2016.0  1            PA RT 191
3          19     2017.0  1            PA RT 191
4          20     2016.0  1            PA RT 191
5          21     2014.0  2            PA RT 191
6          22     2014.0  1            PA RT 248
7          22     2016.0  1            PA RT 248
8          22     2017.0  1            PA RT 248
9          23     2015.0  2            PA RT 248
10         25     2014.0  1            PA RT 248
11         25     2015.0  1            PA RT 248
12         25     2017.0  2            PA RT 248
13         26     2014.0  2            PA RT 248
14         26     2015.0  1            PA RT 248
15         26     2016.0  2            PA RT 248
16         26     2017.0  1            PA RT 248
17         28     2015.0  1        PA RT 329/987
18         29     2016.0  1            PA RT 412
19         29     2017.0  1            PA RT 412
20         31     2015.0  1            PA RT 512
21         32     2014.0  1            PA RT 512
22         33     2014.0  1            PA RT 512
23         33     2016.0  1            PA RT 512
24         35     2014.0  2            PA RT 611
25         35     2017.0  1            PA RT 611
26         37     2016.0  1            PA RT 611
27         37     2017.0  1            PA RT 611
28         43     2014.0  1              SR 0022
29         45     2017.0  1              SR 0022
..        ...        ... ..                  ...
32         54     2017.0  1  SR 0029     SR 0100
33         56     2014.0  1   SR 0078    SR 0309
34         56     2016.0  2   SR 0078    SR 0309
35         56     2017.0  1   SR 0078    SR 0309
36         58     2014.0  1              SR 0100
37         58     2016.0  1              SR 0100
38         58     2017.0  1              SR 0100
39         59     2014.0  1              SR 0100
40         61     2017.0  1              SR 0100
41         64     2014.0  1              SR 0145
42         64     2015.0  1              SR 0145
43         64     2017.0  1              SR 0145
44         65     2014.0  1              SR 0145
45         66     2014.0  2              SR 0145
46         66     2017.0  3              SR 0145
47         67     2016.0  1              SR 0145
48         68     2016.0  1              SR 0222
49         74     2017.0  1              SR 0309
50         76     2014.0  1              SR 0309
51         76     2017.0  1              SR 0309
52         80     2014.0  1              SR 0309
53         82     2014.0  1              SR 0309
54         82     2015.0  1              SR 0309
55         82     2017.0  2              SR 0309
56         83     2016.0  1              SR 0309
57         83     2017.0  1              SR 0309
58         86     2016.0  2              SR 0329
59         88     2014.0  1              SR 0378
60         99     2017.0  1         STATE HWY 33
61        100     2017.0  1         STATE HWY 33

[62 rows x 4 columns]

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,NaN,0,I-476,16.0,2015.0,1.0,PA RT 145
1,2,NaN,0,I-476,19.0,2014.0,1.0,PA RT 191
2,3,NaN,0,I-476,19.0,2016.0,1.0,PA RT 191
3,4,NaN,0,I-476,19.0,2017.0,1.0,PA RT 191
4,5,NaN,0,I-476,20.0,2016.0,1.0,PA RT 191
5,6,NaN,0,I-476,21.0,2014.0,2.0,PA RT 191
6,7,NaN,0,I-476,22.0,2014.0,1.0,PA RT 248
7,8,NaN,0,I-476,22.0,2016.0,1.0,PA RT 248
8,9,NaN,0,I78,22.0,2017.0,1.0,PA RT 248
9,10,NaN,0,I78,23.0,2015.0,2.0,PA RT 248
10,11,NaN,0,I78,25.0,2014.0,1.0,PA RT 248
11,12,NaN,0,I78,25.0,2015.0,1.0,PA RT 248
12,13,NaN,0,I78,25.0,2017.0,2.0,PA RT 248
13,14,NaN,0,I78,26.0,2014.0,2.0,PA RT 248
14,15,NaN,0,I78,26.0,2015.0,1.0,PA RT 248
15,16,5442.000000,1,PA RT 145,26.0,2016.0,2.0,PA RT 248
16,17,NaN,0,PA RT 191,26.0,2017.0,1.0,PA RT 248
17,18,NaN,0,PA RT 191,28.0,2015.0,1.0,PA RT 329/987
18,19,10260.333333,3,PA RT 191,29.0,2016.0,1.0,PA RT 412
19,20,5104.000000,1,PA RT 191,29.0,2017.0,1.0,PA RT 412
20,21,3639.000000,2,PA RT 191,31.0,2015.0,1.0,PA RT 512
21,22,5938.000000,3,PA RT 248,32.0,2014.0,1.0,PA RT 512
22,23,16198.500000,2,PA RT 248,33.0,2014.0,1.0,PA RT 512
23,24,NaN,0,PA RT 248,33.0,2016.0,1.0,PA RT 512
24,25,9537.250000,4,PA RT 248,35.0,2014.0,2.0,PA RT 611
25,26,7419.000000,6,PA RT 248,35.0,2017.0,1.0,PA RT 611
26,27,NaN,0,PA RT 248,37.0,2016.0,1.0,PA RT 611
27,28,10948.000000,1,PA RT 329/987,37.0,2017.0,1.0,PA RT 611
28,29,9070.500000,2,PA RT 412,43.0,2014.0,1.0,SR 0022
29,30,NaN,0,PA RT 412,45.0,2017.0,1.0,SR 0022
...,...,...,...,...,...,...,...,...
72,73,NaN,0,SR 0309,NaN,NaN,NaN,NaN
73,74,17640.000000,1,SR 0309,NaN,NaN,NaN,NaN
74,75,NaN,0,SR 0309,NaN,NaN,NaN,NaN
75,76,15355.500000,2,SR 0309,NaN,NaN,NaN,NaN
76,77,NaN,0,SR 0309,NaN,NaN,NaN,NaN
77,78,NaN,0,SR 0309,NaN,NaN,NaN,NaN
78,79,NaN,0,SR 0309,NaN,NaN,NaN,NaN
79,80,23528.000000,1,SR 0309,NaN,NaN,NaN,NaN
80,81,NaN,0,SR 0309,NaN,NaN,NaN,NaN
81,82,10079.250000,4,SR 0309,NaN,NaN,NaN,NaN
82,83,9013.000000,2,SR 0309,NaN,NaN,NaN,NaN
83,84,NaN,0,SR 0329,NaN,NaN,NaN,NaN
84,85,NaN,0,SR 0329,NaN,NaN,NaN,NaN
85,86,8688.500000,2,SR 0329,NaN,NaN,NaN,NaN
86,87,NaN,0,SR 0378,NaN,NaN,NaN,NaN
87,88,12450.000000,1,SR 0378,NaN,NaN,NaN,NaN
88,89,NaN,0,SR 0378,NaN,NaN,NaN,NaN
89,90,NaN,0,SR 0987,NaN,NaN,NaN,NaN
90,91,NaN,0,SR 0987,NaN,NaN,NaN,NaN
91,92,NaN,0,SR 1002,NaN,NaN,NaN,NaN
92,93,NaN,0,SR 1002,NaN,NaN,NaN,NaN
93,94,NaN,0,SR 1002,NaN,NaN,NaN,NaN
94,95,NaN,0,SR 1002,NaN,NaN,NaN,NaN
95,96,NaN,0,SR 1002,NaN,NaN,NaN,NaN
96,97,NaN,0,SR 1003,NaN,NaN,NaN,NaN
97,98,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN
98,99,24106.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
99,100,31402.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
100,101,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN
101,102,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN

In [7]:
df1.head()
df2.head()

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,30240.0,1,I-476,9.0,2013.0,1.0,I78
1,2,45645.0,1,I-476,15.0,2017.0,1.0,I78
2,3,30240.0,1,I-476,15.0,2018.0,1.0,I78
3,4,NaN,0,I-476,16.0,2015.0,1.0,PA RT 145
4,5,NaN,0,I-476,16.0,2017.0,1.0,PA RT 145

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,NaN,0,I-476,16.0,2015.0,1.0,PA RT 145
1,2,NaN,0,I-476,19.0,2014.0,1.0,PA RT 191
2,3,NaN,0,I-476,19.0,2016.0,1.0,PA RT 191
3,4,NaN,0,I-476,19.0,2017.0,1.0,PA RT 191
4,5,NaN,0,I-476,20.0,2016.0,1.0,PA RT 191

In [8]:
writer = pd.ExcelWriter('H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct29\SegmentSummaryResult.xlsx')
df1.to_excel(writer,'PennDOT')
df2.to_excel(writer,'Brian')
writer.save()

In [30]:
dfa.columns
dfa.columns = ['OBJECTID', 'ROUTE_NAME', 'RoadClass', 'Shape_Length', 'SegmentID',
       'Second_OBJECTID', 'RouteName', 'ADT', 'ADTT', 'CountYear', 'TruckPercent',
       'TruckPercentage', 'NewADT', 'NewADTT', 'RoadClass', 'NEAR_FID',
       'NEAR_DIST', 'NEAR_X', 'NEAR_Y']
dfa.head()

Index(['OBJECTID', 'ROUTE_NAME', 'RoadClass', 'Shape_Length', 'SegmentID',
       'OBJECTID', 'RouteName', 'ADT', 'ADTT', 'CountYear', 'TruckPercent',
       'TruckPercentage', 'NewADT', 'NewADTT', 'RoadClass', 'NEAR_FID',
       'NEAR_DIST', 'NEAR_X', 'NEAR_Y'],
      dtype='object')

,OBJECTID,ROUTE_NAME,RoadClass,Shape_Length,SegmentID,Second_OBJECTID,RouteName,ADT,ADTT,CountYear,TruckPercent,TruckPercentage,NewADT,NewADTT,RoadClass,NEAR_FID,NEAR_DIST,NEAR_X,NEAR_Y
0,1,I-476,Interstate Highway,37536.516964,1,50.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,22.429148,2.551949e+06,528706.985759
1,2,I-476,Interstate Highway,33333.947191,2,48.0,I-476,45645.0,7373.0,NaN,16.0,16%,"45,645","7,373",Interstate Highway,2.0,36.219431,2.598246e+06,431557.833522
2,3,I-476,Interstate Highway,19473.363414,3,49.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,3.0,36.930515,2.587595e+06,445029.284318
3,4,I-476,Interstate Highway,3504.731106,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,I-476,Interstate Highway,4647.527245,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
#Use groupby or Pivot table to get the mean of ADT & ADTT
dfa = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct29\SegmentsJoinPennDOT.xlsx')



dfa.columns = dfa.columns.str.replace("Oct29_SplitCenterlines.", "")
dfa.columns = dfa.columns.str.replace("PennDOTNearCenterline.", "")

dfa.head()

dfa_points = pd.DataFrame(dfa.groupby(['SegmentID', 'CountYear']).size())
dfa_points

dfp = pd.pivot_table(dfa, values = ['ADT', 'ADTT'], index = ['SegmentID', 'CountYear'], aggfunc = {'ADT': np.mean, 'ADTT':[np.mean, len]} )
dfp.reset_index()

,OBJECTID,ROUTE_NAME,RoadClass,Shape_Length,SegmentID,OBJECTID,RouteName,ADT,ADTT,CountYear,TruckPercent,TruckPercentage,NewADT,NewADTT,RoadClass,NEAR_FID,NEAR_DIST,NEAR_X,NEAR_Y
0,1,I-476,Interstate Highway,37536.516964,1,50.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,22.429148,2.551949e+06,528706.985759
1,2,I-476,Interstate Highway,33333.947191,2,48.0,I-476,45645.0,7373.0,NaN,16.0,16%,"45,645","7,373",Interstate Highway,2.0,36.219431,2.598246e+06,431557.833522
2,3,I-476,Interstate Highway,19473.363414,3,49.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,3.0,36.930515,2.587595e+06,445029.284318
3,4,I-476,Interstate Highway,3504.731106,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,I-476,Interstate Highway,4647.527245,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

                     0
SegmentID CountYear
9         2013.0     1
15        2017.0     1
          2018.0     1
16        2015.0     1
          2017.0     1
17        2014.0     1
20        2015.0     1
21        2017.0     1
25        2015.0     1
          2017.0     1
26        2017.0     1
28        2015.0     1
29        2016.0     1
30        2017.0     1
31        2016.0     1
34        2016.0     1
35        2017.0     1
37        2015.0     1
38        2015.0     1
39        2016.0     1
45        2017.0     1
47        2017.0     1
49        2017.0     1
52        2017.0     1
53        2017.0     1
54        2017.0     1
58        2015.0     1
          2016.0     1
          2017.0     1
59        2018.0     1
61        2016.0     1
64        2017.0     1
66        2017.0     1
68        2017.0     1
69        2017.0     1
71        2016.0     1
81        2017.0     1
82        2017.0     1
83        2016.0     1
85        2014.0     1
86        2018.0     1
88        2016.0     2
89        2017.0     1
90        2016.0     1
          2018.0     1
92        2017.0     1
93        2018.0     1
96        2017.0     1
97        2017.0     1
99        2017.0     1
100       2017.0     1
101       2014.0     1

   SegmentID CountYear      ADT ADTT
                           mean  len    mean
0          9    2013.0  17544.0  1.0  5546.0
1         15    2017.0  33894.0  1.0  7738.0
2         15    2018.0  33751.0  1.0  7120.0
3         16    2015.0   5496.0  1.0   495.0
4         16    2017.0   8492.0  1.0   679.0
5         17    2014.0  13680.0  1.0   821.0
6         20    2015.0   7609.0  1.0   228.0
7         21    2017.0   2446.0  1.0    73.0
8         25    2015.0  10455.0  1.0   941.0
9         25    2017.0   6880.0  1.0   918.0
10        26    2017.0  10434.0  1.0   763.0
11        28    2015.0  11011.0  1.0   881.0
12        29    2016.0   5172.0  1.0   569.0
13        30    2017.0  11329.0  1.0   870.0
14        31    2016.0  12419.0  1.0  1536.0
15        34    2016.0   7053.0  1.0   435.0
16        35    2017.0   3465.0  1.0   197.0
17        37    2015.0   6589.0  1.0   874.0
18        38    2015.0   8813.0  1.0   352.0
19        39    2016.0      NaN  1.0     NaN
20        45    2017.0      NaN  1.0     NaN
21        47    2017.0      NaN  1.0     NaN
22        49    2017.0      NaN  1.0     NaN
23        52    2017.0  20217.0  1.0  1416.0
24        53    2017.0  10339.0  1.0  1037.0
25        54    2017.0  13063.0  1.0  1437.0
26        58    2015.0   5743.0  1.0  1054.0
27        58    2016.0  13075.0  1.0  1176.0
28        58    2017.0   6034.0  1.0   495.0
29        59    2018.0      NaN  1.0     NaN
30        61    2016.0      NaN  1.0     NaN
31        64    2017.0  17940.0  1.0  1132.0
32        66    2017.0   9838.0  1.0   885.0
33        68    2017.0  24233.0  1.0  4140.0
34        69    2017.0  15812.0  1.0  1910.0
35        71    2016.0  13752.0  1.0  2563.0
36        81    2017.0  10525.0  1.0   737.0
37        82    2017.0   5063.0  1.0   238.0
38        83    2016.0   7471.0  1.0  1224.0
39        85    2014.0   9296.0  1.0   372.0
40        86    2018.0  16549.0  1.0  1489.0
41        88    2016.0  19301.5  2.0  1186.5
42        89    2017.0  17390.0  1.0   696.0
43        90    2016.0  10732.0  1.0   429.0
44        90    2018.0  12247.0  1.0  1225.0
45        92    2017.0   9896.0  1.0   297.0
46        93    2018.0   7311.0  1.0   877.0
47        96    2017.0  11648.0  1.0   349.0
48        97    2017.0  14102.0  1.0  1231.0
49        99    2017.0  25269.0  1.0  3790.0
50       100    2017.0  32352.0  1.0  3882.0
51       101    2014.0  25448.0  1.0  2544.0

In [29]:
dfp.reset_index()

   SegmentID CountYear      ADT ADTT
                           mean  len    mean
0          9    2013.0  17544.0  1.0  5546.0
1         15    2017.0  33894.0  1.0  7738.0
2         15    2018.0  33751.0  1.0  7120.0
3         16    2015.0   5496.0  1.0   495.0
4         16    2017.0   8492.0  1.0   679.0
5         17    2014.0  13680.0  1.0   821.0
6         20    2015.0   7609.0  1.0   228.0
7         21    2017.0   2446.0  1.0    73.0
8         25    2015.0  10455.0  1.0   941.0
9         25    2017.0   6880.0  1.0   918.0
10        26    2017.0  10434.0  1.0   763.0
11        28    2015.0  11011.0  1.0   881.0
12        29    2016.0   5172.0  1.0   569.0
13        30    2017.0  11329.0  1.0   870.0
14        31    2016.0  12419.0  1.0  1536.0
15        34    2016.0   7053.0  1.0   435.0
16        35    2017.0   3465.0  1.0   197.0
17        37    2015.0   6589.0  1.0   874.0
18        38    2015.0   8813.0  1.0   352.0
19        39    2016.0      NaN  1.0     NaN
20        45    2017.0      NaN  1.0     NaN
21        47    2017.0      NaN  1.0     NaN
22        49    2017.0      NaN  1.0     NaN
23        52    2017.0  20217.0  1.0  1416.0
24        53    2017.0  10339.0  1.0  1037.0
25        54    2017.0  13063.0  1.0  1437.0
26        58    2015.0   5743.0  1.0  1054.0
27        58    2016.0  13075.0  1.0  1176.0
28        58    2017.0   6034.0  1.0   495.0
29        59    2018.0      NaN  1.0     NaN
30        61    2016.0      NaN  1.0     NaN
31        64    2017.0  17940.0  1.0  1132.0
32        66    2017.0   9838.0  1.0   885.0
33        68    2017.0  24233.0  1.0  4140.0
34        69    2017.0  15812.0  1.0  1910.0
35        71    2016.0  13752.0  1.0  2563.0
36        81    2017.0  10525.0  1.0   737.0
37        82    2017.0   5063.0  1.0   238.0
38        83    2016.0   7471.0  1.0  1224.0
39        85    2014.0   9296.0  1.0   372.0
40        86    2018.0  16549.0  1.0  1489.0
41        88    2016.0  19301.5  2.0  1186.5
42        89    2017.0  17390.0  1.0   696.0
43        90    2016.0  10732.0  1.0   429.0
44        90    2018.0  12247.0  1.0  1225.0
45        92    2017.0   9896.0  1.0   297.0
46        93    2018.0   7311.0  1.0   877.0
47        96    2017.0  11648.0  1.0   349.0
48        97    2017.0  14102.0  1.0  1231.0
49        99    2017.0  25269.0  1.0  3790.0
50       100    2017.0  32352.0  1.0  3882.0
51       101    2014.0  25448.0  1.0  2544.0

In [48]:
##Implement the method from SO to find the segments that don't have either count points.

dfb = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\
/TrafficX\Oct29\SegmentSummaryResult.xlsx', sheet_name = 'PennDOT')
dfb.columns= ['Segment', 'Averge ADT', 'count', 'ROUTE_NAME', 'PlaceHolder',
       'Segment1', 'CountYear', 'Count\n Number', 'ROUTE_NAME1']
dfb.head()

,Segment,Averge ADT,count,ROUTE_NAME,PlaceHolder,Segment1,CountYear,Count Number,ROUTE_NAME1
0,1,30240.0,1,I-476,NaN,9,2013.0,1.0,I78
1,2,45645.0,1,I-476,NaN,15,2017.0,1.0,I78
2,3,30240.0,1,I-476,NaN,15,2018.0,1.0,I78
3,4,NaN,0,I-476,NaN,16,2015.0,1.0,PA RT 145
4,5,NaN,0,I-476,NaN,16,2017.0,1.0,PA RT 145

In [54]:
df_n1 = dfb[~dfb.Segment.isin(dfb.Segment1)]
df_n1
df_m1 = df_n1.iloc[:, :4]
df_m1.head()

,Segment,Averge ADT,count,ROUTE_NAME,PlaceHolder,Segment1,CountYear,Count Number,ROUTE_NAME1
0,1,30240.0,1,I-476,NaN,9,2013.0,1.0,I78
1,2,45645.0,1,I-476,NaN,15,2017.0,1.0,I78
2,3,30240.0,1,I-476,NaN,15,2018.0,1.0,I78
3,4,NaN,0,I-476,NaN,16,2015.0,1.0,PA RT 145
4,5,NaN,0,I-476,NaN,16,2017.0,1.0,PA RT 145
5,6,NaN,0,I-476,NaN,17,2014.0,1.0,PA RT 191
6,7,NaN,0,I-476,NaN,20,2015.0,1.0,PA RT 191
7,8,30240.0,1,I-476,NaN,21,2017.0,1.0,PA RT 191
9,10,NaN,0,I78,NaN,25,2017.0,1.0,PA RT 248
10,11,NaN,0,I78,NaN,26,2017.0,1.0,PA RT 248
11,12,NaN,0,I78,NaN,28,2015.0,1.0,PA RT 329/987
12,13,NaN,0,I78,NaN,29,2016.0,1.0,PA RT 412
13,14,NaN,0,I78,NaN,30,2017.0,1.0,PA RT 412
17,18,NaN,0,PA RT 191,NaN,37,2015.0,1.0,PA RT 611
18,19,NaN,0,PA RT 191,NaN,38,2015.0,1.0,PA RT 611
21,22,NaN,0,PA RT 248,NaN,47,2017.0,1.0,SR 0022
22,23,NaN,0,PA RT 248,NaN,49,2017.0,1.0,SR 0022
23,24,NaN,0,PA RT 248,NaN,52,2017.0,1.0,SR 0029
26,27,NaN,0,PA RT 248,NaN,58,2015.0,1.0,SR 0100
31,32,NaN,0,PA RT 512,NaN,64,2017.0,1.0,SR 0145
32,33,NaN,0,PA RT 512,NaN,66,2017.0,1.0,SR 0145
35,36,NaN,0,PA RT 611,NaN,71,2016.0,1.0,SR 0222 SR 0100
39,40,NaN,0,SR 0022,NaN,85,2014.0,1.0,SR 0329
40,41,NaN,0,SR 0022,NaN,86,2018.0,1.0,SR 0329
41,42,NaN,0,SR 0022,NaN,88,2016.0,2.0,SR 0378
42,43,NaN,0,SR 0022,NaN,89,2017.0,1.0,SR 0378
43,44,NaN,0,SR 0022,NaN,90,2016.0,1.0,SR 0987
45,46,NaN,0,SR 0022,NaN,92,2017.0,1.0,SR 1002
47,48,NaN,0,SR 0022,NaN,96,2017.0,1.0,SR 1002
49,50,NaN,0,SR 0022 SR 0078,NaN,99,2017.0,1.0,STATE HWY 33
50,51,NaN,0,SR 0022 SR 0078,NaN,100,2017.0,1.0,STATE HWY 33
54,55,NaN,0,SR 0078 SR 0309,NaN,PennDOT,NaN,NaN,NaN
55,56,NaN,0,SR 0078 SR 0309,NaN,NaN,NaN,NaN,NaN
56,57,NaN,0,SR 0078 SR 0309,NaN,NaN,NaN,NaN,NaN
59,60,NaN,0,SR 0100,NaN,NaN,NaN,NaN,NaN
61,62,NaN,0,SR 0145,NaN,NaN,NaN,NaN,NaN
62,63,NaN,0,SR 0145,NaN,NaN,NaN,NaN,NaN
64,65,NaN,0,SR 0145,NaN,NaN,NaN,NaN,NaN
66,67,NaN,0,SR 0145,NaN,NaN,NaN,NaN,NaN
69,70,NaN,0,SR 0222,NaN,NaN,NaN,NaN,NaN
71,72,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
72,73,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
73,74,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
74,75,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
75,76,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
76,77,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
77,78,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
78,79,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
79,80,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
83,84,NaN,0,SR 0329,NaN,NaN,NaN,NaN,NaN
86,87,NaN,0,SR 0378,NaN,NaN,NaN,NaN,NaN
90,91,NaN,0,SR 0987,NaN,NaN,NaN,NaN,NaN
93,94,NaN,0,SR 1002,NaN,NaN,NaN,NaN,NaN
94,95,NaN,0,SR 1002,NaN,NaN,NaN,NaN,NaN
97,98,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN,NaN
101,102,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN,NaN

   Segment  Averge ADT  count ROUTE_NAME
0        1     30240.0      1      I-476
1        2     45645.0      1      I-476
2        3     30240.0      1      I-476
3        4         NaN      0      I-476
4        5         NaN      0      I-476

In [57]:
dfb1 = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\
/TrafficX\Oct29\SegmentSummaryResult.xlsx', sheet_name = 'Brian')
dfb1.columns= ['Segment', 'Averge ADT', 'count', 'ROUTE_NAME', 'PlaceHolder',
       'Segment1', 'CountYear', 'Count\n Number', 'ROUTE_NAME1']
df_n1 = dfb1[~dfb1.Segment.isin(dfb1.Segment1)]

df_m2 = df_n1.iloc[:, :4]
df_m2

     Segment  Averge ADT  count          ROUTE_NAME
0          1         NaN      0               I-476
1          2         NaN      0               I-476
2          3         NaN      0               I-476
3          4         NaN      0               I-476
4          5         NaN      0               I-476
5          6         NaN      0               I-476
6          7         NaN      0               I-476
7          8         NaN      0               I-476
8          9         NaN      0                 I78
9         10         NaN      0                 I78
10        11         NaN      0                 I78
11        12         NaN      0                 I78
12        13         NaN      0                 I78
13        14         NaN      0                 I78
14        15         NaN      0                 I78
16        17         NaN      0           PA RT 191
17        18         NaN      0           PA RT 191
23        24         NaN      0           PA RT 248
26        27         NaN      0           PA RT 248
29        30         NaN      0           PA RT 412
33        34         NaN      0           PA RT 512
35        36         NaN      0           PA RT 611
37        38         NaN      0           PA RT 611
38        39         NaN      0             SR 0022
39        40         NaN      0             SR 0022
40        41         NaN      0             SR 0022
41        42         NaN      0             SR 0022
43        44         NaN      0             SR 0022
45        46         NaN      0             SR 0022
46        47         NaN      0             SR 0022
..       ...         ...    ...                 ...
54        55         NaN      0  SR 0078    SR 0309
56        57         NaN      0  SR 0078    SR 0309
59        60         NaN      0             SR 0100
61        62         NaN      0             SR 0145
62        63         NaN      0             SR 0145
68        69         NaN      0             SR 0222
69        70         NaN      0             SR 0222
70        71         NaN      0    SR 0222  SR 0100
71        72         NaN      0             SR 0309
72        73         NaN      0             SR 0309
74        75         NaN      0             SR 0309
76        77         NaN      0             SR 0309
77        78         NaN      0             SR 0309
78        79         NaN      0             SR 0309
80        81         NaN      0             SR 0309
83        84         NaN      0             SR 0329
84        85         NaN      0             SR 0329
86        87         NaN      0             SR 0378
88        89         NaN      0             SR 0378
89        90         NaN      0             SR 0987
90        91         NaN      0             SR 0987
91        92         NaN      0             SR 1002
92        93         NaN      0             SR 1002
93        94         NaN      0             SR 1002
94        95         NaN      0             SR 1002
95        96         NaN      0             SR 1002
96        97         NaN      0             SR 1003
97        98         NaN      0        STATE HWY 33
100      101         NaN      0        STATE HWY 33
101      102         NaN      0        STATE HWY 33

[64 rows x 4 columns]

In [61]:
dfB = pd.concat([dfb, dfb1])
df_n = dfB[~dfB.Segment.isin(dfB.Segment1)]
df_m = df_n.iloc[:, :4]
df_

,Segment,Averge ADT,count,ROUTE_NAME,PlaceHolder,Segment1,CountYear,Count Number,ROUTE_NAME1
0,1,30240.00,1,I-476,NaN,9,2013.0,1.0,I78
1,2,45645.00,1,I-476,NaN,15,2017.0,1.0,I78
2,3,30240.00,1,I-476,NaN,15,2018.0,1.0,I78
3,4,NaN,0,I-476,NaN,16,2015.0,1.0,PA RT 145
4,5,NaN,0,I-476,NaN,16,2017.0,1.0,PA RT 145
5,6,NaN,0,I-476,NaN,17,2014.0,1.0,PA RT 191
6,7,NaN,0,I-476,NaN,20,2015.0,1.0,PA RT 191
7,8,30240.00,1,I-476,NaN,21,2017.0,1.0,PA RT 191
8,9,17544.00,1,I78,NaN,25,2015.0,1.0,PA RT 248
9,10,NaN,0,I78,NaN,25,2017.0,1.0,PA RT 248
10,11,NaN,0,I78,NaN,26,2017.0,1.0,PA RT 248
11,12,NaN,0,I78,NaN,28,2015.0,1.0,PA RT 329/987
12,13,NaN,0,I78,NaN,29,2016.0,1.0,PA RT 412
13,14,NaN,0,I78,NaN,30,2017.0,1.0,PA RT 412
14,15,33822.50,2,I78,NaN,31,2016.0,1.0,PA RT 512
15,16,6994.00,2,PA RT 145,NaN,34,2016.0,1.0,PA RT 512
16,17,13680.00,1,PA RT 191,NaN,35,2017.0,1.0,PA RT 611
17,18,NaN,0,PA RT 191,NaN,37,2015.0,1.0,PA RT 611
18,19,NaN,0,PA RT 191,NaN,38,2015.0,1.0,PA RT 611
19,20,7609.00,1,PA RT 191,NaN,39,2016.0,1.0,SR 0022
20,21,2446.00,1,PA RT 191,NaN,45,2017.0,1.0,SR 0022
21,22,NaN,0,PA RT 248,NaN,47,2017.0,1.0,SR 0022
22,23,NaN,0,PA RT 248,NaN,49,2017.0,1.0,SR 0022
23,24,NaN,0,PA RT 248,NaN,52,2017.0,1.0,SR 0029
24,25,8667.50,2,PA RT 248,NaN,53,2017.0,1.0,SR 0029
25,26,10434.00,1,PA RT 248,NaN,54,2017.0,1.0,SR 0029 SR 0100
26,27,NaN,0,PA RT 248,NaN,58,2015.0,1.0,SR 0100
27,28,11011.00,1,PA RT 329/987,NaN,58,2016.0,1.0,SR 0100
28,29,5172.00,1,PA RT 412,NaN,58,2017.0,1.0,SR 0100
29,30,11329.00,1,PA RT 412,NaN,59,2018.0,1.0,SR 0100
...,...,...,...,...,...,...,...,...,...
72,73,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
73,74,17640.00,1,SR 0309,NaN,NaN,NaN,NaN,NaN
74,75,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
75,76,15355.50,2,SR 0309,NaN,NaN,NaN,NaN,NaN
76,77,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
77,78,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
78,79,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
79,80,23528.00,1,SR 0309,NaN,NaN,NaN,NaN,NaN
80,81,NaN,0,SR 0309,NaN,NaN,NaN,NaN,NaN
81,82,10079.25,4,SR 0309,NaN,NaN,NaN,NaN,NaN
82,83,9013.00,2,SR 0309,NaN,NaN,NaN,NaN,NaN
83,84,NaN,0,SR 0329,NaN,NaN,NaN,NaN,NaN
84,85,NaN,0,SR 0329,NaN,NaN,NaN,NaN,NaN
85,86,8688.50,2,SR 0329,NaN,NaN,NaN,NaN,NaN
86,87,NaN,0,SR 0378,NaN,NaN,NaN,NaN,NaN
87,88,12450.00,1,SR 0378,NaN,NaN,NaN,NaN,NaN
88,89,NaN,0,SR 0378,NaN,NaN,NaN,NaN,NaN
89,90,NaN,0,SR 0987,NaN,NaN,NaN,NaN,NaN
90,91,NaN,0,SR 0987,NaN,NaN,NaN,NaN,NaN
91,92,NaN,0,SR 1002,NaN,NaN,NaN,NaN,NaN
92,93,NaN,0,SR 1002,NaN,NaN,NaN,NaN,NaN
93,94,NaN,0,SR 1002,NaN,NaN,NaN,NaN,NaN
94,95,NaN,0,SR 1002,NaN,NaN,NaN,NaN,NaN
95,96,NaN,0,SR 1002,NaN,NaN,NaN,NaN,NaN
96,97,NaN,0,SR 1003,NaN,NaN,NaN,NaN,NaN
97,98,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN,NaN
98,99,24106.00,1,STATE HWY 33,NaN,NaN,NaN,NaN,NaN
99,100,31402.00,1,STATE HWY 33,NaN,NaN,NaN,NaN,NaN
100,101,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN,NaN
101,102,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN,NaN

In [2]:
#Try to do it again with the new tables Oct 30

df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct30\SegmentsJoinPennDOT.xlsx')



df.columns = df.columns.str.replace("SplitLineTrial1Oct30.", "")
df.columns = df.columns.str.replace("PennDOTNearCenterline.", "")

df.head()

df_r1 = (pd.DataFrame(df.groupby(['SegmentID'])['ADT'].agg(['mean', 'count'])).
         reset_index().rename(columns = {'mean': 'ADT average value'}))

df_join = df[['SegmentID', 'ROUTE_NAME']].drop_duplicates()

#Join the groupby result and the road name
df_1 = pd.merge(df_r1, df_join, on = 'SegmentID', how = 'left')
df_1

#Getting a separate dataframe with segment ID, year and count numbers
df_g1 = pd.DataFrame(df.groupby(['SegmentID', 'CountYear']).size()).reset_index()

df_c1 = pd.merge(df_g1, df_join, on = 'SegmentID', how = 'left')
df_c1

df1 = pd.concat([df_1, df_c1], axis = 1)
df1

,OBJECTID,ROUTE_NAME,RoadClass,Shape_Length,SegmentID,OBJECTID,RouteName,ADT,ADTT,CountYear,TruckPercent,TruckPercentage,NewADT,NewADTT,RoadClass,NEAR_FID,NEAR_DIST,NEAR_X,NEAR_Y
0,1,I-476,Interstate Highway,71959.688134,1,50.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,22.429148,2.551949e+06,528706.985759
1,1,I-476,Interstate Highway,71959.688134,1,51.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,1.0,4.010490,2.569780e+06,484624.911910
2,2,I-476,Interstate Highway,60959.568957,2,48.0,I-476,45645.0,7373.0,NaN,16.0,16%,"45,645","7,373",Interstate Highway,2.0,36.219431,2.598246e+06,431557.833522
3,2,I-476,Interstate Highway,60959.568957,2,49.0,I-476,30240.0,4813.0,NaN,16.0,16%,"30,240","4,813",Interstate Highway,2.0,36.930515,2.587595e+06,445029.284318
4,3,I-476,Interstate Highway,2450.488934,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    SegmentID  ADT average value  count        ROUTE_NAME
0           1       30240.000000      2             I-476
1           2       37942.500000      2             I-476
2           3                NaN      0             I-476
3           4       17544.000000      1               I78
4           5       33822.500000      2               I78
5           6                NaN      0               I78
6           7                NaN      0               I78
7           8       13680.000000      1         PA RT 191
8           9                NaN      0         PA RT 191
9          10                NaN      0         PA RT 191
10         11        7609.000000      1         PA RT 191
11         12        2446.000000      1         PA RT 191
12         13                NaN      0         PA RT 248
13         14                NaN      0         PA RT 248
14         15                NaN      0         PA RT 248
15         16        8667.500000      2         PA RT 248
16         17       10434.000000      1         PA RT 248
17         18                NaN      0         PA RT 248
18         19                NaN      0         PA RT 248
19         20       11011.000000      1     PA RT 329/987
20         21        5172.000000      1         PA RT 412
21         22       11329.000000      1         PA RT 412
22         23       12419.000000      1         PA RT 512
23         24                NaN      0         PA RT 512
24         25                NaN      0         PA RT 512
25         26        7053.000000      1         PA RT 512
26         27        3465.000000      1         PA RT 611
27         28        6589.000000      1         PA RT 611
28         29        8813.000000      1         PA RT 611
29         30                NaN      0           SR 0022
..        ...                ...    ...               ...
56         57       24233.000000      1           SR 0222
57         58       15812.000000      1           SR 0222
58         59       13752.000000      1  SR 0222  SR 0100
59         60                NaN      0           SR 0309
60         61                NaN      0           SR 0309
61         62                NaN      0           SR 0309
62         63                NaN      0           SR 0309
63         64                NaN      0           SR 0309
64         65                NaN      0           SR 0309
65         66                NaN      0           SR 0309
66         67                NaN      0           SR 0309
67         68        7794.000000      2           SR 0309
68         69        7471.000000      1           SR 0309
69         70        9296.000000      1           SR 0329
70         71       16549.000000      1           SR 0329
71         72                NaN      0           SR 0378
72         73       18664.333333      3           SR 0378
73         74       11489.500000      2           SR 0987
74         75                NaN      0           SR 0987
75         76        9896.000000      1           SR 1002
76         77        7311.000000      1           SR 1002
77         78                NaN      0           SR 1002
78         79                NaN      0           SR 1002
79         80       11648.000000      1           SR 1002
80         81       14102.000000      1           SR 1003
81         82                NaN      0      STATE HWY 33
82         83       25269.000000      1      STATE HWY 33
83         84       32352.000000      1      STATE HWY 33
84         85       25448.000000      1      STATE HWY 33
85         86                NaN      0      STATE HWY 33

[86 rows x 4 columns]

    SegmentID  CountYear  0           ROUTE_NAME
0           4     2013.0  1                  I78
1           5     2017.0  1                  I78
2           5     2018.0  1                  I78
3           8     2014.0  1            PA RT 191
4          11     2015.0  1            PA RT 191
5          12     2017.0  1            PA RT 191
6          16     2015.0  1            PA RT 248
7          16     2017.0  1            PA RT 248
8          17     2017.0  1            PA RT 248
9          20     2015.0  1        PA RT 329/987
10         21     2016.0  1            PA RT 412
11         22     2017.0  1            PA RT 412
12         23     2016.0  1            PA RT 512
13         26     2016.0  1            PA RT 512
14         27     2017.0  1            PA RT 611
15         28     2015.0  1            PA RT 611
16         29     2015.0  1            PA RT 611
17         30     2016.0  1              SR 0022
18         36     2017.0  1              SR 0022
19         38     2017.0  1              SR 0022
20         40     2017.0  1              SR 0022
21         43     2017.0  2              SR 0029
22         44     2017.0  1  SR 0029     SR 0100
23         48     2015.0  1              SR 0100
24         48     2016.0  1              SR 0100
25         48     2017.0  1              SR 0100
26         49     2018.0  1              SR 0100
27         51     2016.0  1              SR 0100
28         53     2017.0  1              SR 0145
29         55     2017.0  1              SR 0145
30         56     2015.0  1              SR 0145
31         56     2017.0  1              SR 0145
32         57     2017.0  1              SR 0222
33         58     2017.0  1              SR 0222
34         59     2016.0  1     SR 0222  SR 0100
35         68     2017.0  2              SR 0309
36         69     2016.0  1              SR 0309
37         70     2014.0  1              SR 0329
38         71     2018.0  1              SR 0329
39         73     2016.0  2              SR 0378
40         73     2017.0  1              SR 0378
41         74     2016.0  1              SR 0987
42         74     2018.0  1              SR 0987
43         76     2017.0  1              SR 1002
44         77     2018.0  1              SR 1002
45         80     2017.0  1              SR 1002
46         81     2017.0  1              SR 1003
47         83     2017.0  1         STATE HWY 33
48         84     2017.0  1         STATE HWY 33
49         85     2014.0  1         STATE HWY 33

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,30240.000000,2,I-476,4.0,2013.0,1.0,I78
1,2,37942.500000,2,I-476,5.0,2017.0,1.0,I78
2,3,NaN,0,I-476,5.0,2018.0,1.0,I78
3,4,17544.000000,1,I78,8.0,2014.0,1.0,PA RT 191
4,5,33822.500000,2,I78,11.0,2015.0,1.0,PA RT 191
5,6,NaN,0,I78,12.0,2017.0,1.0,PA RT 191
6,7,NaN,0,I78,16.0,2015.0,1.0,PA RT 248
7,8,13680.000000,1,PA RT 191,16.0,2017.0,1.0,PA RT 248
8,9,NaN,0,PA RT 191,17.0,2017.0,1.0,PA RT 248
9,10,NaN,0,PA RT 191,20.0,2015.0,1.0,PA RT 329/987
10,11,7609.000000,1,PA RT 191,21.0,2016.0,1.0,PA RT 412
11,12,2446.000000,1,PA RT 191,22.0,2017.0,1.0,PA RT 412
12,13,NaN,0,PA RT 248,23.0,2016.0,1.0,PA RT 512
13,14,NaN,0,PA RT 248,26.0,2016.0,1.0,PA RT 512
14,15,NaN,0,PA RT 248,27.0,2017.0,1.0,PA RT 611
15,16,8667.500000,2,PA RT 248,28.0,2015.0,1.0,PA RT 611
16,17,10434.000000,1,PA RT 248,29.0,2015.0,1.0,PA RT 611
17,18,NaN,0,PA RT 248,30.0,2016.0,1.0,SR 0022
18,19,NaN,0,PA RT 248,36.0,2017.0,1.0,SR 0022
19,20,11011.000000,1,PA RT 329/987,38.0,2017.0,1.0,SR 0022
20,21,5172.000000,1,PA RT 412,40.0,2017.0,1.0,SR 0022
21,22,11329.000000,1,PA RT 412,43.0,2017.0,2.0,SR 0029
22,23,12419.000000,1,PA RT 512,44.0,2017.0,1.0,SR 0029 SR 0100
23,24,NaN,0,PA RT 512,48.0,2015.0,1.0,SR 0100
24,25,NaN,0,PA RT 512,48.0,2016.0,1.0,SR 0100
25,26,7053.000000,1,PA RT 512,48.0,2017.0,1.0,SR 0100
26,27,3465.000000,1,PA RT 611,49.0,2018.0,1.0,SR 0100
27,28,6589.000000,1,PA RT 611,51.0,2016.0,1.0,SR 0100
28,29,8813.000000,1,PA RT 611,53.0,2017.0,1.0,SR 0145
29,30,NaN,0,SR 0022,55.0,2017.0,1.0,SR 0145
...,...,...,...,...,...,...,...,...
56,57,24233.000000,1,SR 0222,NaN,NaN,NaN,NaN
57,58,15812.000000,1,SR 0222,NaN,NaN,NaN,NaN
58,59,13752.000000,1,SR 0222 SR 0100,NaN,NaN,NaN,NaN
59,60,NaN,0,SR 0309,NaN,NaN,NaN,NaN
60,61,NaN,0,SR 0309,NaN,NaN,NaN,NaN
61,62,NaN,0,SR 0309,NaN,NaN,NaN,NaN
62,63,NaN,0,SR 0309,NaN,NaN,NaN,NaN
63,64,NaN,0,SR 0309,NaN,NaN,NaN,NaN
64,65,NaN,0,SR 0309,NaN,NaN,NaN,NaN
65,66,NaN,0,SR 0309,NaN,NaN,NaN,NaN
66,67,NaN,0,SR 0309,NaN,NaN,NaN,NaN
67,68,7794.000000,2,SR 0309,NaN,NaN,NaN,NaN
68,69,7471.000000,1,SR 0309,NaN,NaN,NaN,NaN
69,70,9296.000000,1,SR 0329,NaN,NaN,NaN,NaN
70,71,16549.000000,1,SR 0329,NaN,NaN,NaN,NaN
71,72,NaN,0,SR 0378,NaN,NaN,NaN,NaN
72,73,18664.333333,3,SR 0378,NaN,NaN,NaN,NaN
73,74,11489.500000,2,SR 0987,NaN,NaN,NaN,NaN
74,75,NaN,0,SR 0987,NaN,NaN,NaN,NaN
75,76,9896.000000,1,SR 1002,NaN,NaN,NaN,NaN
76,77,7311.000000,1,SR 1002,NaN,NaN,NaN,NaN
77,78,NaN,0,SR 1002,NaN,NaN,NaN,NaN
78,79,NaN,0,SR 1002,NaN,NaN,NaN,NaN
79,80,11648.000000,1,SR 1002,NaN,NaN,NaN,NaN
80,81,14102.000000,1,SR 1003,NaN,NaN,NaN,NaN
81,82,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN
82,83,25269.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
83,84,32352.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
84,85,25448.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
85,86,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN

In [7]:
df1

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,30240.000000,2,I-476,4.0,2013.0,1.0,I78
1,2,37942.500000,2,I-476,5.0,2017.0,1.0,I78
2,3,NaN,0,I-476,5.0,2018.0,1.0,I78
3,4,17544.000000,1,I78,8.0,2014.0,1.0,PA RT 191
4,5,33822.500000,2,I78,11.0,2015.0,1.0,PA RT 191
5,6,NaN,0,I78,12.0,2017.0,1.0,PA RT 191
6,7,NaN,0,I78,16.0,2015.0,1.0,PA RT 248
7,8,13680.000000,1,PA RT 191,16.0,2017.0,1.0,PA RT 248
8,9,NaN,0,PA RT 191,17.0,2017.0,1.0,PA RT 248
9,10,NaN,0,PA RT 191,20.0,2015.0,1.0,PA RT 329/987
10,11,7609.000000,1,PA RT 191,21.0,2016.0,1.0,PA RT 412
11,12,2446.000000,1,PA RT 191,22.0,2017.0,1.0,PA RT 412
12,13,NaN,0,PA RT 248,23.0,2016.0,1.0,PA RT 512
13,14,NaN,0,PA RT 248,26.0,2016.0,1.0,PA RT 512
14,15,NaN,0,PA RT 248,27.0,2017.0,1.0,PA RT 611
15,16,8667.500000,2,PA RT 248,28.0,2015.0,1.0,PA RT 611
16,17,10434.000000,1,PA RT 248,29.0,2015.0,1.0,PA RT 611
17,18,NaN,0,PA RT 248,30.0,2016.0,1.0,SR 0022
18,19,NaN,0,PA RT 248,36.0,2017.0,1.0,SR 0022
19,20,11011.000000,1,PA RT 329/987,38.0,2017.0,1.0,SR 0022
20,21,5172.000000,1,PA RT 412,40.0,2017.0,1.0,SR 0022
21,22,11329.000000,1,PA RT 412,43.0,2017.0,2.0,SR 0029
22,23,12419.000000,1,PA RT 512,44.0,2017.0,1.0,SR 0029 SR 0100
23,24,NaN,0,PA RT 512,48.0,2015.0,1.0,SR 0100
24,25,NaN,0,PA RT 512,48.0,2016.0,1.0,SR 0100
25,26,7053.000000,1,PA RT 512,48.0,2017.0,1.0,SR 0100
26,27,3465.000000,1,PA RT 611,49.0,2018.0,1.0,SR 0100
27,28,6589.000000,1,PA RT 611,51.0,2016.0,1.0,SR 0100
28,29,8813.000000,1,PA RT 611,53.0,2017.0,1.0,SR 0145
29,30,NaN,0,SR 0022,55.0,2017.0,1.0,SR 0145
...,...,...,...,...,...,...,...,...
56,57,24233.000000,1,SR 0222,NaN,NaN,NaN,NaN
57,58,15812.000000,1,SR 0222,NaN,NaN,NaN,NaN
58,59,13752.000000,1,SR 0222 SR 0100,NaN,NaN,NaN,NaN
59,60,NaN,0,SR 0309,NaN,NaN,NaN,NaN
60,61,NaN,0,SR 0309,NaN,NaN,NaN,NaN
61,62,NaN,0,SR 0309,NaN,NaN,NaN,NaN
62,63,NaN,0,SR 0309,NaN,NaN,NaN,NaN
63,64,NaN,0,SR 0309,NaN,NaN,NaN,NaN
64,65,NaN,0,SR 0309,NaN,NaN,NaN,NaN
65,66,NaN,0,SR 0309,NaN,NaN,NaN,NaN
66,67,NaN,0,SR 0309,NaN,NaN,NaN,NaN
67,68,7794.000000,2,SR 0309,NaN,NaN,NaN,NaN
68,69,7471.000000,1,SR 0309,NaN,NaN,NaN,NaN
69,70,9296.000000,1,SR 0329,NaN,NaN,NaN,NaN
70,71,16549.000000,1,SR 0329,NaN,NaN,NaN,NaN
71,72,NaN,0,SR 0378,NaN,NaN,NaN,NaN
72,73,18664.333333,3,SR 0378,NaN,NaN,NaN,NaN
73,74,11489.500000,2,SR 0987,NaN,NaN,NaN,NaN
74,75,NaN,0,SR 0987,NaN,NaN,NaN,NaN
75,76,9896.000000,1,SR 1002,NaN,NaN,NaN,NaN
76,77,7311.000000,1,SR 1002,NaN,NaN,NaN,NaN
77,78,NaN,0,SR 1002,NaN,NaN,NaN,NaN
78,79,NaN,0,SR 1002,NaN,NaN,NaN,NaN
79,80,11648.000000,1,SR 1002,NaN,NaN,NaN,NaN
80,81,14102.000000,1,SR 1003,NaN,NaN,NaN,NaN
81,82,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN
82,83,25269.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
83,84,32352.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
84,85,25448.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
85,86,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['OBJECTID', 'ROUTE_NAME', 'RoadClass', 'Shape_Length', 'SegmentID',
       'OBJECTID', 'RouteName', 'ADT', 'ADTT', 'CountYear', 'TruckPercent',
       'TruckPercentage', 'NewADT', 'NewADTT', 'RoadClass', 'NEAR_FID',
       'NEAR_DIST', 'NEAR_X', 'NEAR_Y'],
      dtype='object')

In [4]:
#Do the same for the next one Oct30
df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct30\SegmentsJoinBrian.xlsx')



df.columns = df.columns.str.replace("SplitLineTrial1Oct30.", "")
df.columns = df.columns.str.replace("BrianNearCenterline.", "")

df.head()

df_r1 = (pd.DataFrame(df.groupby(['SegmentID'])['AADT'].agg(['mean', 'count'])).
         reset_index().rename(columns = {'mean': 'ADT average value'}))

df_join = df[['SegmentID', 'ROUTE_NAME']].drop_duplicates()

#Join the groupby result and the road name
df_1 = pd.merge(df_r1, df_join, on = 'SegmentID', how = 'left')
df_1

#Getting a separate dataframe with segment ID, year and count numbers
df_g1 = pd.DataFrame(df.groupby(['SegmentID', 'CountYear']).size()).reset_index()

df_c1 = pd.merge(df_g1, df_join, on = 'SegmentID', how = 'left')
df_c1

df2 = pd.concat([df_1, df_c1], axis = 1)
df2

,OBJECTID,ROUTE_NAME,RoadClass,Shape_Length,SegmentID,OBJECTID,NC17_F2017_Trial,Site_Number,Site_No,County,...,Route_Backup,FinalData2014_csv_Field11,LC17_F2017_Trial,LC17_TMS_SITE_N,_csv_New_Truck_Percent,RouteB,LC15_STATION_ID,LC15_TMS_SITE_N,NEAR_FID,NEAR_DIST
0,1,I-476,Interstate Highway,71959.688134,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I-476,Interstate Highway,60959.568957,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,I-476,Interstate Highway,2450.488934,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,I78,Interstate Highway,15173.736443,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,I78,Interstate Highway,58591.078525,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    SegmentID  ADT average value  count        ROUTE_NAME
0           1                NaN      0             I-476
1           2                NaN      0             I-476
2           3                NaN      0             I-476
3           4                NaN      0               I78
4           5                NaN      0               I78
5           6                NaN      0               I78
6           7                NaN      0               I78
7           8                NaN      0         PA RT 191
8           9                NaN      0         PA RT 191
9          10       10260.333333      3         PA RT 191
10         11        5104.000000      1         PA RT 191
11         12        3639.000000      2         PA RT 191
12         13        5938.000000      3         PA RT 248
13         14       16198.500000      2         PA RT 248
14         15                NaN      0         PA RT 248
15         16        9537.250000      4         PA RT 248
16         17        8405.000000      4         PA RT 248
17         18        5447.000000      2         PA RT 248
18         19                NaN      0         PA RT 248
19         20       10948.000000      1     PA RT 329/987
20         21        9070.500000      2         PA RT 412
21         22                NaN      0         PA RT 412
22         23       12735.000000      1         PA RT 512
23         24        7426.000000      1         PA RT 512
24         25       12217.500000      2         PA RT 512
25         26                NaN      0         PA RT 512
26         27        3606.666667      3         PA RT 611
27         28        4377.500000      2         PA RT 611
28         29                NaN      0         PA RT 611
29         30                NaN      0           SR 0022
..        ...                ...    ...               ...
56         57        9643.000000      1           SR 0222
57         58                NaN      0           SR 0222
58         59                NaN      0  SR 0222  SR 0100
59         60                NaN      0           SR 0309
60         61                NaN      0           SR 0309
61         62       17640.000000      1           SR 0309
62         63                NaN      0           SR 0309
63         64       15355.500000      2           SR 0309
64         65                NaN      0           SR 0309
65         66                NaN      0           SR 0309
66         67       23528.000000      1           SR 0309
67         68       10079.250000      4           SR 0309
68         69        9013.000000      2           SR 0309
69         70                NaN      0           SR 0329
70         71        8688.500000      2           SR 0329
71         72                NaN      0           SR 0378
72         73       12450.000000      1           SR 0378
73         74                NaN      0           SR 0987
74         75                NaN      0           SR 0987
75         76                NaN      0           SR 1002
76         77                NaN      0           SR 1002
77         78                NaN      0           SR 1002
78         79                NaN      0           SR 1002
79         80                NaN      0           SR 1002
80         81                NaN      0           SR 1003
81         82                NaN      0      STATE HWY 33
82         83       24106.000000      1      STATE HWY 33
83         84       31402.000000      1      STATE HWY 33
84         85                NaN      0      STATE HWY 33
85         86                NaN      0      STATE HWY 33

[86 rows x 4 columns]

    SegmentID  CountYear  0          ROUTE_NAME
0          10     2014.0  1           PA RT 191
1          10     2016.0  1           PA RT 191
2          10     2017.0  1           PA RT 191
3          11     2016.0  1           PA RT 191
4          12     2014.0  2           PA RT 191
5          13     2014.0  1           PA RT 248
6          13     2016.0  1           PA RT 248
7          13     2017.0  1           PA RT 248
8          14     2015.0  2           PA RT 248
9          16     2014.0  1           PA RT 248
10         16     2015.0  1           PA RT 248
11         16     2017.0  2           PA RT 248
12         17     2014.0  1           PA RT 248
13         17     2015.0  1           PA RT 248
14         17     2016.0  2           PA RT 248
15         18     2014.0  1           PA RT 248
16         18     2017.0  1           PA RT 248
17         20     2015.0  1       PA RT 329/987
18         21     2016.0  1           PA RT 412
19         21     2017.0  1           PA RT 412
20         23     2015.0  1           PA RT 512
21         24     2014.0  1           PA RT 512
22         25     2014.0  1           PA RT 512
23         25     2016.0  1           PA RT 512
24         27     2014.0  2           PA RT 611
25         27     2017.0  1           PA RT 611
26         28     2016.0  1           PA RT 611
27         28     2017.0  1           PA RT 611
28         34     2014.0  1             SR 0022
29         36     2017.0  1             SR 0022
..        ...        ... ..                 ...
33         46     2014.0  1  SR 0078    SR 0309
34         46     2016.0  2  SR 0078    SR 0309
35         46     2017.0  1  SR 0078    SR 0309
36         48     2014.0  1             SR 0100
37         48     2016.0  1             SR 0100
38         48     2017.0  1             SR 0100
39         49     2014.0  1             SR 0100
40         51     2017.0  1             SR 0100
41         53     2014.0  1             SR 0145
42         53     2015.0  1             SR 0145
43         53     2017.0  1             SR 0145
44         54     2014.0  1             SR 0145
45         55     2014.0  2             SR 0145
46         55     2017.0  3             SR 0145
47         56     2015.0  1             SR 0145
48         56     2016.0  1             SR 0145
49         57     2016.0  1             SR 0222
50         62     2017.0  1             SR 0309
51         64     2014.0  1             SR 0309
52         64     2017.0  1             SR 0309
53         67     2014.0  1             SR 0309
54         68     2014.0  1             SR 0309
55         68     2015.0  1             SR 0309
56         68     2017.0  2             SR 0309
57         69     2016.0  1             SR 0309
58         69     2017.0  1             SR 0309
59         71     2016.0  2             SR 0329
60         73     2014.0  1             SR 0378
61         83     2017.0  1        STATE HWY 33
62         84     2017.0  1        STATE HWY 33

[63 rows x 4 columns]

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,NaN,0,I-476,10.0,2014.0,1.0,PA RT 191
1,2,NaN,0,I-476,10.0,2016.0,1.0,PA RT 191
2,3,NaN,0,I-476,10.0,2017.0,1.0,PA RT 191
3,4,NaN,0,I78,11.0,2016.0,1.0,PA RT 191
4,5,NaN,0,I78,12.0,2014.0,2.0,PA RT 191
5,6,NaN,0,I78,13.0,2014.0,1.0,PA RT 248
6,7,NaN,0,I78,13.0,2016.0,1.0,PA RT 248
7,8,NaN,0,PA RT 191,13.0,2017.0,1.0,PA RT 248
8,9,NaN,0,PA RT 191,14.0,2015.0,2.0,PA RT 248
9,10,10260.333333,3,PA RT 191,16.0,2014.0,1.0,PA RT 248
10,11,5104.000000,1,PA RT 191,16.0,2015.0,1.0,PA RT 248
11,12,3639.000000,2,PA RT 191,16.0,2017.0,2.0,PA RT 248
12,13,5938.000000,3,PA RT 248,17.0,2014.0,1.0,PA RT 248
13,14,16198.500000,2,PA RT 248,17.0,2015.0,1.0,PA RT 248
14,15,NaN,0,PA RT 248,17.0,2016.0,2.0,PA RT 248
15,16,9537.250000,4,PA RT 248,18.0,2014.0,1.0,PA RT 248
16,17,8405.000000,4,PA RT 248,18.0,2017.0,1.0,PA RT 248
17,18,5447.000000,2,PA RT 248,20.0,2015.0,1.0,PA RT 329/987
18,19,NaN,0,PA RT 248,21.0,2016.0,1.0,PA RT 412
19,20,10948.000000,1,PA RT 329/987,21.0,2017.0,1.0,PA RT 412
20,21,9070.500000,2,PA RT 412,23.0,2015.0,1.0,PA RT 512
21,22,NaN,0,PA RT 412,24.0,2014.0,1.0,PA RT 512
22,23,12735.000000,1,PA RT 512,25.0,2014.0,1.0,PA RT 512
23,24,7426.000000,1,PA RT 512,25.0,2016.0,1.0,PA RT 512
24,25,12217.500000,2,PA RT 512,27.0,2014.0,2.0,PA RT 611
25,26,NaN,0,PA RT 512,27.0,2017.0,1.0,PA RT 611
26,27,3606.666667,3,PA RT 611,28.0,2016.0,1.0,PA RT 611
27,28,4377.500000,2,PA RT 611,28.0,2017.0,1.0,PA RT 611
28,29,NaN,0,PA RT 611,34.0,2014.0,1.0,SR 0022
29,30,NaN,0,SR 0022,36.0,2017.0,1.0,SR 0022
...,...,...,...,...,...,...,...,...
56,57,9643.000000,1,SR 0222,68.0,2017.0,2.0,SR 0309
57,58,NaN,0,SR 0222,69.0,2016.0,1.0,SR 0309
58,59,NaN,0,SR 0222 SR 0100,69.0,2017.0,1.0,SR 0309
59,60,NaN,0,SR 0309,71.0,2016.0,2.0,SR 0329
60,61,NaN,0,SR 0309,73.0,2014.0,1.0,SR 0378
61,62,17640.000000,1,SR 0309,83.0,2017.0,1.0,STATE HWY 33
62,63,NaN,0,SR 0309,84.0,2017.0,1.0,STATE HWY 33
63,64,15355.500000,2,SR 0309,NaN,NaN,NaN,NaN
64,65,NaN,0,SR 0309,NaN,NaN,NaN,NaN
65,66,NaN,0,SR 0309,NaN,NaN,NaN,NaN
66,67,23528.000000,1,SR 0309,NaN,NaN,NaN,NaN
67,68,10079.250000,4,SR 0309,NaN,NaN,NaN,NaN
68,69,9013.000000,2,SR 0309,NaN,NaN,NaN,NaN
69,70,NaN,0,SR 0329,NaN,NaN,NaN,NaN
70,71,8688.500000,2,SR 0329,NaN,NaN,NaN,NaN
71,72,NaN,0,SR 0378,NaN,NaN,NaN,NaN
72,73,12450.000000,1,SR 0378,NaN,NaN,NaN,NaN
73,74,NaN,0,SR 0987,NaN,NaN,NaN,NaN
74,75,NaN,0,SR 0987,NaN,NaN,NaN,NaN
75,76,NaN,0,SR 1002,NaN,NaN,NaN,NaN
76,77,NaN,0,SR 1002,NaN,NaN,NaN,NaN
77,78,NaN,0,SR 1002,NaN,NaN,NaN,NaN
78,79,NaN,0,SR 1002,NaN,NaN,NaN,NaN
79,80,NaN,0,SR 1002,NaN,NaN,NaN,NaN
80,81,NaN,0,SR 1003,NaN,NaN,NaN,NaN
81,82,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN
82,83,24106.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
83,84,31402.000000,1,STATE HWY 33,NaN,NaN,NaN,NaN
84,85,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN
85,86,NaN,0,STATE HWY 33,NaN,NaN,NaN,NaN

In [5]:
df1.head()
df2.head()

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,30240.0,2,I-476,4.0,2013.0,1.0,I78
1,2,37942.5,2,I-476,5.0,2017.0,1.0,I78
2,3,NaN,0,I-476,5.0,2018.0,1.0,I78
3,4,17544.0,1,I78,8.0,2014.0,1.0,PA RT 191
4,5,33822.5,2,I78,11.0,2015.0,1.0,PA RT 191

,SegmentID,ADT average value,count,ROUTE_NAME,SegmentID,CountYear,0,ROUTE_NAME
0,1,NaN,0,I-476,10.0,2014.0,1.0,PA RT 191
1,2,NaN,0,I-476,10.0,2016.0,1.0,PA RT 191
2,3,NaN,0,I-476,10.0,2017.0,1.0,PA RT 191
3,4,NaN,0,I78,11.0,2016.0,1.0,PA RT 191
4,5,NaN,0,I78,12.0,2014.0,2.0,PA RT 191

In [17]:
writer = pd.ExcelWriter('H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct30\SegmentSummaryResult.xlsx')
df1.to_excel(writer,'PennDOT')
df2.to_excel(writer,'Brian')
writer.save()

In [23]:
df1.columns

Index([        'SegmentID', 'ADT average value',             'count',
              'ROUTE_NAME',         'SegmentID',         'CountYear',
                         0,        'ROUTE_NAME'],
      dtype='object')

In [7]:
#Try to concatenate the dataframes together as we don't differentiate the data source now Oct 30

df1l = df1.iloc[:, :4]
df1r = df1.iloc[:, 4:]

df2l = df2.iloc[:, :4]
df2r = df2.iloc[:, 4:]


df_1 = pd.merge(df1l, df1r, on = 'SegmentID', how = 'left')
df_2 = pd.merge(df2l, df2r, on = 'SegmentID', how = 'left')

df_1
df_2

dfr = pd.concat([df_1, df_2]).sort_values('SegmentID')
dfr

,SegmentID,ADT average value,count,ROUTE_NAME_x,CountYear,0,ROUTE_NAME_y
0,1,30240.000000,2,I-476,NaN,NaN,NaN
1,2,37942.500000,2,I-476,NaN,NaN,NaN
2,3,NaN,0,I-476,NaN,NaN,NaN
3,4,17544.000000,1,I78,2013.0,1.0,I78
4,5,33822.500000,2,I78,2017.0,1.0,I78
5,5,33822.500000,2,I78,2018.0,1.0,I78
6,6,NaN,0,I78,NaN,NaN,NaN
7,7,NaN,0,I78,NaN,NaN,NaN
8,8,13680.000000,1,PA RT 191,2014.0,1.0,PA RT 191
9,9,NaN,0,PA RT 191,NaN,NaN,NaN
10,10,NaN,0,PA RT 191,NaN,NaN,NaN
11,11,7609.000000,1,PA RT 191,2015.0,1.0,PA RT 191
12,12,2446.000000,1,PA RT 191,2017.0,1.0,PA RT 191
13,13,NaN,0,PA RT 248,NaN,NaN,NaN
14,14,NaN,0,PA RT 248,NaN,NaN,NaN
15,15,NaN,0,PA RT 248,NaN,NaN,NaN
16,16,8667.500000,2,PA RT 248,2015.0,1.0,PA RT 248
17,16,8667.500000,2,PA RT 248,2017.0,1.0,PA RT 248
18,17,10434.000000,1,PA RT 248,2017.0,1.0,PA RT 248
19,18,NaN,0,PA RT 248,NaN,NaN,NaN
20,19,NaN,0,PA RT 248,NaN,NaN,NaN
21,20,11011.000000,1,PA RT 329/987,2015.0,1.0,PA RT 329/987
22,21,5172.000000,1,PA RT 412,2016.0,1.0,PA RT 412
23,22,11329.000000,1,PA RT 412,2017.0,1.0,PA RT 412
24,23,12419.000000,1,PA RT 512,2016.0,1.0,PA RT 512
25,24,NaN,0,PA RT 512,NaN,NaN,NaN
26,25,NaN,0,PA RT 512,NaN,NaN,NaN
27,26,7053.000000,1,PA RT 512,2016.0,1.0,PA RT 512
28,27,3465.000000,1,PA RT 611,2017.0,1.0,PA RT 611
29,28,6589.000000,1,PA RT 611,2015.0,1.0,PA RT 611
...,...,...,...,...,...,...,...
63,59,13752.000000,1,SR 0222 SR 0100,2016.0,1.0,SR 0222 SR 0100
64,60,NaN,0,SR 0309,NaN,NaN,NaN
65,61,NaN,0,SR 0309,NaN,NaN,NaN
66,62,NaN,0,SR 0309,NaN,NaN,NaN
67,63,NaN,0,SR 0309,NaN,NaN,NaN
68,64,NaN,0,SR 0309,NaN,NaN,NaN
69,65,NaN,0,SR 0309,NaN,NaN,NaN
70,66,NaN,0,SR 0309,NaN,NaN,NaN
71,67,NaN,0,SR 0309,NaN,NaN,NaN
72,68,7794.000000,2,SR 0309,2017.0,2.0,SR 0309
73,69,7471.000000,1,SR 0309,2016.0,1.0,SR 0309
74,70,9296.000000,1,SR 0329,2014.0,1.0,SR 0329
75,71,16549.000000,1,SR 0329,2018.0,1.0,SR 0329
76,72,NaN,0,SR 0378,NaN,NaN,NaN
77,73,18664.333333,3,SR 0378,2016.0,2.0,SR 0378
78,73,18664.333333,3,SR 0378,2017.0,1.0,SR 0378
79,74,11489.500000,2,SR 0987,2016.0,1.0,SR 0987
80,74,11489.500000,2,SR 0987,2018.0,1.0,SR 0987
81,75,NaN,0,SR 0987,NaN,NaN,NaN
82,76,9896.000000,1,SR 1002,2017.0,1.0,SR 1002
83,77,7311.000000,1,SR 1002,2018.0,1.0,SR 1002
84,78,NaN,0,SR 1002,NaN,NaN,NaN
85,79,NaN,0,SR 1002,NaN,NaN,NaN
86,80,11648.000000,1,SR 1002,2017.0,1.0,SR 1002
87,81,14102.000000,1,SR 1003,2017.0,1.0,SR 1003
88,82,NaN,0,STATE HWY 33,NaN,NaN,NaN
89,83,25269.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
90,84,32352.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
91,85,25448.000000,1,STATE HWY 33,2014.0,1.0,STATE HWY 33
92,86,NaN,0,STATE HWY 33,NaN,NaN,NaN

,SegmentID,ADT average value,count,ROUTE_NAME_x,CountYear,0,ROUTE_NAME_y
0,1,NaN,0,I-476,NaN,NaN,NaN
1,2,NaN,0,I-476,NaN,NaN,NaN
2,3,NaN,0,I-476,NaN,NaN,NaN
3,4,NaN,0,I78,NaN,NaN,NaN
4,5,NaN,0,I78,NaN,NaN,NaN
5,6,NaN,0,I78,NaN,NaN,NaN
6,7,NaN,0,I78,NaN,NaN,NaN
7,8,NaN,0,PA RT 191,NaN,NaN,NaN
8,9,NaN,0,PA RT 191,NaN,NaN,NaN
9,10,10260.333333,3,PA RT 191,2014.0,1.0,PA RT 191
10,10,10260.333333,3,PA RT 191,2016.0,1.0,PA RT 191
11,10,10260.333333,3,PA RT 191,2017.0,1.0,PA RT 191
12,11,5104.000000,1,PA RT 191,2016.0,1.0,PA RT 191
13,12,3639.000000,2,PA RT 191,2014.0,2.0,PA RT 191
14,13,5938.000000,3,PA RT 248,2014.0,1.0,PA RT 248
15,13,5938.000000,3,PA RT 248,2016.0,1.0,PA RT 248
16,13,5938.000000,3,PA RT 248,2017.0,1.0,PA RT 248
17,14,16198.500000,2,PA RT 248,2015.0,2.0,PA RT 248
18,15,NaN,0,PA RT 248,NaN,NaN,NaN
19,16,9537.250000,4,PA RT 248,2014.0,1.0,PA RT 248
20,16,9537.250000,4,PA RT 248,2015.0,1.0,PA RT 248
21,16,9537.250000,4,PA RT 248,2017.0,2.0,PA RT 248
22,17,8405.000000,4,PA RT 248,2014.0,1.0,PA RT 248
23,17,8405.000000,4,PA RT 248,2015.0,1.0,PA RT 248
24,17,8405.000000,4,PA RT 248,2016.0,2.0,PA RT 248
25,18,5447.000000,2,PA RT 248,2014.0,1.0,PA RT 248
26,18,5447.000000,2,PA RT 248,2017.0,1.0,PA RT 248
27,19,NaN,0,PA RT 248,NaN,NaN,NaN
28,20,10948.000000,1,PA RT 329/987,2015.0,1.0,PA RT 329/987
29,21,9070.500000,2,PA RT 412,2016.0,1.0,PA RT 412
...,...,...,...,...,...,...,...
81,61,NaN,0,SR 0309,NaN,NaN,NaN
82,62,17640.000000,1,SR 0309,2017.0,1.0,SR 0309
83,63,NaN,0,SR 0309,NaN,NaN,NaN
84,64,15355.500000,2,SR 0309,2014.0,1.0,SR 0309
85,64,15355.500000,2,SR 0309,2017.0,1.0,SR 0309
86,65,NaN,0,SR 0309,NaN,NaN,NaN
87,66,NaN,0,SR 0309,NaN,NaN,NaN
88,67,23528.000000,1,SR 0309,2014.0,1.0,SR 0309
89,68,10079.250000,4,SR 0309,2014.0,1.0,SR 0309
90,68,10079.250000,4,SR 0309,2015.0,1.0,SR 0309
91,68,10079.250000,4,SR 0309,2017.0,2.0,SR 0309
92,69,9013.000000,2,SR 0309,2016.0,1.0,SR 0309
93,69,9013.000000,2,SR 0309,2017.0,1.0,SR 0309
94,70,NaN,0,SR 0329,NaN,NaN,NaN
95,71,8688.500000,2,SR 0329,2016.0,2.0,SR 0329
96,72,NaN,0,SR 0378,NaN,NaN,NaN
97,73,12450.000000,1,SR 0378,2014.0,1.0,SR 0378
98,74,NaN,0,SR 0987,NaN,NaN,NaN
99,75,NaN,0,SR 0987,NaN,NaN,NaN
100,76,NaN,0,SR 1002,NaN,NaN,NaN
101,77,NaN,0,SR 1002,NaN,NaN,NaN
102,78,NaN,0,SR 1002,NaN,NaN,NaN
103,79,NaN,0,SR 1002,NaN,NaN,NaN
104,80,NaN,0,SR 1002,NaN,NaN,NaN
105,81,NaN,0,SR 1003,NaN,NaN,NaN
106,82,NaN,0,STATE HWY 33,NaN,NaN,NaN
107,83,24106.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
108,84,31402.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
109,85,NaN,0,STATE HWY 33,NaN,NaN,NaN
110,86,NaN,0,STATE HWY 33,NaN,NaN,NaN

,SegmentID,ADT average value,count,ROUTE_NAME_x,CountYear,0,ROUTE_NAME_y
0,1,30240.000000,2,I-476,NaN,NaN,NaN
0,1,NaN,0,I-476,NaN,NaN,NaN
1,2,NaN,0,I-476,NaN,NaN,NaN
1,2,37942.500000,2,I-476,NaN,NaN,NaN
2,3,NaN,0,I-476,NaN,NaN,NaN
2,3,NaN,0,I-476,NaN,NaN,NaN
3,4,17544.000000,1,I78,2013.0,1.0,I78
3,4,NaN,0,I78,NaN,NaN,NaN
4,5,33822.500000,2,I78,2017.0,1.0,I78
5,5,33822.500000,2,I78,2018.0,1.0,I78
4,5,NaN,0,I78,NaN,NaN,NaN
6,6,NaN,0,I78,NaN,NaN,NaN
5,6,NaN,0,I78,NaN,NaN,NaN
7,7,NaN,0,I78,NaN,NaN,NaN
6,7,NaN,0,I78,NaN,NaN,NaN
7,8,NaN,0,PA RT 191,NaN,NaN,NaN
8,8,13680.000000,1,PA RT 191,2014.0,1.0,PA RT 191
8,9,NaN,0,PA RT 191,NaN,NaN,NaN
9,9,NaN,0,PA RT 191,NaN,NaN,NaN
10,10,NaN,0,PA RT 191,NaN,NaN,NaN
9,10,10260.333333,3,PA RT 191,2014.0,1.0,PA RT 191
10,10,10260.333333,3,PA RT 191,2016.0,1.0,PA RT 191
11,10,10260.333333,3,PA RT 191,2017.0,1.0,PA RT 191
11,11,7609.000000,1,PA RT 191,2015.0,1.0,PA RT 191
12,11,5104.000000,1,PA RT 191,2016.0,1.0,PA RT 191
13,12,3639.000000,2,PA RT 191,2014.0,2.0,PA RT 191
12,12,2446.000000,1,PA RT 191,2017.0,1.0,PA RT 191
13,13,NaN,0,PA RT 248,NaN,NaN,NaN
16,13,5938.000000,3,PA RT 248,2017.0,1.0,PA RT 248
15,13,5938.000000,3,PA RT 248,2016.0,1.0,PA RT 248
...,...,...,...,...,...,...,...
97,73,12450.000000,1,SR 0378,2014.0,1.0,SR 0378
77,73,18664.333333,3,SR 0378,2016.0,2.0,SR 0378
78,73,18664.333333,3,SR 0378,2017.0,1.0,SR 0378
98,74,NaN,0,SR 0987,NaN,NaN,NaN
79,74,11489.500000,2,SR 0987,2016.0,1.0,SR 0987
80,74,11489.500000,2,SR 0987,2018.0,1.0,SR 0987
99,75,NaN,0,SR 0987,NaN,NaN,NaN
81,75,NaN,0,SR 0987,NaN,NaN,NaN
82,76,9896.000000,1,SR 1002,2017.0,1.0,SR 1002
100,76,NaN,0,SR 1002,NaN,NaN,NaN
83,77,7311.000000,1,SR 1002,2018.0,1.0,SR 1002
101,77,NaN,0,SR 1002,NaN,NaN,NaN
102,78,NaN,0,SR 1002,NaN,NaN,NaN
84,78,NaN,0,SR 1002,NaN,NaN,NaN
103,79,NaN,0,SR 1002,NaN,NaN,NaN
85,79,NaN,0,SR 1002,NaN,NaN,NaN
86,80,11648.000000,1,SR 1002,2017.0,1.0,SR 1002
104,80,NaN,0,SR 1002,NaN,NaN,NaN
105,81,NaN,0,SR 1003,NaN,NaN,NaN
87,81,14102.000000,1,SR 1003,2017.0,1.0,SR 1003
88,82,NaN,0,STATE HWY 33,NaN,NaN,NaN
106,82,NaN,0,STATE HWY 33,NaN,NaN,NaN
107,83,24106.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
89,83,25269.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
108,84,31402.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
90,84,32352.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
109,85,NaN,0,STATE HWY 33,NaN,NaN,NaN
91,85,25448.000000,1,STATE HWY 33,2014.0,1.0,STATE HWY 33
92,86,NaN,0,STATE HWY 33,NaN,NaN,NaN
110,86,NaN,0,STATE HWY 33,NaN,NaN,NaN

In [31]:
#Save the mixed result
writer = pd.ExcelWriter('H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct30\MixedSimpleResult.xlsx')
dfr.to_excel(writer)
writer.save()

In [9]:
#Delete the rows where the ADT number is empty
dfg = dfr.dropna(subset = ['ADT average value'])
dfg

,SegmentID,ADT average value,count,ROUTE_NAME_x,CountYear,0,ROUTE_NAME_y
0,1,30240.000000,2,I-476,NaN,NaN,NaN
1,2,37942.500000,2,I-476,NaN,NaN,NaN
3,4,17544.000000,1,I78,2013.0,1.0,I78
4,5,33822.500000,2,I78,2017.0,1.0,I78
5,5,33822.500000,2,I78,2018.0,1.0,I78
8,8,13680.000000,1,PA RT 191,2014.0,1.0,PA RT 191
9,10,10260.333333,3,PA RT 191,2014.0,1.0,PA RT 191
10,10,10260.333333,3,PA RT 191,2016.0,1.0,PA RT 191
11,10,10260.333333,3,PA RT 191,2017.0,1.0,PA RT 191
11,11,7609.000000,1,PA RT 191,2015.0,1.0,PA RT 191
12,11,5104.000000,1,PA RT 191,2016.0,1.0,PA RT 191
13,12,3639.000000,2,PA RT 191,2014.0,2.0,PA RT 191
12,12,2446.000000,1,PA RT 191,2017.0,1.0,PA RT 191
16,13,5938.000000,3,PA RT 248,2017.0,1.0,PA RT 248
15,13,5938.000000,3,PA RT 248,2016.0,1.0,PA RT 248
14,13,5938.000000,3,PA RT 248,2014.0,1.0,PA RT 248
17,14,16198.500000,2,PA RT 248,2015.0,2.0,PA RT 248
17,16,8667.500000,2,PA RT 248,2017.0,1.0,PA RT 248
19,16,9537.250000,4,PA RT 248,2014.0,1.0,PA RT 248
20,16,9537.250000,4,PA RT 248,2015.0,1.0,PA RT 248
21,16,9537.250000,4,PA RT 248,2017.0,2.0,PA RT 248
16,16,8667.500000,2,PA RT 248,2015.0,1.0,PA RT 248
22,17,8405.000000,4,PA RT 248,2014.0,1.0,PA RT 248
23,17,8405.000000,4,PA RT 248,2015.0,1.0,PA RT 248
24,17,8405.000000,4,PA RT 248,2016.0,2.0,PA RT 248
18,17,10434.000000,1,PA RT 248,2017.0,1.0,PA RT 248
25,18,5447.000000,2,PA RT 248,2014.0,1.0,PA RT 248
26,18,5447.000000,2,PA RT 248,2017.0,1.0,PA RT 248
21,20,11011.000000,1,PA RT 329/987,2015.0,1.0,PA RT 329/987
28,20,10948.000000,1,PA RT 329/987,2015.0,1.0,PA RT 329/987
...,...,...,...,...,...,...,...
62,58,15812.000000,1,SR 0222,2017.0,1.0,SR 0222
63,59,13752.000000,1,SR 0222 SR 0100,2016.0,1.0,SR 0222 SR 0100
82,62,17640.000000,1,SR 0309,2017.0,1.0,SR 0309
84,64,15355.500000,2,SR 0309,2014.0,1.0,SR 0309
85,64,15355.500000,2,SR 0309,2017.0,1.0,SR 0309
88,67,23528.000000,1,SR 0309,2014.0,1.0,SR 0309
72,68,7794.000000,2,SR 0309,2017.0,2.0,SR 0309
89,68,10079.250000,4,SR 0309,2014.0,1.0,SR 0309
90,68,10079.250000,4,SR 0309,2015.0,1.0,SR 0309
91,68,10079.250000,4,SR 0309,2017.0,2.0,SR 0309
93,69,9013.000000,2,SR 0309,2017.0,1.0,SR 0309
73,69,7471.000000,1,SR 0309,2016.0,1.0,SR 0309
92,69,9013.000000,2,SR 0309,2016.0,1.0,SR 0309
74,70,9296.000000,1,SR 0329,2014.0,1.0,SR 0329
95,71,8688.500000,2,SR 0329,2016.0,2.0,SR 0329
75,71,16549.000000,1,SR 0329,2018.0,1.0,SR 0329
97,73,12450.000000,1,SR 0378,2014.0,1.0,SR 0378
77,73,18664.333333,3,SR 0378,2016.0,2.0,SR 0378
78,73,18664.333333,3,SR 0378,2017.0,1.0,SR 0378
79,74,11489.500000,2,SR 0987,2016.0,1.0,SR 0987
80,74,11489.500000,2,SR 0987,2018.0,1.0,SR 0987
82,76,9896.000000,1,SR 1002,2017.0,1.0,SR 1002
83,77,7311.000000,1,SR 1002,2018.0,1.0,SR 1002
86,80,11648.000000,1,SR 1002,2017.0,1.0,SR 1002
87,81,14102.000000,1,SR 1003,2017.0,1.0,SR 1003
107,83,24106.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
89,83,25269.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
108,84,31402.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
90,84,32352.000000,1,STATE HWY 33,2017.0,1.0,STATE HWY 33
91,85,25448.000000,1,STATE HWY 33,2014.0,1.0,STATE HWY 33

In [10]:
#Save the average result
writer = pd.ExcelWriter('H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct30\AverageSimpleResult.xlsx')
dfg.to_excel(writer)
writer.save()

In [13]:
df.columns

Index(['OBJECTID', 'ROUTE_NAME', 'RoadClass', 'Shape_Length', 'SegmentID',
       'OBJECTID', 'NC17_F2017_Trial', 'Site_Number', 'Site_No', 'County',
       'Route', 'Street_Name', 'Municipality', 'AADT', 'ADTT', 'Truck_Percent',
       'Count_Date', 'FinalData2017_csv_Field10', 'NewAADT', 'NewADTT',
       'New_Truck_Percent', 'FinalData2017_csv_Field14',
       'FinalData2017_csv_Field15', 'Location', 'CountYear', 'ORIG_FID',
       'TMS_SITE_N', 'FinalData2015_csv_Field11', 'NC14_CUR_AADT',
       'NC14_TRUCK_PERC', 'SiteNo', 'Route_Backup',
       'FinalData2014_csv_Field11', 'LC17_F2017_Trial', 'LC17_TMS_SITE_N',
       '_csv_New_Truck_Percent', 'RouteB', 'LC15_STATION_ID',
       'LC15_TMS_SITE_N', 'NEAR_FID', 'NEAR_DIST'],
      dtype='object')

In [44]:
#Do it again but this time I will not get the average of either one.

df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct30\SegmentsJoinBrian.xlsx')



df.columns = df.columns.str.replace("SplitLineTrial1Oct30.", "")
df.columns = df.columns.str.replace("BrianNearCenterline.", "")

df_r1 = (pd.DataFrame(df.groupby(['SegmentID', 'ROUTE_NAME', 'CountYear', 'AADT'])['AADT'].agg([ 'count'])).
         reset_index().rename(columns = {'count': 'Number of Counts', 'AADT': 'Average Traffic'}))
df.head(12)
df_r1

,OBJECTID,ROUTE_NAME,RoadClass,Shape_Length,SegmentID,OBJECTID,NC17_F2017_Trial,Site_Number,Site_No,County,...,Route_Backup,FinalData2014_csv_Field11,LC17_F2017_Trial,LC17_TMS_SITE_N,_csv_New_Truck_Percent,RouteB,LC15_STATION_ID,LC15_TMS_SITE_N,NEAR_FID,NEAR_DIST
0,1,I-476,Interstate Highway,71959.688134,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I-476,Interstate Highway,60959.568957,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,I-476,Interstate Highway,2450.488934,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,I78,Interstate Highway,15173.736443,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,I78,Interstate Highway,58591.078525,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,I78,Interstate Highway,5265.055588,6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,I78,Interstate Highway,31312.623375,7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,PA RT 191,Major Road,21408.668445,8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,PA RT 191,Major Road,907.580654,9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,PA RT 191,Major Road,16886.133141,10,7.0,10419.0,10419.0,10419.0,Northampton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.192304
10,10,PA RT 191,Major Road,16886.133141,10,13.0,NaN,NaN,582.0,Northampton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,4.921942
11,10,PA RT 191,Major Road,16886.133141,10,39.0,NaN,NaN,NaN,Northampton,...,191.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,4.442093

    SegmentID     ROUTE_NAME  CountYear  Average Traffic  Number of Counts
0          10      PA RT 191     2014.0          10306.0                 1
1          10      PA RT 191     2016.0           7783.0                 1
2          10      PA RT 191     2017.0          12692.0                 1
3          11      PA RT 191     2016.0           5104.0                 1
4          12      PA RT 191     2014.0           3242.0                 1
5          12      PA RT 191     2014.0           4036.0                 1
6          13      PA RT 248     2014.0           2893.0                 1
7          13      PA RT 248     2016.0           8433.0                 1
8          13      PA RT 248     2017.0           6488.0                 1
9          14      PA RT 248     2015.0          14359.0                 1
10         14      PA RT 248     2015.0          18038.0                 1
11         16      PA RT 248     2014.0           9592.0                 1
12         16      PA RT 248     2015.0          10395.0                 1
13         16      PA RT 248     2017.0           7001.0                 1
14         16      PA RT 248     2017.0          11161.0                 1
15         17      PA RT 248     2014.0           8602.0                 1
16         17      PA RT 248     2015.0           6615.0                 1
17         17      PA RT 248     2016.0           8187.0                 1
18         17      PA RT 248     2016.0          10216.0                 1
19         18      PA RT 248     2014.0           4951.0                 1
20         18      PA RT 248     2017.0           5943.0                 1
21         20  PA RT 329/987     2015.0          10948.0                 1
22         21      PA RT 412     2016.0           5141.0                 1
23         21      PA RT 412     2017.0          13000.0                 1
24         23      PA RT 512     2015.0          12735.0                 1
25         24      PA RT 512     2014.0           7426.0                 1
26         25      PA RT 512     2014.0          18488.0                 1
27         25      PA RT 512     2016.0           5947.0                 1
28         27      PA RT 611     2014.0           3337.0                 1
29         27      PA RT 611     2014.0           4018.0                 1
..        ...            ...        ...              ...               ...
44         48        SR 0100     2017.0          14217.0                 1
45         49        SR 0100     2014.0          18002.0                 1
46         51        SR 0100     2017.0          13429.0                 1
47         53        SR 0145     2014.0           5941.0                 1
48         53        SR 0145     2015.0           6750.0                 1
49         53        SR 0145     2017.0           6348.0                 1
50         54        SR 0145     2014.0          16024.0                 1
51         55        SR 0145     2014.0          14528.0                 1
52         55        SR 0145     2014.0          17326.0                 1
53         55        SR 0145     2017.0           9794.0                 1
54         55        SR 0145     2017.0          10521.0                 1
55         55        SR 0145     2017.0          14924.0                 1
56         56        SR 0145     2015.0           5442.0                 1
57         56        SR 0145     2016.0           6637.0                 1
58         57        SR 0222     2016.0           9643.0                 1
59         62        SR 0309     2017.0          17640.0                 1
60         64        SR 0309     2014.0          14904.0                 1
61         64        SR 0309     2017.0          15807.0                 1
62         67        SR 0309     2014.0          23528.0                 1
63         68        SR 0309     2014.0           5213.0                 1
64         68        SR 0309     2015.0          18062.0                 1
65         68        SR 0309     2017.0           7064.0                 1
66         68        SR 0309     2017.0           9978.0                 1
67         69        SR 0309     2016.0           7193.0                 1
68         69        SR 0309     2017.0          10833.0                 1
69         71        SR 0329     2016.0           7720.0                 1
70         71        SR 0329     2016.0           9657.0                 1
71         73        SR 0378     2014.0          12450.0                 1
72         83   STATE HWY 33     2017.0          24106.0                 1
73         84   STATE HWY 33     2017.0          31402.0                 1

[74 rows x 5 columns]

In [61]:
df_r1 = (pd.DataFrame(df.groupby(['SegmentID', 'ROUTE_NAME', 'CountYear', 'AADT'], as_index = False).size()).
         reset_index().rename(columns = {'AADT': 'Average Traffic', 0: 'Number of Counts'}))

df_r1

    SegmentID     ROUTE_NAME  CountYear  Average Traffic  Number of Counts
0          10      PA RT 191     2014.0          10306.0                 1
1          10      PA RT 191     2016.0           7783.0                 1
2          10      PA RT 191     2017.0          12692.0                 1
3          11      PA RT 191     2016.0           5104.0                 1
4          12      PA RT 191     2014.0           3242.0                 1
5          12      PA RT 191     2014.0           4036.0                 1
6          13      PA RT 248     2014.0           2893.0                 1
7          13      PA RT 248     2016.0           8433.0                 1
8          13      PA RT 248     2017.0           6488.0                 1
9          14      PA RT 248     2015.0          14359.0                 1
10         14      PA RT 248     2015.0          18038.0                 1
11         16      PA RT 248     2014.0           9592.0                 1
12         16      PA RT 248     2015.0          10395.0                 1
13         16      PA RT 248     2017.0           7001.0                 1
14         16      PA RT 248     2017.0          11161.0                 1
15         17      PA RT 248     2014.0           8602.0                 1
16         17      PA RT 248     2015.0           6615.0                 1
17         17      PA RT 248     2016.0           8187.0                 1
18         17      PA RT 248     2016.0          10216.0                 1
19         18      PA RT 248     2014.0           4951.0                 1
20         18      PA RT 248     2017.0           5943.0                 1
21         20  PA RT 329/987     2015.0          10948.0                 1
22         21      PA RT 412     2016.0           5141.0                 1
23         21      PA RT 412     2017.0          13000.0                 1
24         23      PA RT 512     2015.0          12735.0                 1
25         24      PA RT 512     2014.0           7426.0                 1
26         25      PA RT 512     2014.0          18488.0                 1
27         25      PA RT 512     2016.0           5947.0                 1
28         27      PA RT 611     2014.0           3337.0                 1
29         27      PA RT 611     2014.0           4018.0                 1
..        ...            ...        ...              ...               ...
44         48        SR 0100     2017.0          14217.0                 1
45         49        SR 0100     2014.0          18002.0                 1
46         51        SR 0100     2017.0          13429.0                 1
47         53        SR 0145     2014.0           5941.0                 1
48         53        SR 0145     2015.0           6750.0                 1
49         53        SR 0145     2017.0           6348.0                 1
50         54        SR 0145     2014.0          16024.0                 1
51         55        SR 0145     2014.0          14528.0                 1
52         55        SR 0145     2014.0          17326.0                 1
53         55        SR 0145     2017.0           9794.0                 1
54         55        SR 0145     2017.0          10521.0                 1
55         55        SR 0145     2017.0          14924.0                 1
56         56        SR 0145     2015.0           5442.0                 1
57         56        SR 0145     2016.0           6637.0                 1
58         57        SR 0222     2016.0           9643.0                 1
59         62        SR 0309     2017.0          17640.0                 1
60         64        SR 0309     2014.0          14904.0                 1
61         64        SR 0309     2017.0          15807.0                 1
62         67        SR 0309     2014.0          23528.0                 1
63         68        SR 0309     2014.0           5213.0                 1
64         68        SR 0309     2015.0          18062.0                 1
65         68        SR 0309     2017.0           7064.0                 1
66         68        SR 0309     2017.0           9978.0                 1
67         69        SR 0309     2016.0           7193.0                 1
68         69        SR 0309     2017.0          10833.0                 1
69         71        SR 0329     2016.0           7720.0                 1
70         71        SR 0329     2016.0           9657.0                 1
71         73        SR 0378     2014.0          12450.0                 1
72         83   STATE HWY 33     2017.0          24106.0                 1
73         84   STATE HWY 33     2017.0          31402.0                 1

[74 rows x 5 columns]

In [113]:
#Why doesn't my groupby function work as intended? Trying to solve the problem
df2

df_gp = df2.groupby(['SegmentID', 'ROUTE_NAME']).agg({'Average Traffic': np.mean})
df_gp

df_gp1 = df2.groupby(['SegmentID', 'ROUTE_NAME'])[['Average Traffic']].sum()
df_gp1

,SegmentID,ROUTE_NAME,CountYear,Average Traffic,Average Truck Traffic
0,1,I-476,NaN,30240.0,4813.0
1,1,I-476,NaN,30240.0,4813.0
2,2,I-476,NaN,45645.0,7373.0
3,2,I-476,NaN,30240.0,4813.0
4,3,I-476,NaN,NaN,NaN
5,4,I78,2013.0,17544.0,5546.0
6,5,I78,2017.0,33894.0,7738.0
7,5,I78,2018.0,33751.0,7120.0
8,6,I78,NaN,NaN,NaN
9,7,I78,NaN,NaN,NaN
10,8,PA RT 191,2014.0,13680.0,821.0
11,9,PA RT 191,NaN,NaN,NaN
12,10,PA RT 191,NaN,NaN,NaN
13,11,PA RT 191,2015.0,7609.0,228.0
14,12,PA RT 191,2017.0,2446.0,73.0
15,13,PA RT 248,NaN,NaN,NaN
16,14,PA RT 248,NaN,NaN,NaN
17,15,PA RT 248,NaN,NaN,NaN
19,16,PA RT 248,2015.0,10455.0,941.0
18,16,PA RT 248,2017.0,6880.0,918.0
20,17,PA RT 248,2017.0,10434.0,763.0
21,18,PA RT 248,NaN,NaN,NaN
22,19,PA RT 248,NaN,NaN,NaN
23,20,PA RT 329/987,2015.0,11011.0,881.0
24,21,PA RT 412,2016.0,5172.0,569.0
25,22,PA RT 412,2017.0,11329.0,870.0
26,23,PA RT 512,2016.0,12419.0,1536.0
27,24,PA RT 512,NaN,NaN,NaN
28,25,PA RT 512,NaN,NaN,NaN
29,26,PA RT 512,2016.0,7053.0,435.0
...,...,...,...,...,...
68,61,SR 0309,NaN,NaN,NaN
69,62,SR 0309,NaN,NaN,NaN
70,63,SR 0309,NaN,NaN,NaN
71,64,SR 0309,NaN,NaN,NaN
72,65,SR 0309,NaN,NaN,NaN
73,66,SR 0309,NaN,NaN,NaN
74,67,SR 0309,NaN,NaN,NaN
75,68,SR 0309,2017.0,5063.0,238.0
76,68,SR 0309,2017.0,10525.0,737.0
77,69,SR 0309,2016.0,7471.0,1224.0
78,70,SR 0329,2014.0,9296.0,372.0
79,71,SR 0329,2018.0,16549.0,1489.0
80,72,SR 0378,NaN,NaN,NaN
81,73,SR 0378,2016.0,24155.0,1173.0
83,73,SR 0378,2016.0,14448.0,1200.0
82,73,SR 0378,2017.0,17390.0,696.0
85,74,SR 0987,2016.0,10732.0,429.0
84,74,SR 0987,2018.0,12247.0,1225.0
86,75,SR 0987,NaN,NaN,NaN
87,76,SR 1002,2017.0,9896.0,297.0
88,77,SR 1002,2018.0,7311.0,877.0
89,78,SR 1002,NaN,NaN,NaN
90,79,SR 1002,NaN,NaN,NaN
91,80,SR 1002,2017.0,11648.0,349.0
92,81,SR 1003,2017.0,14102.0,1231.0
93,82,STATE HWY 33,NaN,NaN,NaN
94,83,STATE HWY 33,2017.0,25269.0,3790.0
95,84,STATE HWY 33,2017.0,32352.0,3882.0
96,85,STATE HWY 33,2014.0,25448.0,2544.0
97,86,STATE HWY 33,NaN,NaN,NaN

                            Average Traffic
SegmentID ROUTE_NAME
1         I-476                30240.000000
2         I-476                37942.500000
3         I-476                         NaN
4         I78                  17544.000000
5         I78                  33822.500000
6         I78                           NaN
7         I78                           NaN
8         PA RT 191            13680.000000
9         PA RT 191                     NaN
10        PA RT 191                     NaN
11        PA RT 191             7609.000000
12        PA RT 191             2446.000000
13        PA RT 248                     NaN
14        PA RT 248                     NaN
15        PA RT 248                     NaN
16        PA RT 248             8667.500000
17        PA RT 248            10434.000000
18        PA RT 248                     NaN
19        PA RT 248                     NaN
20        PA RT 329/987        11011.000000
21        PA RT 412             5172.000000
22        PA RT 412            11329.000000
23        PA RT 512            12419.000000
24        PA RT 512                     NaN
25        PA RT 512                     NaN
26        PA RT 512             7053.000000
27        PA RT 611             3465.000000
28        PA RT 611             6589.000000
29        PA RT 611             8813.000000
30        SR 0022                       NaN
...                                     ...
57        SR 0222              24233.000000
58        SR 0222              15812.000000
59        SR 0222  SR 0100     13752.000000
60        SR 0309                       NaN
61        SR 0309                       NaN
62        SR 0309                       NaN
63        SR 0309                       NaN
64        SR 0309                       NaN
65        SR 0309                       NaN
66        SR 0309                       NaN
67        SR 0309                       NaN
68        SR 0309               7794.000000
69        SR 0309               7471.000000
70        SR 0329               9296.000000
71        SR 0329              16549.000000
72        SR 0378                       NaN
73        SR 0378              18664.333333
74        SR 0987              11489.500000
75        SR 0987                       NaN
76        SR 1002               9896.000000
77        SR 1002               7311.000000
78        SR 1002                       NaN
79        SR 1002                       NaN
80        SR 1002              11648.000000
81        SR 1003              14102.000000
82        STATE HWY 33                  NaN
83        STATE HWY 33         25269.000000
84        STATE HWY 33         32352.000000
85        STATE HWY 33         25448.000000
86        STATE HWY 33                  NaN

[86 rows x 1 columns]

                            Average Traffic
SegmentID ROUTE_NAME
1         I-476                     60480.0
2         I-476                     75885.0
3         I-476                         0.0
4         I78                       17544.0
5         I78                       67645.0
6         I78                           0.0
7         I78                           0.0
8         PA RT 191                 13680.0
9         PA RT 191                     0.0
10        PA RT 191                     0.0
11        PA RT 191                  7609.0
12        PA RT 191                  2446.0
13        PA RT 248                     0.0
14        PA RT 248                     0.0
15        PA RT 248                     0.0
16        PA RT 248                 17335.0
17        PA RT 248                 10434.0
18        PA RT 248                     0.0
19        PA RT 248                     0.0
20        PA RT 329/987             11011.0
21        PA RT 412                  5172.0
22        PA RT 412                 11329.0
23        PA RT 512                 12419.0
24        PA RT 512                     0.0
25        PA RT 512                     0.0
26        PA RT 512                  7053.0
27        PA RT 611                  3465.0
28        PA RT 611                  6589.0
29        PA RT 611                  8813.0
30        SR 0022                       0.0
...                                     ...
57        SR 0222                   24233.0
58        SR 0222                   15812.0
59        SR 0222  SR 0100          13752.0
60        SR 0309                       0.0
61        SR 0309                       0.0
62        SR 0309                       0.0
63        SR 0309                       0.0
64        SR 0309                       0.0
65        SR 0309                       0.0
66        SR 0309                       0.0
67        SR 0309                       0.0
68        SR 0309                   15588.0
69        SR 0309                    7471.0
70        SR 0329                    9296.0
71        SR 0329                   16549.0
72        SR 0378                       0.0
73        SR 0378                   55993.0
74        SR 0987                   22979.0
75        SR 0987                       0.0
76        SR 1002                    9896.0
77        SR 1002                    7311.0
78        SR 1002                       0.0
79        SR 1002                       0.0
80        SR 1002                   11648.0
81        SR 1003                   14102.0
82        STATE HWY 33                  0.0
83        STATE HWY 33              25269.0
84        STATE HWY 33              32352.0
85        STATE HWY 33              25448.0
86        STATE HWY 33                  0.0

[86 rows x 1 columns]

CountYear             2013.0   2014.0   2015.0   2016.0   2017.0   2018.0
ROUTE_NAME
I78                  17544.0      NaN      NaN      NaN  33894.0  33751.0
PA RT 191                NaN  13680.0   7609.0      NaN   2446.0      NaN
PA RT 248                NaN      NaN  10455.0      NaN   8657.0      NaN
PA RT 329/987            NaN      NaN  11011.0      NaN      NaN      NaN
PA RT 412                NaN      NaN      NaN   5172.0  11329.0      NaN
PA RT 512                NaN      NaN      NaN   9736.0      NaN      NaN
PA RT 611                NaN      NaN   7701.0      NaN   3465.0      NaN
SR 0029                  NaN      NaN      NaN      NaN  15278.0      NaN
SR 0029     SR 0100      NaN      NaN      NaN      NaN  13063.0      NaN
SR 0100                  NaN      NaN   5743.0  13075.0   6034.0      NaN
SR 0145                  NaN      NaN   5496.0      NaN  12090.0      NaN
SR 0222                  NaN      NaN      NaN      NaN  20022.5      NaN
SR 0222  SR 0100         NaN      NaN      NaN  13752.0      NaN      NaN
SR 0309                  NaN      NaN      NaN   7471.0   7794.0      NaN
SR 0329                  NaN   9296.0      NaN      NaN      NaN  16549.0
SR 0378                  NaN      NaN      NaN  19301.5  17390.0      NaN
SR 0987                  NaN      NaN      NaN  10732.0      NaN  12247.0
SR 1002                  NaN      NaN      NaN      NaN  10772.0   7311.0
SR 1003                  NaN      NaN      NaN      NaN  14102.0      NaN
STATE HWY 33             NaN  25448.0      NaN      NaN  28810.5      NaN

In [62]:
df.columns

Index(['OBJECTID', 'ROUTE_NAME', 'RoadClass', 'Shape_Length', 'SegmentID',
       'OBJECTID', 'NC17_F2017_Trial', 'Site_Number', 'Site_No', 'County',
       'Route', 'Street_Name', 'Municipality', 'AADT', 'ADTT', 'Truck_Percent',
       'Count_Date', 'FinalData2017_csv_Field10', 'NewAADT', 'NewADTT',
       'New_Truck_Percent', 'FinalData2017_csv_Field14',
       'FinalData2017_csv_Field15', 'Location', 'CountYear', 'ORIG_FID',
       'TMS_SITE_N', 'FinalData2015_csv_Field11', 'NC14_CUR_AADT',
       'NC14_TRUCK_PERC', 'SiteNo', 'Route_Backup',
       'FinalData2014_csv_Field11', 'LC17_F2017_Trial', 'LC17_TMS_SITE_N',
       '_csv_New_Truck_Percent', 'RouteB', 'LC15_STATION_ID',
       'LC15_TMS_SITE_N', 'NEAR_FID', 'NEAR_DIST'],
      dtype='object')

In [91]:
#Do it again but this time I will include all the data

df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct30\SegmentsJoinBrian.xlsx')



df.columns = df.columns.str.replace("SplitLineTrial1Oct30.", "")
df.columns = df.columns.str.replace("BrianNearCenterline.", "")

columns = ['SegmentID', 'ROUTE_NAME', 'CountYear','AADT', 'ADTT']
df1 = df[columns].sort_values(['SegmentID', 'CountYear']).rename(columns = {'AADT': 'Average Traffic', 
                                                                            'ADTT': 'Average Truck Traffic'})
df1

,SegmentID,ROUTE_NAME,CountYear,Average Traffic,Average Truck Traffic
0,1,I-476,NaN,NaN,NaN
1,2,I-476,NaN,NaN,NaN
2,3,I-476,NaN,NaN,NaN
3,4,I78,NaN,NaN,NaN
4,5,I78,NaN,NaN,NaN
5,6,I78,NaN,NaN,NaN
6,7,I78,NaN,NaN,NaN
7,8,PA RT 191,NaN,NaN,NaN
8,9,PA RT 191,NaN,NaN,NaN
11,10,PA RT 191,2014.0,10306.0,414.0
10,10,PA RT 191,2016.0,7783.0,467.0
9,10,PA RT 191,2017.0,12692.0,241.0
12,11,PA RT 191,2016.0,5104.0,204.0
13,12,PA RT 191,2014.0,4036.0,121.0
14,12,PA RT 191,2014.0,3242.0,97.0
17,13,PA RT 248,2014.0,2893.0,116.0
16,13,PA RT 248,2016.0,8433.0,337.0
15,13,PA RT 248,2017.0,6488.0,260.0
18,14,PA RT 248,2015.0,18038.0,902.0
19,14,PA RT 248,2015.0,14359.0,574.0
20,15,PA RT 248,NaN,NaN,NaN
24,16,PA RT 248,2014.0,9592.0,576.0
23,16,PA RT 248,2015.0,10395.0,936.0
21,16,PA RT 248,2017.0,7001.0,700.0
22,16,PA RT 248,2017.0,11161.0,893.0
28,17,PA RT 248,2014.0,8602.0,602.0
27,17,PA RT 248,2015.0,6615.0,662.0
25,17,PA RT 248,2016.0,10216.0,715.0
26,17,PA RT 248,2016.0,8187.0,655.0
30,18,PA RT 248,2014.0,4951.0,355.0
...,...,...,...,...,...
92,63,SR 0309,NaN,NaN,NaN
94,64,SR 0309,2014.0,14904.0,1244.0
93,64,SR 0309,2017.0,15807.0,1581.0
95,65,SR 0309,NaN,NaN,NaN
96,66,SR 0309,NaN,NaN,NaN
97,67,SR 0309,2014.0,23528.0,1501.0
101,68,SR 0309,2014.0,5213.0,365.0
100,68,SR 0309,2015.0,18062.0,1806.0
98,68,SR 0309,2017.0,7064.0,565.0
99,68,SR 0309,2017.0,9978.0,798.0
103,69,SR 0309,2016.0,7193.0,1151.0
102,69,SR 0309,2017.0,10833.0,1300.0
104,70,SR 0329,NaN,NaN,NaN
105,71,SR 0329,2016.0,9657.0,1159.0
106,71,SR 0329,2016.0,7720.0,1081.0
107,72,SR 0378,NaN,NaN,NaN
108,73,SR 0378,2014.0,12450.0,747.0
109,74,SR 0987,NaN,NaN,NaN
110,75,SR 0987,NaN,NaN,NaN
111,76,SR 1002,NaN,NaN,NaN
112,77,SR 1002,NaN,NaN,NaN
113,78,SR 1002,NaN,NaN,NaN
114,79,SR 1002,NaN,NaN,NaN
115,80,SR 1002,NaN,NaN,NaN
116,81,SR 1003,NaN,NaN,NaN
117,82,STATE HWY 33,NaN,NaN,NaN
118,83,STATE HWY 33,2017.0,24106.0,3857.0
119,84,STATE HWY 33,2017.0,31402.0,4082.0
120,85,STATE HWY 33,NaN,NaN,NaN
121,86,STATE HWY 33,NaN,NaN,NaN

In [92]:
#Do it again but this time I will include all the data, just sort and concat

df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct30\SegmentsJoinPennDOT.xlsx')



df.columns = df.columns.str.replace("SplitLineTrial1Oct30.", "")
df.columns = df.columns.str.replace("PennDOTNearCenterline.", "")

columns = ['SegmentID', 'ROUTE_NAME', 'CountYear','ADT', 'ADTT']
df2 = df[columns].sort_values(['SegmentID', 'CountYear']).rename(columns = {'ADT': 'Average Traffic', 
                                                                            'ADTT': 'Average Truck Traffic'})
df2

,SegmentID,ROUTE_NAME,CountYear,Average Traffic,Average Truck Traffic
0,1,I-476,NaN,30240.0,4813.0
1,1,I-476,NaN,30240.0,4813.0
2,2,I-476,NaN,45645.0,7373.0
3,2,I-476,NaN,30240.0,4813.0
4,3,I-476,NaN,NaN,NaN
5,4,I78,2013.0,17544.0,5546.0
6,5,I78,2017.0,33894.0,7738.0
7,5,I78,2018.0,33751.0,7120.0
8,6,I78,NaN,NaN,NaN
9,7,I78,NaN,NaN,NaN
10,8,PA RT 191,2014.0,13680.0,821.0
11,9,PA RT 191,NaN,NaN,NaN
12,10,PA RT 191,NaN,NaN,NaN
13,11,PA RT 191,2015.0,7609.0,228.0
14,12,PA RT 191,2017.0,2446.0,73.0
15,13,PA RT 248,NaN,NaN,NaN
16,14,PA RT 248,NaN,NaN,NaN
17,15,PA RT 248,NaN,NaN,NaN
19,16,PA RT 248,2015.0,10455.0,941.0
18,16,PA RT 248,2017.0,6880.0,918.0
20,17,PA RT 248,2017.0,10434.0,763.0
21,18,PA RT 248,NaN,NaN,NaN
22,19,PA RT 248,NaN,NaN,NaN
23,20,PA RT 329/987,2015.0,11011.0,881.0
24,21,PA RT 412,2016.0,5172.0,569.0
25,22,PA RT 412,2017.0,11329.0,870.0
26,23,PA RT 512,2016.0,12419.0,1536.0
27,24,PA RT 512,NaN,NaN,NaN
28,25,PA RT 512,NaN,NaN,NaN
29,26,PA RT 512,2016.0,7053.0,435.0
...,...,...,...,...,...
68,61,SR 0309,NaN,NaN,NaN
69,62,SR 0309,NaN,NaN,NaN
70,63,SR 0309,NaN,NaN,NaN
71,64,SR 0309,NaN,NaN,NaN
72,65,SR 0309,NaN,NaN,NaN
73,66,SR 0309,NaN,NaN,NaN
74,67,SR 0309,NaN,NaN,NaN
75,68,SR 0309,2017.0,5063.0,238.0
76,68,SR 0309,2017.0,10525.0,737.0
77,69,SR 0309,2016.0,7471.0,1224.0
78,70,SR 0329,2014.0,9296.0,372.0
79,71,SR 0329,2018.0,16549.0,1489.0
80,72,SR 0378,NaN,NaN,NaN
81,73,SR 0378,2016.0,24155.0,1173.0
83,73,SR 0378,2016.0,14448.0,1200.0
82,73,SR 0378,2017.0,17390.0,696.0
85,74,SR 0987,2016.0,10732.0,429.0
84,74,SR 0987,2018.0,12247.0,1225.0
86,75,SR 0987,NaN,NaN,NaN
87,76,SR 1002,2017.0,9896.0,297.0
88,77,SR 1002,2018.0,7311.0,877.0
89,78,SR 1002,NaN,NaN,NaN
90,79,SR 1002,NaN,NaN,NaN
91,80,SR 1002,2017.0,11648.0,349.0
92,81,SR 1003,2017.0,14102.0,1231.0
93,82,STATE HWY 33,NaN,NaN,NaN
94,83,STATE HWY 33,2017.0,25269.0,3790.0
95,84,STATE HWY 33,2017.0,32352.0,3882.0
96,85,STATE HWY 33,2014.0,25448.0,2544.0
97,86,STATE HWY 33,NaN,NaN,NaN

In [97]:
dff = pd.concat([df1, df2]).sort_values(['SegmentID', 'CountYear']).drop_duplicates()
dff

,SegmentID,ROUTE_NAME,CountYear,Average Traffic,Average Truck Traffic
0,1,I-476,NaN,NaN,NaN
0,1,I-476,NaN,30240.0,4813.0
1,2,I-476,NaN,NaN,NaN
2,2,I-476,NaN,45645.0,7373.0
3,2,I-476,NaN,30240.0,4813.0
2,3,I-476,NaN,NaN,NaN
5,4,I78,2013.0,17544.0,5546.0
3,4,I78,NaN,NaN,NaN
6,5,I78,2017.0,33894.0,7738.0
7,5,I78,2018.0,33751.0,7120.0
4,5,I78,NaN,NaN,NaN
5,6,I78,NaN,NaN,NaN
6,7,I78,NaN,NaN,NaN
10,8,PA RT 191,2014.0,13680.0,821.0
7,8,PA RT 191,NaN,NaN,NaN
8,9,PA RT 191,NaN,NaN,NaN
11,10,PA RT 191,2014.0,10306.0,414.0
10,10,PA RT 191,2016.0,7783.0,467.0
9,10,PA RT 191,2017.0,12692.0,241.0
12,10,PA RT 191,NaN,NaN,NaN
13,11,PA RT 191,2015.0,7609.0,228.0
12,11,PA RT 191,2016.0,5104.0,204.0
13,12,PA RT 191,2014.0,4036.0,121.0
14,12,PA RT 191,2014.0,3242.0,97.0
14,12,PA RT 191,2017.0,2446.0,73.0
17,13,PA RT 248,2014.0,2893.0,116.0
16,13,PA RT 248,2016.0,8433.0,337.0
15,13,PA RT 248,2017.0,6488.0,260.0
15,13,PA RT 248,NaN,NaN,NaN
18,14,PA RT 248,2015.0,18038.0,902.0
...,...,...,...,...,...
105,71,SR 0329,2016.0,9657.0,1159.0
106,71,SR 0329,2016.0,7720.0,1081.0
79,71,SR 0329,2018.0,16549.0,1489.0
107,72,SR 0378,NaN,NaN,NaN
108,73,SR 0378,2014.0,12450.0,747.0
81,73,SR 0378,2016.0,24155.0,1173.0
83,73,SR 0378,2016.0,14448.0,1200.0
82,73,SR 0378,2017.0,17390.0,696.0
85,74,SR 0987,2016.0,10732.0,429.0
84,74,SR 0987,2018.0,12247.0,1225.0
109,74,SR 0987,NaN,NaN,NaN
110,75,SR 0987,NaN,NaN,NaN
87,76,SR 1002,2017.0,9896.0,297.0
111,76,SR 1002,NaN,NaN,NaN
88,77,SR 1002,2018.0,7311.0,877.0
112,77,SR 1002,NaN,NaN,NaN
113,78,SR 1002,NaN,NaN,NaN
114,79,SR 1002,NaN,NaN,NaN
91,80,SR 1002,2017.0,11648.0,349.0
115,80,SR 1002,NaN,NaN,NaN
92,81,SR 1003,2017.0,14102.0,1231.0
116,81,SR 1003,NaN,NaN,NaN
117,82,STATE HWY 33,NaN,NaN,NaN
118,83,STATE HWY 33,2017.0,24106.0,3857.0
94,83,STATE HWY 33,2017.0,25269.0,3790.0
119,84,STATE HWY 33,2017.0,31402.0,4082.0
95,84,STATE HWY 33,2017.0,32352.0,3882.0
96,85,STATE HWY 33,2014.0,25448.0,2544.0
120,85,STATE HWY 33,NaN,NaN,NaN
121,86,STATE HWY 33,NaN,NaN,NaN

In [98]:
writer = pd.ExcelWriter('H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct31\AllSegmentsWithData.xlsx')
dff.to_excel(writer)
writer.save()

In [116]:
pd.pivot_table(df2, index = ['SegmentID', 'ROUTE_NAME'], values = 'Average Traffic', columns = 'CountYear')

,CountYear,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
SegmentID,ROUTE_NAME,,,,,,
4,I78,17544.0,NaN,NaN,NaN,NaN,NaN
5,I78,NaN,NaN,NaN,NaN,33894.0,33751.0
8,PA RT 191,NaN,13680.0,NaN,NaN,NaN,NaN
11,PA RT 191,NaN,NaN,7609.0,NaN,NaN,NaN
12,PA RT 191,NaN,NaN,NaN,NaN,2446.0,NaN
16,PA RT 248,NaN,NaN,10455.0,NaN,6880.0,NaN
17,PA RT 248,NaN,NaN,NaN,NaN,10434.0,NaN
20,PA RT 329/987,NaN,NaN,11011.0,NaN,NaN,NaN
21,PA RT 412,NaN,NaN,NaN,5172.0,NaN,NaN
22,PA RT 412,NaN,NaN,NaN,NaN,11329.0,NaN
23,PA RT 512,NaN,NaN,NaN,12419.0,NaN,NaN
26,PA RT 512,NaN,NaN,NaN,7053.0,NaN,NaN
27,PA RT 611,NaN,NaN,NaN,NaN,3465.0,NaN
28,PA RT 611,NaN,NaN,6589.0,NaN,NaN,NaN
29,PA RT 611,NaN,NaN,8813.0,NaN,NaN,NaN
43,SR 0029,NaN,NaN,NaN,NaN,15278.0,NaN
44,SR 0029 SR 0100,NaN,NaN,NaN,NaN,13063.0,NaN
48,SR 0100,NaN,NaN,5743.0,13075.0,6034.0,NaN
53,SR 0145,NaN,NaN,NaN,NaN,17940.0,NaN
55,SR 0145,NaN,NaN,NaN,NaN,9838.0,NaN
56,SR 0145,NaN,NaN,5496.0,NaN,8492.0,NaN
57,SR 0222,NaN,NaN,NaN,NaN,24233.0,NaN
58,SR 0222,NaN,NaN,NaN,NaN,15812.0,NaN
59,SR 0222 SR 0100,NaN,NaN,NaN,13752.0,NaN,NaN
68,SR 0309,NaN,NaN,NaN,NaN,7794.0,NaN
69,SR 0309,NaN,NaN,NaN,7471.0,NaN,NaN
70,SR 0329,NaN,9296.0,NaN,NaN,NaN,NaN
71,SR 0329,NaN,NaN,NaN,NaN,NaN,16549.0
73,SR 0378,NaN,NaN,NaN,19301.5,17390.0,NaN
74,SR 0987,NaN,NaN,NaN,10732.0,NaN,12247.0
76,SR 1002,NaN,NaN,NaN,NaN,9896.0,NaN
77,SR 1002,NaN,NaN,NaN,NaN,NaN,7311.0
80,SR 1002,NaN,NaN,NaN,NaN,11648.0,NaN
81,SR 1003,NaN,NaN,NaN,NaN,14102.0,NaN
83,STATE HWY 33,NaN,NaN,NaN,NaN,25269.0,NaN
84,STATE HWY 33,NaN,NaN,NaN,NaN,32352.0,NaN
85,STATE HWY 33,NaN,25448.0,NaN,NaN,NaN,NaN

In [119]:
dfs = pd.pivot_table(dff, index = ['SegmentID', 'ROUTE_NAME'], values = 'Average Traffic', columns = 'CountYear')
writer = pd.ExcelWriter('H:\lvpcprojects\evoLVe\GIS\TrafficX\Oct31\Simplified.xlsx')
dfs.to_excel(writer)
writer.save()

In [28]:
#Cleaning the data from Brian and Mike

df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\TMS%20Site%20Traffic%20Summary.xlsx')

df = df.iloc[:, :6]

df['Timeframe'] = df['Timeframe'].astype(str)

df['ExtractYear'] = df['Timeframe'].str[-2:]

In [31]:
df.iloc[327, 0][-2:]

'18'

In [32]:
df[df['ExtractYear'].isnull()]

Empty DataFrame
Columns: [Timeframe, Volume, Truck Volume, Truck Percent, ID, TMS Site, ExtractYear]
Index: []

In [34]:
df.head()

,Timeframe,Volume,Truck Volume,Truck Percent,ID,TMS Site,ExtractYear
0,"Aug 25, 2016",9041,1631.0,18.0,26.0,13341,16
1,"Aug 28, 2013",9693,NaN,NaN,26.0,13341,13
2,"Aug 31, 2010",8721,950.0,10.9,26.0,13341,10
3,"Jun 12, 2007",10429,NaN,NaN,26.0,13341,07
4,"July 14, 2004",10267,NaN,NaN,26.0,13341,04

In [33]:
df.columns

Index(['Timeframe', 'Volume', 'Truck Volume', 'Truck Percent', 'ID',
       'TMS Site', 'ExtractYear'],
      dtype='object')

In [39]:
df1 = df.loc[(df['ExtractYear'].astype(int) > 8 )& (df['ExtractYear'].astype(int) < 19)]

In [40]:
df1

,Timeframe,Volume,Truck Volume,Truck Percent,ID,TMS Site,ExtractYear
0,"Aug 25, 2016",9041,1631.0,18.0,26.0,13341,16
1,"Aug 28, 2013",9693,NaN,NaN,26.0,13341,13
2,"Aug 31, 2010",8721,950.0,10.9,26.0,13341,10
8,"Jun 29, 2017",6027,317.0,5.3,27.0,13338,17
9,"Sep 04, 2014",6782,NaN,NaN,27.0,13338,14
10,"Jun 14, 2011",6596,517.0,7.8,27.0,13338,11
17,"Sep 04, 2018",11639,NaN,NaN,5.0,27031,18
18,"Sep 10, 2013",10972,1702.0,15.5,5.0,27031,13
22,"Aug 02, 2016",3757,82.0,2.2,29.0,13516,16
23,"Jun 18, 2013",4328,NaN,NaN,29.0,13516,13
24,"Aug 31, 2010",4160,165.0,4.0,29.0,13516,10
30,"May 24, 2017",24134,NaN,NaN,6.0,12627,17
31,"May 21, 2014",22908,2292.0,10.0,6.0,12627,14
32,"Aug 31, 2011",26733,NaN,NaN,6.0,12627,11
37,"Aug 08, 2018",20654,NaN,NaN,30.0,32654,18
38,"Oct 27, 2015",19506,2197.0,11.3,30.0,32654,15
39,"July 11, 2012",9575,669.0,7.0,30.0,32654,12
43,"Oct 17, 2018",59356,NaN,NaN,4.0,12433,18
44,"May 17, 2018",16021,3477.0,21.7,4.0,12433,18
45,"Oct 28, 2014",21506,4937.0,23.0,4.0,12433,14
46,"Aug 04, 2011",22846,4674.0,20.5,4.0,12433,11
52,"Sep 10, 2018",18087,NaN,NaN,56.0,14732,18
53,"Oct 27, 2015",19795,2672.0,13.5,56.0,14732,15
54,"Oct 17, 2012",14934,NaN,NaN,56.0,14732,12
55,"Jun 09, 2009",14467,NaN,NaN,56.0,14732,09
58,"Nov 09, 2016",54961,NaN,NaN,14.0,3061,16
59,"Nov 09, 2011",53731,NaN,NaN,14.0,3061,11
67,"Sep 25, 2013",37903,14260.0,37.6,54.0,3073,13
68,"Nov 09, 2010",50178,NaN,NaN,54.0,3073,10
77,"Sep 07, 2017",25365,NaN,NaN,28.0,13336,17
...,...,...,...,...,...,...,...
294,"Jun 04, 2014",72306,10832.0,15.0,32.0,3929,14
295,"Apr 20, 2010",64024,NaN,NaN,32.0,3929,10
296,"May 05, 2009",62341,NaN,NaN,32.0,3929,09
306,"Nov 02, 2017",49549,NaN,NaN,15.0,3926,17
307,"Mar 11, 2014",17255,642.0,3.7,15.0,3926,14
322,"Aug 22, 2017",3956,182.0,4.6,44.0,3955,17
323,"Sep 23, 2014",4202,NaN,NaN,44.0,3955,14
324,"July 12, 2011",3670,338.0,9.2,44.0,3955,11
327,2018,70924,18140.0,25.6,52.0,4307,18
328,2017,75391,18179.0,24.1,52.0,4307,17
329,"Aug 22, 2017",59081,NaN,NaN,34.0,38257,17
330,"Jun 03, 2014",53274,9317.0,17.5,34.0,38257,14
331,"Apr 20, 2010",44394,NaN,NaN,34.0,38257,10
332,"May 05, 2009",42988,NaN,NaN,34.0,38257,09
336,"Sep 12, 2017",20832,NaN,NaN,36.0,3946,17
337,"July 16, 2013",10288,468.0,4.5,36.0,3946,13
338,"Jun 10, 2010",10274,553.0,5.4,36.0,3946,10
343,"Nov 01, 2017",25013,2127.0,8.5,39.0,38351,17
344,"Dec 12, 2012",28583,NaN,NaN,39.0,38351,12
345,"Jun 16, 2009",20641,NaN,NaN,39.0,38351,09
350,"Aug 13, 2018",75389,17957.0,23.8,53.0,48499,18
351,"July 26, 2017",80803,21353.0,26.4,53.0,48499,17
352,"July 07, 2016",84414,19437.0,23.0,53.0,48499,16
354,"May 12, 2016",6774,NaN,NaN,38.0,26181,16
355,"Jun 24, 2010",6794,NaN,NaN,38.0,26181,10
361,"Sep 12, 2016",23085,1025.0,4.4,35.0,13648,16
362,"May 30, 2013",26621,NaN,NaN,35.0,13648,13
363,"Jun 03, 2010",24267,NaN,NaN,35.0,13648,10
368,"Oct 02, 2018",21929,NaN,NaN,NaN,14752,18
369,"Aug 08, 2013",6139,555.0,9.0,NaN,14752,13

In [50]:
df1[df1['ID'].isnull()]

,Timeframe,Volume,Truck Volume,Truck Percent,ID,TMS Site,ExtractYear
368,"Oct 02, 2018",21929,NaN,NaN,NaN,14752,18
369,"Aug 08, 2013",6139,555.0,9.0,NaN,14752,13

In [58]:
df = pd.read_excel('file:///H:\lvpcprojects\evoLVe\GIS\TrafficX\TMS%20Site%20Traffic%20Summary.xlsx')

df = df.iloc[:, :6]

df['Timeframe'] = df['Timeframe'].astype(str)

df['ExtractYear'] = df['Timeframe'].str[-2:]

df1 = df.loc[(df['ExtractYear'].astype(int) > 8 )& (df['ExtractYear'].astype(int) < 19)]

In [60]:
writer = pd.ExcelWriter('H:\lvpcprojects\evoLVe\GIS\TrafficX\BM_Filtered.xlsx')
df1.to_excel(writer)
writer.save()

In [11]:
df['Combined'] = df['Volume'].astype(str) +'Volume: ' + df['Count Year'].astype(str)

In [12]:
df.head()

,Timeframe,Volume,Truck Volume,Truck Percent,ID,TMS Site,ExtractYear,Count Year,Combined
0,"Aug 25, 2016",9041,1631.0,18.0,26,13341,16,2016,9041Volume: 2016
1,"Aug 28, 2013",9693,NaN,NaN,26,13341,13,2013,9693Volume: 2013
2,"Aug 31, 2010",8721,950.0,10.9,26,13341,10,2010,8721Volume: 2010
8,"Jun 29, 2017",6027,317.0,5.3,27,13338,17,2017,6027Volume: 2017
9,"Sep 04, 2014",6782,NaN,NaN,27,13338,14,2014,6782Volume: 2014

In [9]:
df = pd.read_excel('H:\lvpcprojects\evoLVe\GIS\TrafficX\BM_Filtered.xlsx')
df['Count Year'] = '20' + df['ExtractYear'].astype(str)

,Timeframe,Volume,Truck Volume,Truck Percent,ID,TMS Site,ExtractYear,Count Year
0,"Aug 25, 2016",9041,1631.0,18.0,26,13341,16,2016
1,"Aug 28, 2013",9693,NaN,NaN,26,13341,13,2013
2,"Aug 31, 2010",8721,950.0,10.9,26,13341,10,2010
8,"Jun 29, 2017",6027,317.0,5.3,27,13338,17,2017
9,"Sep 04, 2014",6782,NaN,NaN,27,13338,14,2014
10,"Jun 14, 2011",6596,517.0,7.8,27,13338,11,2011
17,"Sep 04, 2018",11639,NaN,NaN,5,27031,18,2018
18,"Sep 10, 2013",10972,1702.0,15.5,5,27031,13,2013
22,"Aug 02, 2016",3757,82.0,2.2,29,13516,16,2016
23,"Jun 18, 2013",4328,NaN,NaN,29,13516,13,2013
24,"Aug 31, 2010",4160,165.0,4.0,29,13516,10,2010
30,"May 24, 2017",24134,NaN,NaN,6,12627,17,2017
31,"May 21, 2014",22908,2292.0,10.0,6,12627,14,2014
32,"Aug 31, 2011",26733,NaN,NaN,6,12627,11,2011
37,"Aug 08, 2018",20654,NaN,NaN,30,32654,18,2018
38,"Oct 27, 2015",19506,2197.0,11.3,30,32654,15,2015
39,"July 11, 2012",9575,669.0,7.0,30,32654,12,2012
43,"Oct 17, 2018",59356,NaN,NaN,4,12433,18,2018
44,"May 17, 2018",16021,3477.0,21.7,4,12433,18,2018
45,"Oct 28, 2014",21506,4937.0,23.0,4,12433,14,2014
46,"Aug 04, 2011",22846,4674.0,20.5,4,12433,11,2011
52,"Sep 10, 2018",18087,NaN,NaN,56,14732,18,2018
53,"Oct 27, 2015",19795,2672.0,13.5,56,14732,15,2015
54,"Oct 17, 2012",14934,NaN,NaN,56,14732,12,2012
55,"Jun 09, 2009",14467,NaN,NaN,56,14732,9,209
58,"Nov 09, 2016",54961,NaN,NaN,14,3061,16,2016
59,"Nov 09, 2011",53731,NaN,NaN,14,3061,11,2011
67,"Sep 25, 2013",37903,14260.0,37.6,54,3073,13,2013
68,"Nov 09, 2010",50178,NaN,NaN,54,3073,10,2010
77,"Sep 07, 2017",25365,NaN,NaN,28,13336,17,2017
...,...,...,...,...,...,...,...,...
294,"Jun 04, 2014",72306,10832.0,15.0,32,3929,14,2014
295,"Apr 20, 2010",64024,NaN,NaN,32,3929,10,2010
296,"May 05, 2009",62341,NaN,NaN,32,3929,9,209
306,"Nov 02, 2017",49549,NaN,NaN,15,3926,17,2017
307,"Mar 11, 2014",17255,642.0,3.7,15,3926,14,2014
322,"Aug 22, 2017",3956,182.0,4.6,44,3955,17,2017
323,"Sep 23, 2014",4202,NaN,NaN,44,3955,14,2014
324,"July 12, 2011",3670,338.0,9.2,44,3955,11,2011
327,2018,70924,18140.0,25.6,52,4307,18,2018
328,2017,75391,18179.0,24.1,52,4307,17,2017
329,"Aug 22, 2017",59081,NaN,NaN,34,38257,17,2017
330,"Jun 03, 2014",53274,9317.0,17.5,34,38257,14,2014
331,"Apr 20, 2010",44394,NaN,NaN,34,38257,10,2010
332,"May 05, 2009",42988,NaN,NaN,34,38257,9,209
336,"Sep 12, 2017",20832,NaN,NaN,36,3946,17,2017
337,"July 16, 2013",10288,468.0,4.5,36,3946,13,2013
338,"Jun 10, 2010",10274,553.0,5.4,36,3946,10,2010
343,"Nov 01, 2017",25013,2127.0,8.5,39,38351,17,2017
344,"Dec 12, 2012",28583,NaN,NaN,39,38351,12,2012
345,"Jun 16, 2009",20641,NaN,NaN,39,38351,9,209
350,"Aug 13, 2018",75389,17957.0,23.8,53,48499,18,2018
351,"July 26, 2017",80803,21353.0,26.4,53,48499,17,2017
352,"July 07, 2016",84414,19437.0,23.0,53,48499,16,2016
354,"May 12, 2016",6774,NaN,NaN,38,26181,16,2016
355,"Jun 24, 2010",6794,NaN,NaN,38,26181,10,2010
361,"Sep 12, 2016",23085,1025.0,4.4,35,13648,16,2016
362,"May 30, 2013",26621,NaN,NaN,35,13648,13,2013
363,"Jun 03, 2010",24267,NaN,NaN,35,13648,10,2010
368,"Oct 02, 2018",21929,NaN,NaN,58,14752,18,2018
369,"Aug 08, 2013",6139,555.0,9.0,58,14752,13,2013

In [7]:
pd.pivot_table(df, values = ['Truck Volume', 'Volume'], index = 'ID', columns = 'Count Year')

           Truck Volume                                                     \
Count Year         2010    2011    2012     2013     2014    2015     2016
ID
1                   NaN   352.0     NaN      NaN      NaN     NaN      NaN
2                   NaN     NaN  1022.0      NaN      NaN  2964.0      NaN
3                   NaN     NaN     NaN   2015.0      NaN     NaN      NaN
4                   NaN  4674.0     NaN      NaN   4937.0     NaN      NaN
5                   NaN     NaN     NaN   1702.0      NaN     NaN      NaN
6                   NaN     NaN     NaN      NaN   2292.0     NaN      NaN
7                   NaN     NaN   973.0      NaN      NaN     NaN      NaN
8                   NaN     NaN     NaN      NaN      NaN     NaN      NaN
9                 331.0     NaN     NaN      NaN      NaN     NaN      NaN
10                  NaN     NaN   113.0      NaN      NaN     NaN      NaN
11                  NaN     NaN     NaN      NaN      NaN     NaN      NaN
12                  NaN     NaN     NaN      NaN  10063.0     NaN      NaN
13                  NaN     NaN     NaN      NaN  12605.0     NaN      NaN
14                  NaN     NaN     NaN      NaN      NaN     NaN      NaN
15                  NaN     NaN     NaN      NaN    642.0     NaN      NaN
16                  NaN  5602.0     NaN      NaN      NaN     NaN      NaN
17                  NaN  1527.0     NaN      NaN      NaN     NaN      NaN
18               4292.0   479.0     NaN      NaN      NaN     NaN   6598.0
19                607.0     NaN     NaN    759.0      NaN     NaN      NaN
21                  NaN     NaN   895.0      NaN      NaN     NaN      NaN
22                  NaN     NaN     NaN      NaN      NaN     NaN      NaN
23                  NaN   756.0   664.0      NaN      NaN  2172.0      NaN
24                  NaN     NaN     NaN   1904.0      NaN     NaN      NaN
25                  NaN  1166.0     NaN      NaN      NaN     NaN      NaN
26                950.0     NaN     NaN      NaN      NaN     NaN   1631.0
27                  NaN   517.0     NaN      NaN      NaN     NaN      NaN
28                982.0     NaN     NaN    871.0      NaN     NaN      NaN
29                165.0     NaN     NaN      NaN      NaN     NaN     82.0
30                  NaN     NaN   669.0      NaN      NaN  2197.0      NaN
31                761.0     NaN     NaN      NaN      NaN     NaN      NaN
32                  NaN     NaN     NaN      NaN  10832.0     NaN      NaN
33                  NaN     NaN     NaN      NaN      NaN     NaN      NaN
34                  NaN     NaN     NaN      NaN   9317.0     NaN      NaN
35                  NaN     NaN     NaN      NaN      NaN     NaN   1025.0
36                553.0     NaN     NaN    468.0      NaN     NaN      NaN
37                  NaN     NaN     NaN      NaN      NaN     NaN   1257.0
38                  NaN     NaN     NaN      NaN      NaN     NaN      NaN
39                  NaN     NaN     NaN      NaN      NaN     NaN      NaN
40                  NaN     NaN     NaN      NaN      NaN     NaN    578.0
41               1486.0     NaN     NaN   1449.0      NaN     NaN   1915.0
42                  NaN     NaN     NaN      NaN      NaN     NaN      NaN
43                  NaN     NaN     NaN      NaN      NaN  1082.0      NaN
44                  NaN   338.0     NaN      NaN      NaN     NaN      NaN
45                  NaN     NaN     NaN      NaN      NaN     NaN      NaN
46                  NaN     NaN     NaN      NaN      NaN  2055.0      NaN
47                  NaN     NaN   682.0      NaN      NaN     NaN      NaN
52                  NaN     NaN     NaN      NaN      NaN     NaN      NaN
53                  NaN     NaN     NaN      NaN      NaN     NaN  19437.0
54                  NaN     NaN     NaN  14260.0      NaN     NaN      NaN
55                  NaN     NaN     NaN      NaN    521.0     NaN      NaN
56                  NaN     NaN     NaN      NaN      NaN  2672.0      NaN
57                  NaN   230.0     NaN      NaN    221.0     NaN      NaN
58                  NaN     NaN     NaN    555.0      NaN     NaN      NaN

                                       Volume                             \
Count Year     2017     2018     209     2010     2011     2012     2013
ID
1             635.0      NaN     NaN      NaN   5959.0      NaN      NaN
2               NaN      NaN  1280.0      NaN      NaN   6156.0      NaN
3               NaN      NaN     NaN  15903.0      NaN      NaN  18699.0
4               NaN   3477.0     NaN      NaN  22846.0      NaN      NaN
5               NaN      NaN     NaN      NaN      NaN      NaN  10972.0
6               NaN      NaN     NaN      NaN  26733.0      NaN      NaN
7               NaN      NaN     NaN      NaN      NaN   8987.0      NaN
8            1058.0      NaN     NaN      NaN  19381.0      NaN      NaN
9               NaN      NaN     NaN   8093.0      NaN      NaN      NaN
10              NaN      NaN     NaN      NaN      NaN   2750.0      NaN
11              NaN      NaN  1180.0      NaN      NaN      NaN      NaN
12              NaN      NaN     NaN  78024.0      NaN      NaN      NaN
13              NaN      NaN     NaN  97431.0      NaN      NaN      NaN
14              NaN      NaN     NaN      NaN  53731.0      NaN      NaN
15              NaN      NaN     NaN      NaN      NaN      NaN      NaN
16           5520.0      NaN  5384.0  30485.0  28063.0      NaN      NaN
17           4748.0      NaN     NaN      NaN  13962.0      NaN      NaN
18            858.0      NaN     NaN  27925.0   7658.0      NaN  38252.0
19              NaN      NaN     NaN  10567.0      NaN      NaN   9954.0
21              NaN    928.0     NaN      NaN      NaN   8920.0      NaN
22            991.0      NaN  1136.0      NaN      NaN      NaN  13000.0
23              NaN      NaN     NaN      NaN  14323.0  14010.0      NaN
24              NaN      NaN     NaN  16643.0      NaN      NaN  14206.0
25           1206.0      NaN     NaN      NaN  12686.0      NaN      NaN
26              NaN      NaN     NaN   8721.0      NaN      NaN   9693.0
27            317.0      NaN     NaN      NaN   6596.0      NaN      NaN
28              NaN      NaN     NaN  11565.0      NaN      NaN  10748.0
29              NaN      NaN     NaN   4160.0      NaN      NaN   4328.0
30              NaN      NaN     NaN      NaN      NaN   9575.0      NaN
31              NaN      NaN     NaN   8199.0      NaN      NaN      NaN
32              NaN      NaN     NaN  64024.0      NaN      NaN      NaN
33              NaN   6901.0     NaN      NaN      NaN      NaN      NaN
34              NaN      NaN     NaN  44394.0      NaN      NaN      NaN
35              NaN      NaN     NaN  24267.0      NaN      NaN  26621.0
36              NaN      NaN     NaN  10274.0      NaN      NaN  10288.0
37              NaN      NaN     NaN  17807.0      NaN      NaN  16026.0
38              NaN      NaN     NaN   6794.0      NaN      NaN      NaN
39           2127.0      NaN     NaN      NaN      NaN  28583.0      NaN
40              NaN      NaN     NaN   9785.0      NaN      NaN   7923.0
41              NaN      NaN     NaN  13826.0      NaN      NaN   9938.0
42              NaN      NaN     NaN  10383.0      NaN      NaN      NaN
43              NaN      NaN     NaN      NaN      NaN      NaN      NaN
44            182.0      NaN     NaN      NaN   3670.0      NaN      NaN
45           3259.0      NaN     NaN      NaN      NaN      NaN  41931.0
46              NaN      NaN     NaN      NaN      NaN  15452.0      NaN
47              NaN      NaN     NaN      NaN      NaN  12992.0      NaN
52          18179.0  18140.0     NaN      NaN      NaN      NaN      NaN
53          21353.0  17957.0     NaN      NaN      NaN      NaN      NaN
54              NaN      NaN     NaN  50178.0      NaN      NaN  37903.0
55              NaN      NaN     NaN      NaN  13525.0      NaN      NaN
56              NaN      NaN     NaN      NaN      NaN  14934.0      NaN
57              NaN      NaN     NaN      NaN   7635.0      NaN      NaN
58              NaN      NaN     NaN      NaN      NaN      NaN   6139.0


Count Year     2014     2015     2016     2017     2018      209
ID
1            6835.0      NaN      NaN   7016.0      NaN      NaN
2               NaN  13114.0      NaN      NaN  15828.0  11844.0
3               NaN      NaN  15434.0      NaN      NaN      NaN
4           21506.0      NaN      NaN      NaN  37688.5      NaN
5               NaN      NaN      NaN      NaN  11639.0      NaN
6           22908.0      NaN      NaN  24134.0      NaN      NaN
7               NaN   6436.0      NaN      NaN      NaN      NaN
8           19478.0      NaN      NaN  20644.0      NaN      NaN
9               NaN   7943.0      NaN      NaN      NaN      NaN
10              NaN      NaN      NaN   2808.0      NaN      NaN
11          15109.0      NaN      NaN      NaN      NaN  15921.0
12          76859.0      NaN      NaN  89465.0      NaN      NaN
13          94814.0      NaN      NaN  94872.0      NaN      NaN
14              NaN      NaN  54961.0      NaN      NaN      NaN
15          17255.0      NaN      NaN  49549.0      NaN      NaN
16          30289.0      NaN      NaN  28113.0      NaN  27206.0
17          40642.0      NaN      NaN  34230.0      NaN      NaN
18          12080.0      NaN  31235.0   7917.0      NaN      NaN
19              NaN      NaN      NaN  20681.0      NaN      NaN
21              NaN  12348.0      NaN      NaN  11112.0   9343.0
22              NaN      NaN      NaN  12133.0      NaN  11167.0
23              NaN  27022.0      NaN      NaN  28835.0  26871.0
24              NaN      NaN  14947.0      NaN      NaN      NaN
25          12484.0      NaN      NaN  12192.0      NaN      NaN
26              NaN      NaN   9041.0      NaN      NaN      NaN
27           6782.0      NaN      NaN   6027.0      NaN      NaN
28              NaN      NaN      NaN  25365.0      NaN      NaN
29              NaN      NaN   3757.0      NaN      NaN      NaN
30              NaN  19506.0      NaN      NaN  20654.0      NaN
31              NaN  11310.0      NaN      NaN      NaN      NaN
32          72306.0      NaN      NaN  83572.0      NaN  62341.0
33          64514.0      NaN      NaN      NaN  60186.0      NaN
34          53274.0      NaN      NaN  59081.0      NaN  42988.0
35              NaN      NaN  23085.0      NaN      NaN      NaN
36              NaN      NaN      NaN  20832.0      NaN      NaN
37              NaN      NaN  15722.0      NaN      NaN      NaN
38              NaN      NaN   6774.0      NaN      NaN      NaN
39              NaN      NaN      NaN  25013.0      NaN  20641.0
40              NaN      NaN   7804.0      NaN      NaN      NaN
41              NaN      NaN  14039.0      NaN      NaN      NaN
42              NaN  10203.0      NaN      NaN      NaN      NaN
43              NaN   7210.0      NaN      NaN      NaN   7590.0
44           4202.0      NaN      NaN   3956.0      NaN      NaN
45              NaN      NaN      NaN  34813.0      NaN  30518.0
46              NaN  15291.0      NaN      NaN      NaN  14752.0
47              NaN      NaN  25774.0      NaN      NaN  22920.0
52              NaN      NaN      NaN  75391.0  70924.0      NaN
53              NaN      NaN  84414.0  80803.0  75389.0      NaN
54              NaN      NaN      NaN      NaN      NaN      NaN
55          14058.0      NaN      NaN  12232.0      NaN      NaN
56              NaN  19795.0      NaN      NaN  18087.0  14467.0
57           7897.0      NaN      NaN  14399.0      NaN      NaN
58              NaN      NaN      NaN      NaN  21929.0      NaN

In [8]:
pd.pivot_table(df, values = ['Volume'], index = 'ID', columns = 'Count Year')

             Volume                                                        \
Count Year     2010     2011     2012     2013     2014     2015     2016
ID
1               NaN   5959.0      NaN      NaN   6835.0      NaN      NaN
2               NaN      NaN   6156.0      NaN      NaN  13114.0      NaN
3           15903.0      NaN      NaN  18699.0      NaN      NaN  15434.0
4               NaN  22846.0      NaN      NaN  21506.0      NaN      NaN
5               NaN      NaN      NaN  10972.0      NaN      NaN      NaN
6               NaN  26733.0      NaN      NaN  22908.0      NaN      NaN
7               NaN      NaN   8987.0      NaN      NaN   6436.0      NaN
8               NaN  19381.0      NaN      NaN  19478.0      NaN      NaN
9            8093.0      NaN      NaN      NaN      NaN   7943.0      NaN
10              NaN      NaN   2750.0      NaN      NaN      NaN      NaN
11              NaN      NaN      NaN      NaN  15109.0      NaN      NaN
12          78024.0      NaN      NaN      NaN  76859.0      NaN      NaN
13          97431.0      NaN      NaN      NaN  94814.0      NaN      NaN
14              NaN  53731.0      NaN      NaN      NaN      NaN  54961.0
15              NaN      NaN      NaN      NaN  17255.0      NaN      NaN
16          30485.0  28063.0      NaN      NaN  30289.0      NaN      NaN
17              NaN  13962.0      NaN      NaN  40642.0      NaN      NaN
18          27925.0   7658.0      NaN  38252.0  12080.0      NaN  31235.0
19          10567.0      NaN      NaN   9954.0      NaN      NaN      NaN
21              NaN      NaN   8920.0      NaN      NaN  12348.0      NaN
22              NaN      NaN      NaN  13000.0      NaN      NaN      NaN
23              NaN  14323.0  14010.0      NaN      NaN  27022.0      NaN
24          16643.0      NaN      NaN  14206.0      NaN      NaN  14947.0
25              NaN  12686.0      NaN      NaN  12484.0      NaN      NaN
26           8721.0      NaN      NaN   9693.0      NaN      NaN   9041.0
27              NaN   6596.0      NaN      NaN   6782.0      NaN      NaN
28          11565.0      NaN      NaN  10748.0      NaN      NaN      NaN
29           4160.0      NaN      NaN   4328.0      NaN      NaN   3757.0
30              NaN      NaN   9575.0      NaN      NaN  19506.0      NaN
31           8199.0      NaN      NaN      NaN      NaN  11310.0      NaN
32          64024.0      NaN      NaN      NaN  72306.0      NaN      NaN
33              NaN      NaN      NaN      NaN  64514.0      NaN      NaN
34          44394.0      NaN      NaN      NaN  53274.0      NaN      NaN
35          24267.0      NaN      NaN  26621.0      NaN      NaN  23085.0
36          10274.0      NaN      NaN  10288.0      NaN      NaN      NaN
37          17807.0      NaN      NaN  16026.0      NaN      NaN  15722.0
38           6794.0      NaN      NaN      NaN      NaN      NaN   6774.0
39              NaN      NaN  28583.0      NaN      NaN      NaN      NaN
40           9785.0      NaN      NaN   7923.0      NaN      NaN   7804.0
41          13826.0      NaN      NaN   9938.0      NaN      NaN  14039.0
42          10383.0      NaN      NaN      NaN      NaN  10203.0      NaN
43              NaN      NaN      NaN      NaN      NaN   7210.0      NaN
44              NaN   3670.0      NaN      NaN   4202.0      NaN      NaN
45              NaN      NaN      NaN  41931.0      NaN      NaN      NaN
46              NaN      NaN  15452.0      NaN      NaN  15291.0      NaN
47              NaN      NaN  12992.0      NaN      NaN      NaN  25774.0
52              NaN      NaN      NaN      NaN      NaN      NaN      NaN
53              NaN      NaN      NaN      NaN      NaN      NaN  84414.0
54          50178.0      NaN      NaN  37903.0      NaN      NaN      NaN
55              NaN  13525.0      NaN      NaN  14058.0      NaN      NaN
56              NaN      NaN  14934.0      NaN      NaN  19795.0      NaN
57              NaN   7635.0      NaN      NaN   7897.0      NaN      NaN
58              NaN      NaN      NaN   6139.0      NaN      NaN      NaN


Count Year     2017     2018      209
ID
1            7016.0      NaN      NaN
2               NaN  15828.0  11844.0
3               NaN      NaN      NaN
4               NaN  37688.5      NaN
5               NaN  11639.0      NaN
6           24134.0      NaN      NaN
7               NaN      NaN      NaN
8           20644.0      NaN      NaN
9               NaN      NaN      NaN
10           2808.0      NaN      NaN
11              NaN      NaN  15921.0
12          89465.0      NaN      NaN
13          94872.0      NaN      NaN
14              NaN      NaN      NaN
15          49549.0      NaN      NaN
16          28113.0      NaN  27206.0
17          34230.0      NaN      NaN
18           7917.0      NaN      NaN
19          20681.0      NaN      NaN
21              NaN  11112.0   9343.0
22          12133.0      NaN  11167.0
23              NaN  28835.0  26871.0
24              NaN      NaN      NaN
25          12192.0      NaN      NaN
26              NaN      NaN      NaN
27           6027.0      NaN      NaN
28          25365.0      NaN      NaN
29              NaN      NaN      NaN
30              NaN  20654.0      NaN
31              NaN      NaN      NaN
32          83572.0      NaN  62341.0
33              NaN  60186.0      NaN
34          59081.0      NaN  42988.0
35              NaN      NaN      NaN
36          20832.0      NaN      NaN
37              NaN      NaN      NaN
38              NaN      NaN      NaN
39          25013.0      NaN  20641.0
40              NaN      NaN      NaN
41              NaN      NaN      NaN
42              NaN      NaN      NaN
43              NaN      NaN   7590.0
44           3956.0      NaN      NaN
45          34813.0      NaN  30518.0
46              NaN      NaN  14752.0
47              NaN      NaN  22920.0
52          75391.0  70924.0      NaN
53          80803.0  75389.0      NaN
54              NaN      NaN      NaN
55          12232.0      NaN      NaN
56              NaN  18087.0  14467.0
57          14399.0      NaN      NaN
58              NaN  21929.0      NaN

In [57]:
sorted(df1['ID'].unique())

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 nan]